-
  var specsCol1 = [
    {
      caption: 'Количество жил',
      value: '3'
    },
    {
      caption: 'Расцветка изоляции ТПЖ',
      value: 'Син, бел, ж/з'
    },
    {
      caption: 'Напряжение, В',
      value: '660'
    },
    {
      caption: 'Температура эксплуатации, °С',
      value: 'От -30 до +50'
    },
    {
      caption: 'Температура монтажа, °С',
      value: 'До -15'
    },
    {
      caption: 'Сфера применения',
      value: 'Для стационарной прокладки'
    },
    {
      caption: 'Описание',
      value: 'Кабель силовой для стационарной прокладки внутри помещений'
    },
    {
      caption: 'Номинальное сечение жилы, мм2',
      value: '10'
    },
    {
      caption: 'Гарантийный срок, мес',
      value: '60'
    },
    {
      caption: 'Основание для производства',
      value: 'ТУ 3521-001-12350648-2010'
    },
    {
      caption: 'Минимальная длина заказа, м',
      value: '500'
    }   
  ];

  var specsCol2 = [
     {
      caption: 'Материал изоляции',
      value: 'ПВХ пластикат пониженной пожароопасности с низким дымо-газовыделением'
    },
    {
      caption: 'Материал оболочки',
      value: 'ПВХ пластикат пониженной пожароопасности с низким дымо-газовыделением'
    },
    {
      caption: 'Конструкция жилы',
      value: 'Однопроволочная'
    },
    {
      caption: 'Форма жилы',
      value: 'Круглая'
    },
    {
      caption: 'Наличие брони',
      value: 'Нет'
    },
    {
      caption: 'Наличие экрана',
      value: 'Нет'
    },
    {
      caption: 'Минимальный радиус изгиба',
      value: '7,5 наружных диаметров'
    },
    {
      caption: 'Диаметр изделия, мм (ном.)',
      value: '15.8'
    }
  ];

  var tabs = [
    {
      'id': 'tab00',
      'text': 'Трехжильный',
      'isActive': true,
    },
    {
      'id': 'tab01',
      'text': 'Четырехжильный',
    },
    {
      'id': 'tab02',
      'text': 'Пятижильный',
    },
    {
      'id': 'tab03',
      'text': 'Двужильный',
    },
  ];
  var products = [
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х1,5 -0,66',
      img: 'subcat-product-img-1.png'
    },
    /*{
      cat: 'NUMнг(А)-LS-J',
      name: '3х10,0ок -0,66',
      img: 'subcat-product-img-1.png'
    },*/
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х16мк -0,66',
      img: 'subcat-product-img-2.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х2,5 -0,66',
      img: 'subcat-product-img-1.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х4,0 -0,66',
      img: 'subcat-product-img-1.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х6,0 -0,66',
      img: 'subcat-product-img-1.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х4,0 -0,66',
      img: 'subcat-product-img-1.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х6,0 -0,66',
      img: 'subcat-product-img-1.png'
    }
  ];

  var products_tab2 = [
    /*{
      cat: 'NUMнг(А)-LS-J',
      name: '3х10,0ок -0,66',
      img: 'subcat-product-img-1.png'
    },*/
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х4,0 -0,66',
      img: 'subcat-product-img-1.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х2,5 -0,66',
      img: 'subcat-product-img-1.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х6,0 -0,66',
      img: 'subcat-product-img-1.png'
    }
  ];

  var products_tab3 = [
    /*{
      cat: 'NUMнг(А)-LS-J',
      name: '3х10,0ок -0,66',
      img: 'subcat-product-img-1.png'
    },*/
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х2,5 -0,66',
      img: 'subcat-product-img-1.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х16мк -0,66',
      img: 'subcat-product-img-2.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х4,0 -0,66',
      img: 'subcat-product-img-1.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х6,0 -0,66',
      img: 'subcat-product-img-1.png'
    }
  ];

  var products_tab4 = [
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х2,5 -0,66',
      img: 'subcat-product-img-1.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х4,0 -0,66',
      img: 'subcat-product-img-1.png'
    }
  ];