// В этом файле должны быть стили для БЭМ-блока footer-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.footer-nav {

  $block-name: &; // #{$block-name}__element

  position: relative;
  z-index: 10;

  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__wrapper {
    display: flex;
  }

  &__column {
    flex-shrink: 0;

    &--col1 {
      width: 213px;
      padding-right: 40px;
    }

    &--col2 {
      width: 136px;
      padding-right: 20px;

      .footer-nav__list {
        max-width: 100%;
      }
    }

    &--col3 {
      width: 136px;
      padding-right: 0px;
    }
  }

  &__column-title {
    display: block;
    font-size: 20px;
    line-height: 21px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    margin-bottom: 24px;

    svg {
      display: none;
    }
  }

  &__item {
    position: relative;
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }

    &--hidden {
      display: none;
    }

    &--active {

      & > #{$block-name}__link {
        color: #000;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    text-decoration: none;
    color: #222221;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;

    &:hover,
    &:focus {
      z-index: 1;
      text-decoration: none;
      color: $color-main;
    }

    &--more {
      display: inline;
      border-bottom: 1px dashed $blue;
    }
  }

  // переключатель

  &__toggler {
    display: inline-block;
    border: none;
    padding: 0;
    background: none;

    @media (min-width: $menu-desktop-width) {
      display: none;
    }

    .no-js & {
      display: none;
    }
  }

  @media (max-width: $screen-xl - 1) {
    &__wrapper {
      display: block;
    }
    
    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      margin-top: 13px;
    }

    &__link {
      font-size: 14px;
      line-height: 22px;
    }

    &__column {
      flex: auto;
      padding: 0;

      &--col1 {
        border-bottom: 1px solid #6281b7;
        padding-bottom: 19px;
        margin-bottom: 21px;
        width: 100%;
      }

      &--col2 {
        width: 100%;
      }

      &--col3 {
        width: 100%;
        padding-top: 13px;
      }
    }

    &__column-title {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 13px;
    }
  }

  /*@media (max-width: $screen-md - 1) {
    &__wrapper {
      flex-direction: column;
      gap: 24px;
    }

    &__column {
      width: auto;

      &--show {
        #{$block-name}__list {
          display: flex;
        }

        #{$block-name}__column-title svg {
          transform: rotate(180deg);
        }
      }
    }

    &__column-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
      margin-bottom: 10px;

      svg {
        display: block;
      }
    }

    &__list {
      display: none;
      flex-wrap: wrap;
    }

    &__item {
      padding: 10px 0;
      margin: 0;
    }

    &__link {
      font-size: 16px;
      line-height: 17px;
    }
  }*/
}
