-
  var footMenuCol1 = [
    {
      "id": "0",
      "name": "Кабель силовой",
      "url": "catalog.html#power-cable"
    },
    {
      "id": "10",
      "name": "Кабель контрольный",
      "url": "catalog.html#control-cable"
    },
    {
      "id": "20",
      "name": "Провод",
      "url": "catalog.html#wire"
    }
  ];

  var footMenuCol2 = [
    {
      "id": "0",
      "name": "О заводе",
      "url": "about.html"
    },
    {
      "id": "10",
      "name": "Проекты",
      "url": "projects.html",
    },
    {
      "id": "20",
      "name": "Новости",
      "url": "news.html",
    },
    {
      "id": "30",
      "name": "Наличие и распродажа",
      "url": "documents-availability.html",
    }
  ];

  var footMenuCol3 = [
    {
      "id": "0",
      "name": "Где купить",
      "url": "where-to-buy.html"
    },
    {
      "id": "10",
      "name": "Документация",
      "url": "documents.html",
    },
    {
      "id": "20",
      "name": "Вакансии",
      "url": "vacancies.html"
    },
    {
      "id": "30",
      "name": "ОКЛ",
      "url": "okl.html",
    }
  ];