// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.

// stylelint-disable plugin/selector-bem-pattern

// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {
    @-ms-viewport {
        // stylelint-disable-line
        width: device-width;
    }
}

@include font-face('Sukothai', '☺', sukothai, 400, normal);
@include font-face('Suisse Intl Book', '☺', SuisseIntl-Book, 400, normal);
@include font-face('Suisse Intl', '☺', SuisseIntl-Bold, 700, normal);
@include font-face('Suisse Intl', '☺', SuisseIntl-BoldItalic, 700, italic);
@include font-face('Suisse Intl', '☺', SuisseIntl-Medium, 500, normal);
@include font-face('Suisse Intl', '☺', SuisseIntl-Regular, 400, normal);
@include font-face('Suisse Intl', '☺', SuisseIntl-RegularItalic, 400, italic);
@include font-face('Suisse Intl', '☺', SuisseIntl-SemiBold, 600, normal);

@include font-face('Quasimoda', '☺', quasimoda-regular, 400, normal);
@include font-face('Rub', '☺', arialrub, 400, normal);

/* stylelint-enable */

html, body {
    min-height: -webkit-fill-available;
}

.page {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%; // stylelint-disable-line
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-padding-top: $header-height;

    @media (max-width: 1000px) {
        scroll-padding-top: $header-height-mobile;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background: $body-bg;
    }

    &__content {
        position: relative;
        flex-grow: 1;
    }

    &__footer {
        flex-shrink: 0;
    }

    &__image {
        position: relative;
        margin-bottom: 32px;

        &:before {
            content: '';
            display: block;
            padding-top: 74.32%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media (max-width: 1000px) {
            margin-bottom: 24px;

            &:before {
                padding-top: 70.28%
            }
        }
    }

    &__description {
        font-weight: 500;
        font-size: 32px;
        line-height: 110%;
        margin-bottom: 64px;

        @media (max-width: 1000px) {
            font-size: 20px;
            margin-bottom: 24px;
        }
    }

    &.menu-opened {
        overflow: hidden;
        padding-right: var(--scrollbar-width);

        body {
            overflow: hidden;
        }
    }

    &.filter-opened {
        @media (max-width: 1000px) {
            overflow: hidden;

            /*body {
                overflow: hidden;
                position: absolute;
                top: 0;
                // right: 0;
                // bottom: 0;
                left: 0;
                width: 100%;
                // height: 100%;
            }*/
        }
    }

    &--catalog {
        .page__inner {
            display: contents;
        }

        .page__heading {
            position: sticky;
            top: $header-height;
            background: white;
            z-index: 20;
            overflow: hidden;

            @media (max-width: 1000px) {
                position: static;
                top: unset;
            }
        }
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    //display: flex; // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
    //flex-direction: column; // и прижимаем footer в IE 10-11
    min-height: 100%;
    //height: 100%;
    margin: 0;
    word-break: break-word;
    font-family: $font-family;
    font-weight: 500;
    font-size: $font-size;
    line-height: $line-height;
    text-align: left;
    color: $text-color;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[tabindex='-1']:focus {
    outline: none !important; // stylelint-disable-line
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
    cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none; // stylelint-disable-line
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
    touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
    margin: 0; // Убираем margin в Firefox и Safari
}

button,
input {
    overflow: visible; // Покажем торчащее в Edge
    text-transform: none; // Уберём наследование text transform в Firefox
}

// Коррекция проблем стилизации для Safari
button,
html [type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button; // stylelint-disable-line
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

// Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
    -webkit-appearance: listbox; // stylelint-disable-line
}

textarea {
    overflow: auto; // Удаление верт. скролла в IE.
    resize: vertical; // Правильное изменение размеров
}

svg {
    fill: currentColor;

    a &,
    button & {
        pointer-events: none; // Мы любим Edge, это браузер! (почти)
    }

    &:not(:root) {
        overflow: hidden; // Скрыть выступающее за границы в IE
    }
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: $link-color;
    text-decoration: underline;

    &:focus, &:hover {
        color: $link-color--hover;
    }
}

p a {
    color: #66A9CB;
    text-decoration: none;

    &:focus, &:hover {
        color: #66A9CB;
        text-decoration: underline;
    }
}

hr {
    box-sizing: content-box; // Проблема Firefox
    height: 0; // Проблема Firefox
    margin-top: $typo-margin-vertical * 2;
    margin-bottom: $typo-margin-vertical * 2;
    border: 0;
    border-top: 1px solid $border-color;
    overflow: visible; // Проблема Edge и IE
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: $typo-margin-vertical 0;
    font-family: $font-family;
    font-weight: 500;
    color: currentColor;
    line-height: 1.5;
}

h1 {
    font-size: 56px;
    line-height: 100%;
    text-transform: uppercase;
    margin: 16px 0 48px;

    @media (max-width: 1000px) {
        margin: 12px 0 24px;
        font-weight: 500;
        font-size: 34px;
        line-height: 100%;
    }
}

h2 {
    font-size: 32px;
    line-height: 110%;
    margin: 0 0 32px;

    @media (max-width: 1000px) {
        font-size: 20px;
        margin: 0 0 16px;
    }
}

h3, h4, h5, h6 {
    font-size: 30px;
    line-height: 40px;
}

// stylelint-disable-line

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
    margin-top: 0;
    margin-bottom: $typo-margin-vertical;
}

p {
    // http://clagnut.com/blog/2395
    hyphens: none;
    hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
}

address {
    font-style: normal;
}

ul,
ol {
    margin-bottom: $typo-margin-vertical;
    padding-left: 22px;

    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
    }

    li {
        line-height: inherit;
        margin-bottom: 17px;

        &::marker {
            color: inherit;
            font-size: 15px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 5px 15px;
    border: 1px solid black;
}

// dt {
//   font-weight: 700;
// }

// dd {
//   margin-left: 0;

//   @media (min-width: $screen-sm) {
//     margin-left: 1.5rem;
//   }

//   & + dt {
//     margin-top: ($line-height / 2);
//   }
// }

// .small,
small {
    font-size: $font-size-sm;
}

sub,
sup {
    font-size: $font-size-xs;
}

// .mark,
// mark {
//   background: rgba($color-warning, 0.3);
//   padding: 0.1em 0.3em;
// }

b,
strong {
    font-weight: 700;
}

// abbr[title] {
//   text-decoration: underline dotted;
// }

blockquote {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.41em;
    padding: 1px 10px 3px 36px;
    border-left: 3px solid #ec5c1a;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.54;

    p {

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media (max-width: $screen-xl) {
        padding-top: 2px;
        padding-bottom: 4px;
        padding-left: 19px;
        font-size: 18px;
        line-height: 28px;
    }
}

// samp,
code,
kbd,
pre {
    font-family: $font-family--monospace;
}

code {
    padding: 0.06em 0.3em;
    color: $text-color;
    background-color: rgba(#000, 0.08);
    border-radius: $border-radius;
}

kbd {
    padding: 0.06em 0.3em;
    color: $text-color;
    background-color: #eee;
    border-radius: $border-radius;

    kbd {
        padding: 0;
    }
}

pre {
    display: block;
    width: 100%;
    margin-bottom: $typo-margin-vertical;
    overflow-x: auto;
    tab-size: 2;
    background-color: rgba(#000, 0.08);

    code {
        background: transparent;
    }
}

.rub {
    font-family: 'Rub', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}

.container {
    width: 100%;
    max-width: $container-xl;
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter-x;
    padding-right: $gutter-x;
    box-sizing: border-box;

    .page--product &,
    .page--catalog & {
        width: 1526px;
        max-width: 100%;
    }

    .lang-ru & {
        width: 1526px;
        max-width: 100%;

        @media (min-width: 1000px) and (max-width: 1500px) {
            padding-left: 50px;
            padding-right: 50px;
        }

        @media (max-width: 1000px) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.hidden-desktop {
    @media (min-width: 1001px) {
        display: none;
    }
}

.hidden-mobile {
    @media (max-width: 1000px) {
        display: none;
    }
}

.bg-white {
    background: $white;
}

.lg-backdrop {
    background: rgba(0,0,0,0.5);
}

:root {
    --breakpoint: #{$screen-xl};
}

.row {
    display: flex;
    gap: 16px;

    @at-root .breadcrumbs + & {
        margin-top: 16px;

        @media (max-width: 1000px) {
            margin-top: 12px;
        }
    }

    @media (max-width: 1000px) {
        flex-direction: column;
        gap: 24px;

        .col > :last-child {
            margin-bottom: 0;
        }
    }
}

.col {
    flex: 1;

    h1 {
        margin-top: 0;
    }
}