//- Все примеси в этом файле должны начинаться c имени блока (products-slider)

mixin products-slider(data, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +products-slider('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' products-slider--' + modsList[i].trim();
      }
    }

  .products-slider(class=allMods)&attributes(attributes)
    .products-slider__in
      .swiper
        .swiper-wrapper
          each p in data
            - var imgUrl = 'img/' + p.img;
            
            .swiper-slide
              .products-slider__item
                a(href="product.html").product-card
                  .product-card__category #{p.cat}
                  .product-card__name #{p.name}
                  .product-card__image
                    img(src=imgUrl alt="")

      +nav-arrows()