-
  var submenu1_col1 = [
    "NUM",
    "NUMнг(А)-LS",
    "ВБШвнг(А)-FRLS",
    "ВБШвнг(А)-LS",
    "ВВГЭнг(А)-FRLS",
    "ВВГЭнг(А)-LS",
    "ВВГнг(А)-FRLS",
    "ВВГнг(А)-FRLSLTx",
    "ВВГнг(А)-LS",
    "ВВГнг(А)-LSLTx",
    "КГ",
    "КГ-ХЛ",
    "КГВВнг(А)",
  ];

  var submenu1_col2 = [
    "КГВВнг(А)-LS",
    "КГВВэнг(А)",
    "КГВВэнг(А)-LS",
    "КГТП",
    "КГТП-ХЛ",
    "ППГЭнг(А)-FRHF",
    "ППГЭнг(А)-HF",
    "ППГнг(А)-FRHF",
    "ППГнг(А)-FRHF-ХЛ",
    "ППГнг(А)-HF",
    "ППГнг(А)-HF-ХЛ",
    "ПвПГнг(А)-FRHF",
    "ПвПГнг(А)-HF",
  ];

  var submenu2_col1 = [
    "КВБбШвнг(А) -LS",
    "КВВГнг(А)-FRLS",
    "КППГнг(А)-FRHF",
    "КВБбШвнг(А)-FRLS",
    "КВВГнг(А)-LS",
  ];

  var submenu2_col2 = [
    "КППГнг(А)-HF",
    "КВВГЭнг(А)-FRLS",
    "КППГЭнг(А)-FRHF",
    "КВВГЭнг(А)-LS",
    "КППГЭнг(А)-HF",
  ];

  var submenu3_col1 = [
    "ПВС",
    "ПуГВнг(А)--LS",
  ];

  var submenu3_col2 = [
    "ПуГВ",
    "ПуГВнг(А)--LS"
  ];