// В этом файле должны быть стили для БЭМ-блока file-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.file-block {
  $block-name: &; // #{$block-name}__element

  border: 1px solid #f5f3f4;
  border-radius: 4px;
  padding: 37px 45px;
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: all .3s;
  text-decoration: none;

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #313132;
    margin-bottom: 26px;
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    margin-left: auto;
    margin-top: auto;

    svg {
      vertical-align: middle;
      margin-left: 8px;
    }
  }

  &:hover {
    box-shadow: 0 0 35px 0 rgba(0,27,56,.05);
  }

  @media (max-width: $screen-xl - 1) {
    padding: 27px 29px;

    &__title {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 23px;
    }

    &__link svg {
      margin-left: 10px;
    }
  }

  @media (max-width: $screen-md - 1) {
    padding: 22px 18px;
    min-height: 168px;

    &__title {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 15px;
    }
  }
}
