-
  var tabs = ["Трехжильный", "Четырехжильный", "Пятижильный", "Двужильный"];
  var products = [
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х1,5 -0,66',
      img: 'subcat-product-img-1.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х10,0ок -0,66',
      img: 'subcat-product-img-1.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х16мк -0,66',
      img: 'subcat-product-img-2.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х2,5 -0,66',
      img: 'subcat-product-img-1.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х4,0 -0,66',
      img: 'subcat-product-img-1.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х6,0 -0,66',
      img: 'subcat-product-img-1.png'
    }
  ];

  var products_tab2 = [
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х10,0ок -0,66',
      img: 'subcat-product-img-1.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х2,5 -0,66',
      img: 'subcat-product-img-1.png'
    }
  ];

  var products_tab3 = [
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х10,0ок -0,66',
      img: 'subcat-product-img-1.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х16мк -0,66',
      img: 'subcat-product-img-2.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х4,0 -0,66',
      img: 'subcat-product-img-1.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х6,0 -0,66',
      img: 'subcat-product-img-1.png'
    }
  ];

  var products_tab4 = [
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х2,5 -0,66',
      img: 'subcat-product-img-1.png'
    },
    {
      cat: 'NUMнг(А)-LS-J',
      name: '3х4,0 -0,66',
      img: 'subcat-product-img-1.png'
    }
  ];