-
  var categories = [
    {
      title: "КВБбШвнг(А) -LS",
      cores: [5,7]
    },
    {
      title: "КВБбШвнг(А) -LS",
      cores: [10,14,27,19,4,5,7,2,3]
    },
    {
      title: "КППГнг(А)-FRHF",
      cores: [5,7]
    },
    {
      title: "КВБбШвнг(А)-FRLS",
      cores: [10,14,27,19,4,5,7]
    },
    {
      title: "КВВГнг(А)-LS",
      cores: [5,7]
    },
    {
      title: "КППГнг(А)-HF",
      cores: [10,14,27,19,4,5,7]
    },
    {
      title: "КВБбШвнг(А) -LS",
      cores: [5,7]
    },
    {
      title: "КВВГЭнг(А)-LS",
      cores: [10,14,27,19,4,5,7]
    },
    {
      title: "КППГЭнг(А)-HF",
      cores: [5,7]
    }
  ];