// В этом файле должны быть стили для БЭМ-блока category, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.category {

  $block-name:                &; // #{$block-name}__element

  padding-bottom: 100px;

  .page-title {
    margin-bottom: 24px;
  }

  .breadcrumbs {
    margin-bottom: 22px;
  }  
}

.page--category-main {
  .page__content {
    background-color: #f5f5f5;
  }
}

@media (max-width: $screen-md - 1) {
  .category {
    padding-bottom: 60px;

    .page-title {
      margin-bottom: 20px;
    }
  }
}