// В этом файле должны быть стили для БЭМ-блока catalog-filter, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.catalog-filter {
    $block-name: &; // #{$block-name}__element

    display: none;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 62px;

    &__inner {
        display: flex;
        gap: 64px;
        justify-content: space-between;

        .lang-ru & {
            gap: 48px;
        }
    }

    &.active {
        display: block;
    }

    &__footer, &__header {
        display: none;
    }

    @media (min-width: 1000px) and (max-width: 1500px) {
        @at-root .lang-ru {
            #{$block-name}__inner {
                display: grid;
                grid-template-columns: 20fr 10fr 15fr 12fr;

                flex-wrap: wrap;

                & > * {
                    flex: 1;
                }
            }
        }
    }

    @media (max-width: 1000px) {
        &.active {
            position: fixed;
            top: 0;
            left: 0;
            background: #fff;
            z-index: 100;
            right: 0;
            bottom: 0;
            margin: 0!important;
            width: 100vw;
            height: 100vh;
            padding: 20px 16px 32px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }

        &__header {
            margin-bottom: 32px;
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            font-size: 20px;
            line-height: 110%;
            padding-bottom: 13px;
            border-bottom: 1px solid #000;
        }

        &__inner {
            margin-bottom: 32px;
            flex-direction: column;
            gap: 24px;
        }

        &__footer {
            display: block;
            margin-top: auto;
        }

        &__close {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 6L6 18' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 6L18 18' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            display: block;
            width: 24px;
            height: 24px;
        }

        &__results {
            width: 100%;
            text-align: center;
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;
            color: #8A9199;
            margin-bottom: 16px;
        }

        &__submit {
            width: 100%;
        }
    }
}

.catalog-filter-button {
    width: 180px;

    &.active {
        background: #1A1A1A;
        color: #fff;
    }

    @media (max-width: 1000px) {
        width: 100%;

        &.active {
            display: none;
        }
    }
}

.catalog-filter-group {
    &__title {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 16px;
    }

    &__items {
        display: flex;
        gap: 8px 16px;
        flex-wrap: wrap;
    }

    &__price {
        width: 234px;

        .field-range {
            margin: 0;
        }

        .field-range__label:after {
            content: ' €';
        }

        .lang-ru & {
            width: 180px;

            .field-range__label:after {
                content: ' ₽';
            }
        }
    }

    &--column &__items {
        flex-direction: column;
    }

    &--two-columns &__items {
        columns:  2;
        display: block;

        .catalog-filter-checkbox {
            margin-bottom: 8px;
        }
    }

    &--checkbox-image {
        .catalog-filter-group__items {
            .lang-ru & {
                //flex-wrap: nowrap;
            }
        }
    }

    &--checkbox {
        .catalog-filter-group__items {
            flex-direction: column;
        }
    }

    &--type, &--style {flex: 17;}
    &--design {flex: 9;}
    &--metal {flex: 13;}
    &--stone {flex: 10;}
    &--stone_shape {flex: 7;}
    &--personal, &--stone_size {flex: 4;}

    @media (max-width: 1000px) {
        &__title {
            font-size: 18px;
            line-height: 120%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;

            &[data-mobile-text] {
                font-size: 0;

                &:before {
                    content: attr(data-mobile-text);
                    font-size: 18px;
                }
            }

            &:after {
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 5.34375L6 8.54975L9 5.34375' stroke='%231A1A1A' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                content: '';
                display: block;
                width: 12px;
                height: 14px;
                transition: transform 0.3s;
            }

            &.active:after {
                transform: rotate(90deg);
            }
        }

        &__input {
            margin-top: 24px;
            flex-direction: column;
            gap: 20px;
            padding-left: 28px;
            padding-right: 28px;
            width: auto;
            display: none;

            &.active {
                display: flex;
            }
        }

        &--two-columns &__items {
            display: none;
            columns: 1;

            &.active {
                display: flex;
            }
        }

        &--design, &--price {
            display: none;
        }
    }
}

.catalog-filter-checkbox {
    $block-name: &; // #{$block-name}__element

    width: 100%;
    font-size: 0;
    line-height: 0;

    &__input {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    &__label {
        display: flex;
        gap: 12px;
        word-break: normal;
        align-items: baseline;
        cursor: pointer;
        font-size: 14px;
        line-height: 1.2em;

        &:before {
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            border: 1px solid #000;
            flex: none;
        }
    }

    &__input:checked + &__label:before {
        background: black;
    }

    &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.1px;
    }

    &__image {
        display: none;
        height: 28px;
        max-width: 58px;
        object-fit: contain;
    }

    &__color {
        width: 34px;
        height: 34px;
        border-radius: 50%;

        &--white {
            background: #E7E9EB;
        }

        &--yellow {
            background: #D6AF5E;
        }

        &--rose {
            background: #DDAE81;
        }

        &--mixed {
            background: linear-gradient( 90deg, #E7E9EB, #E7E9EB 50%, #D6AF5E 50% );
        }
    }

    &__count,
    &__title--products-count {
        display: inline;
        font-size: 8px;
        vertical-align: super;
        margin-left: 4px;
    }

    &__input:disabled {
        display: none;
    }

    &__input:disabled + &__label {
        display: none;
    }

    &__input:not(:checked) + &__label &__title,
    &__input:not(:checked) + &__label &__title {
        color: #8A9199;
    }

    &__input:disabled + &__label &__title {
        color: #E7E9EB;
    }

    &--image &__input:checked + &__label &__title,
    &--color &__input:checked + &__label &__title {
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -4px;
            left: -1px;
            right: -2px;
            height: 2px;
            border-radius: 1px;
            background: #1A1A1A;
        }
    }

    &:hover &__input:not(:disabled) + &__label &__title {
        color: #1A1A1A;
    }

    &--image,
    &--color {
        width: auto;
    }

    &--image &__label,
    &--color &__label {
        flex-direction: column;
        align-items: center;
        gap: 9px;
    }

    &--image &__label:before,
    &--color &__label:before {
        display: none;
    }

    &--image &__title,
    &--color &__title {
        font-size: 12px;
        line-height: 120%;
        position: relative;
    }

    &--image &__image {
        display: block;
    }

    .lang-ru & {
        width: max-content;
    }

    &--hidden {
        display: none;
    }

    @media (max-width: 1000px) {
        &__image, &__color {
            order: 9;
        }

        &__image {
            width: 60px;
        }

        &--image &__label:before,
        &--color &__label:before {
            display: block;
        }

        &--image &__input:checked + &__label &__title,
        &--color &__input:checked + &__label &__title {
            &:after {
                display: none;
            }
        }


        &--image &__label,
        &--color &__label {
            flex-direction: row;
            align-items: center;
        }

        &--image &__title,
        &--color &__title {
            font-size: 14px;
            line-height: 140%;
            width: 130px;
        }

        .catalog-filter-group--stone_shape &__image {
            display: block;
        }

        .catalog-filter-group--stone_shape &__label {
            align-items: center;
        }

        .catalog-filter-group--stone_shape &__title {
            width: 130px;
        }
    }
}