// В этом файле должны быть стили для БЭМ-блока main-about, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.main-about {

  $block-name:                &; // #{$block-name}__element
  
  padding-top: 86px;
}


.main-about-text {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 67px;

  &__left {
    width: 600px;
    padding-right: 9px;
  }

  &__right {
    width: 600px;
    padding-right: 11px;
    padding-top: 6px;

    p {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title-orange {
    font-size: 48px;
    line-height: 62px;
    font-weight: 600;
    color: $orange;
    text-transform: uppercase;
  }

  &__title-black {
    font-size: 87px;
    line-height: 1em;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: -18px;
      left: 2px;
      width: 585px;
      height: 66px;
      background-color: #fff;
      clip-path: polygon(0 0, calc(100% - 25px) 0%, 100% 100%, 0% 100%);
      z-index: 1;
    }

    span {
      position: relative;
      z-index: 2;
    }
  }
}

.work-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;  

  &__item {
    width: 50%;
  }
}

.work-item {
  display: block;
  position: relative;
  min-height: 364px;
  height: 100%;

  &__img {
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $blue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__main {
    margin-left: 50%;
    height: 100%;
    font-size: 16px;
    line-height: 22px;
    padding: 46px 45px 47px 40px;
    background-color: #fff;
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
  }

  &__description {
    margin-top: 14px;
  }

  &__icon {
    font-size: 0;
    line-height: 0;
    margin-bottom: 20px;

    img {
      height: 66px;
    }
  }
}

.work-listing__item {
  &:nth-child(4n+3),
  &:nth-child(4n+4) {
    .work-item {
      &__img {
        left: 50%;
      }

      &__main {
        margin-left: 0;
        margin-right: 50%;
      }
    }
  }
}

@media (max-width: $screen-xl - 1) {
  .main-about {
    padding-top: 52px;
  }

  .main-about-text {
    display: block;
    padding-bottom: 27px;

    &__left {
      width: 100%;
      padding-right: 0;
    }

    &__right {
      width: 100%;
      padding-top: 33px;
      padding-right: 0;

      p {
        margin-bottom: 22px;
      }
    }

    &__title {
      &-orange {
        font-size: 36px;
        line-height: 46px;
      }
      
      &-black {
        font-size: 50px;
        line-height: 56px;
        display: inline-block;

        &::before {
          width: unset;
          right: -23px;
          height: 24px;
          bottom: -3px;
          clip-path: polygon(0 0, calc(100% - 12px) 0%, 100% 100%, 0% 100%);
        }
      }
    }
  }

  .work-item {
    min-height: 200px;

    &__title {
      font-size: 17px;
      line-height: 20px;
    }

    &__description {
      display: none;
    }

    &__icon {
      margin-bottom: 14px;

      img {
        height: 50px;
      }
    }
  }
}

@media (max-width: $screen-lg - 1) {
  .work-listing {
    &__item {
      width: 100%;
      margin-top: -1px;

      &:first-child {
        margin-top: 0;
      }

      &:nth-child(4n+2) {
        .work-item {
          &__img {
            left: 50%;
          }

          &__main {
            margin-left: 0;
            margin-right: 50%;
          }
        }
      }

      &:nth-child(4n+3) {
        .work-item {
          &__img {
            left: 0%;
          }

          &__main {
            margin-left: 50%;
            margin-right: 0;
          }
        }
      }

    }
  }

  .work-item {
    &__img {
      border: 1px solid #f5f5f5;
    }

    &__main {
      padding: 20px 10px 20px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }
}