// В этом файле должны быть стили для БЭМ-блока slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.slider {
    $block-name: &; // #{$block-name}__element

    user-select: none;
    padding: 0 6px;

    &__inner {
        position: relative;
        height: 32px;
    }

    &__handle {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(0);
        width: 12px;
        height: 12px;
        background: #66a9cb;
        border-radius: 50%;
        margin-left: -6px;
        cursor: pointer;
        will-change: transform;
        transition: transform 300ms;
    }

    &__input {
        display: none;
    }

    &__track {
        height: 1px;
        background: #8a9199;
        position: absolute;
        top: 6px;
        left: 0;
        width: 100%;
    }

    &__steps {
        position: absolute;
        top: 18px;
        width: 100%;
        left: 0;
    }

    &__step, &__current {
        position: absolute;
        top: 0;
        font-size: 12px;
        letter-spacing: -0.1px;
        transform: translateX(-50%);
        word-break: normal;
        width: min-content;
        text-align: center;
    }

    &__current {
        left: 50%;
        width: max-content;
    }

    &__step {
        cursor: pointer;

        &:before {
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            border: 1px solid #8a9199;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            top: -18px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @media (max-width: 1000px) {
        &__step {
            &:first-child {
                transform: translateX(0);
                margin-left: -6px;

                &:before {
                    left: 0;
                    margin-left: 6px;
                }
            }

            &:last-child {
                transform: translateX(-100%);
                margin-left: 6px;
                text-align: right;

                &:before {
                    left: 100%;
                    margin-left: -6px;
                }
            }
        }
    }
}
