//- Все примеси в этом файле должны начинаться c имени блока (category-description)

mixin category-description(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +category-description('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' category-description--' + modsList[i].trim();
      }
    }

  .section.category-description(class=allMods)&attributes(attributes)
    .container
      .row
        .col.col-12.col-lg-6
          .category-description__img.js-sticky
            img(src="img/category-description.jpg" alt="")

        .col.col-12.col-lg-6
          .category-description__content.text-content
            h2 область применения
            p Кабель марки NUMнг(А)-LS может использоваться для бытового и промышленного монтажа электрического освещения в  строительных конструкциях зданий и сооружений в сухих, влажных и сырых  помещениях, внутри и снаружи кирпичных или бетонных стен, за исключением прямой заделки в сырой бетон.

            h2 описание

            p Сердечник кабеля представляет собой скрученные изолированные  токопроводящие жилы, изоляция которых выполнена из поливинилхлоридного  пластиката пониженной пожарной опасности, поверх которых наложена  поясная изоляция из высоконаполненной полимерной композиции не  содержащей галогенов. Оболочка кабеля выполнена из поливинилхлоридного  пластиката пониженной пожарной опасности, светло-серого цвета.

            p Токопроводящая жила — медная, круглой формы, соответствует  классам 1 или 2 по ГОСТ 22483. Токопроводящие жилы сечением до 10 мм2 включительно — однопроволочные, сечением свыше 10 мм2 — многопроволочные. Кабели могут быть проложены в строительных  конструкциях зданий и сооружений, в сухих, влажных и сырых помещениях,  внутри и снаружи  кирпичных или бетонных стен, за исключением прямой  заделки в сырой бетон.

            ul
              li Температура прокладки и/или перемотки: не ниже минус 15°С;
              li Вид климатического исполнения: УХЛ;
              li Допустимый радиус изгиба многожильных кабелей при прокладке должен быть  не менее 7,5Dн, одножильных -10Dн, где Dн — наружный диаметр кабеля.
              li Основная тара для изделий номиналом от 2х1,5 до 5х6 – бухта, для прочих – деревянный барабан.
              li Маркировка нанесена на поверхность наружной оболочки изделия печатным способом, через равномерные промежутки.

            p Длительно допустимая температура нагрева жил кабелей, допустимый нагрев жил в аварийном режиме, допустимые токи короткого замыкания,  соответствуют требованиям ГОСТ 31996.