// В этом файле должны быть стили для БЭМ-блока category-description, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.category-description {

  $block-name:                &; // #{$block-name}__element
  background-color: #fff;
  //padding-bottom: 93px;
  padding-bottom: 0;

  &__img {
    width: 591px;
    padding-top: 12px;
    font-size: 0;
    line-height: 0;
  }

  &__content {
    padding-top: 1px;
    padding-left: 30px;
    padding-bottom: 93px;
  }
}


.text-content {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  h2 {
    text-transform: uppercase;
    margin: 42px 0 17px;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
      color: $black;
      font-weight: 600;

      span {
        color: inherit !important;
      }

      &:hover {
        color: $orange;
        text-decoration: none;
      }
    }
  }

  p[style*="margin-left"] {
    margin-left: 0 !important;
  }

  ul {
    list-style: none;
    margin: 28px 0 22px;
    padding:0 ;

    & > li {
      position: relative;
      padding: 1px 0 0 36px;
      margin: 0 0 14px 0;

      &::before {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background: transparent url("../img/list-check-orange.svg") no-repeat 0 0;
        position: absolute;
        top: 0;
        left: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  img {
    height: auto !important;
    margin-bottom: -17px;
  }
}

@media (max-width: $screen-xl - 1) {
  .category-description {
    padding-top: 53px;
    padding-bottom: 29px;

    .row {
      flex-direction: column-reverse;
    }

    &__content {
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__img {
      padding-top: 23px;
      width: 100%;
      max-width: 591px;
      text-align: center;

      img {
        max-height: 371px;
      }
    }
  }

  .text-content {
    p {
      margin-bottom: 17px;

    }
    h2 {
      font-size: 30px;
      line-height: 36px;
      margin-top: 31px;
      margin-bottom: 16px;
    }

    ul {
      margin-top: 23px;
      margin-bottom: 17px;

      & >li {
        padding-left: 36px;
      }
    }
  }
}
