// В этом файле должны быть стили для БЭМ-блока list-leaders, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.list-leaders {
    $block-name: &; // #{$block-name}__element

    list-style: none;
    padding: 0;

    li {
        margin-bottom: 0;

        &::before {
            display: none;
        }
    }

    &__item {
        margin-bottom: 3px;
    }
}

.list-leaders-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px dotted #a7a8a9;
    margin-bottom: 25px;

    $padding: 8px;
    $margin: -7px;

    &__label {
        padding-right: $padding;
        background: $white;
        margin-bottom: $margin;
    }

    &__value {
        padding-left: $padding;
        background: $white;
        margin-bottom: $margin;
    }

    @media (max-width: $screen-xl) {
        flex-direction: column;
        align-items: flex-start;
        border: none;
        margin-bottom: 15px;

        &__label, &__value {
            padding: 0;
            margin: 0;
            background: none;
        }

        &__value {
            font-weight: 600;
        }

        &__label {
            font-size: 14px;
        }
    }
}
