// В этом файле должны быть стили для БЭМ-блока main-products, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.main-products {
    $block-name: &; // #{$block-name}__element

    margin: 96px 0;

    &__title {
        font-family: Quasimoda, sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 43px;
        text-transform: uppercase;
        margin-bottom: 32px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 32px 16px;
    }

    &__item {
        text-decoration: none;
    }

    &__item-image {
        position: relative;
        margin-bottom: 8px;

        &::before {
            padding-top: 100%;
            content: '';
            display: block;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__item-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
    }

    &--also {
        margin-top: 87px;
        margin-bottom: 93px;

        .main-products__title {
            margin-bottom: 23px;
        }
    }

    @media (max-width: 1000px) {
        margin-top: 48px;

        &__title {
            font-size: 34px;
            margin-bottom: 24px;
        }

        &__items {
            grid-template-columns: repeat(2,minmax(0,1fr));
            gap: 32px 8px;
            margin: 0 -10px;
        }

        &--also {
            margin-top: 74px;
            margin-bottom: 80px;
    
            .main-products__title {
                margin-bottom: 10px;
                font-size: 26px;
            }
        }
    }
}