// В этом файле должны быть стили для БЭМ-блока tip, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.tip {

    $block-name: &; // #{$block-name}__element

    display: inline-flex;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: rgba($blue, 0.2);
    margin-left: 5px;
    color: $blue;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    justify-content: center;
    align-items: center;
    vertical-align: text-top;
    cursor: default;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
        background: $blue;
        color: $white;
    }
}
/*
.tippy-box {
    background: rgba(#0d141b, 0.95);
    box-shadow: 0 1px 27px 0 rgba(#0d141b, 0.15);
    color: white;
}

.tippy-content {
    padding: 26px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
*/