@import 'mixins/form-mixins.scss';
@import 'mixins/text-mixins.scss';

@mixin swiper-arrows {
  position: relative;

  .swiper-button-prev, .swiper-button-next {
    width: 51px;
    height: 51px;
    box-shadow: 0 2px 9px 1px hsla(0, 0%, 0%, 0.2);
    background: hsla(0, 0%, 100%, 1);
    border-radius: 50%;

    &:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='19' viewBox='0 0 12 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.48962 0.98169L9.99878 9.49085L1.48962 18' stroke='%23454545' stroke-width='2'/%3E%3C/svg%3E");
      width: 12px;
      height: 19px;
      background-size: 100% 100%;
    }
  }

  .swiper-button-prev {
    left: -26px;

    &:after {
      transform: scaleX(-1);
      margin-left: -5px;
    }
  }

  .swiper-button-next {
    right: -26px;

    &:after {
      margin-left: 5px;
    }
  }

  @media (max-width: $screen-md - 1) {
    .swiper-button-prev, .swiper-button-next {
      width: 31px;
      height: 31px;
      margin-top: -15px;

      &:after {
        width: 8px;
        height: 14px;
      }
    }

    .swiper-button-next {
      right: 8px;
    }

    .swiper-button-prev {
      left: 8px;
    }
  }
}
