// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.form {

  &__fieldset {
    min-width: 0;
    margin: 0;
    border: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: $typo-margin-vertical;
    }
  }

  &__legend {
    display: block;
    width: 100%;
    max-width: 100%; // Привет IE
    margin-top: 0;
    margin-bottom: $typo-margin-vertical;
    font-size: $font-size-h3;
    font-family: $font-family;
    font-weight: 700;
    line-height: $line-height;
    white-space: normal; // Привет IE
    color: currentColor;
  }

  &__forgot {
    text-align: right;
    margin-top: 6px;

    a {
      text-decoration: none;
    }

    @media (max-width: $screen-md - 1) {
      text-align: left;
      font-size: 16px;
      font-weight: 500;
    }
  }

  &__row {
    display: flex;
    gap: 20px;

    @media (max-width: $screen-xl - 1) {
      display: block;
    }
  }

  &__col {
    flex: 1;
  }
}

.form--white {
  background-color: #fff;
}

.form-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}