// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.page-footer {
    $block-name: &; // #{$block-name}__element

    margin-top: 125px;
    margin-bottom: 12px;

    &__inner {
        display: grid;
        grid-template-columns: 22% 60% auto;
        gap: 49px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.1px;
    }

    &__nav-wrap {
        display: flex;
        justify-content: space-between;
        --gap: 47px;
        gap: var(--gap);
    }

    &__nav {
        --flex-base: calc((100% - 4 * var(--gap)) / 5);
        flex: var(--flex-base);
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;

        &--grid {
            flex: calc(var(--flex-base) * 2 + var(--gap));
            column-gap: var(--gap);
            row-gap: 47px;
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    &__nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__nav-item {
        margin-bottom: 4px;
    }

    &__nav-link {
        text-decoration: none;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
    }

    .lang-switcher {
        display: none;
    }

    &__phone {
        text-decoration: none;
    }

    &__address {
        margin: 2px 0 12px;
        text-decoration: none;
    }

    &__copyright {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        align-self: flex-end;
        grid-column: 3;
    }

    &__payment {
        display: flex;
        gap: 16px;
        justify-content: flex-start;
        align-items: center;
        align-self: flex-end;
    }

    &__payment-row {
        display: flex;
        gap: 16px;
        justify-content: space-between;
        align-items: center;
    }

    &__social.social {
        gap: 12px;
    }

    @media (max-width: 1000px) {
        margin-top: 64px;

        &__inner {
            display: flex;
            flex-wrap: wrap;
            gap: 0;
        }

        &__text {
            order: 70;
            margin-bottom: 8px;
            width: 100%;
        }

        &__copyright {
            order: 80;
            margin-right: auto;
        }

        &__logo, &__text, &__copyright {
            display: none;
        }

        &__nav-wrap {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;
            width: 100%;
            margin-bottom: 32px;
        }

        &__nav {
            width: 100%;
            margin: 0;

            &--grid {
                display: block;
            }
            &--grid &-item:not(:first-child) {
                display: none;
            }
        }

        &__nav-item {
            margin-bottom: 4px;
        }

        &__contacts {
            position: relative;
            width: 100%;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;

            .lang-switcher {
                display: block;
                position: absolute;
                bottom: 12px;
                right: 0;
            }
        }

        &__social {
            order: -1;
            margin-bottom: 16px;
            gap: 16px;

            .social__link {
                width: 30px;
                height: 30px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &__address {
            margin-top: 8px;
        }
    }
}
