-
  var mainMenu = [
    {
      "id": "0",
      "name": "О заводе",
      "url": "about.html"
    },
    {
      "id": "10",
      "name": "Вакансии",
      "url": "vacancies.html",
    },
    {
      "id": "20",
      "name": "Проекты",
      "url": "projects.html"
    },
    {
      "id": "30",
      "name": "ОКЛ",
      "url": "okl.html",
    },
    {
      "id": "40",
      "name": "Новости",
      "url": "news.html",
    },
    
    {
      "id": "50",
      "name": "Контакты",
      "url": "contacts.html",
    },
  ];
