// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.main-nav {

  $block-name: &; // #{$block-name}__element

  position: relative;
  z-index: 10;

  // первый уровень
  &__list {
    margin: 0 -13px 0;
    padding: 0;
    list-style: none;

    // мобильный вид списка
    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS

      .js & {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s;

        &--lvl-2 {
          max-height: none;
        }
      }

      .js #{$block-name}--open & {
        max-height: 1000px;
        transition: max-height 0.6s;

        &--lvl-2 {
          max-height: none;
        }
      }
    }

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;

      &--lvl-2 {
        display: block;
        border: 1px solid #f5f3f4;
        background: white;
        border-radius: 4px;
        padding: 12px 0;
      }

      &--lvl-3 {
        display: block;
      }
    }
  }

  &__item {
    position: relative;
    padding: 0 13px;

    @media (min-width: $menu-desktop-width) {
      &--lvl-2 {
        padding: 0;
        margin: 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    &--active {

      & > #{$block-name}__link {
        color: #000;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.2em;
    text-align: center;
    color: #7E7E7E;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    svg {
      fill: currentColor;
    }

    &--lvl-2 {
      min-width: 200px;
      text-align: left;
      padding-left: 7px;
      padding-right: 8px;

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-left: 2em;
      }

      @media (min-width: ($menu-desktop-width)) {
        padding: 8px 22px;
        white-space: nowrap;
        min-width: 0;

        &:hover {
          background: #f9fafc;
          color: $blue;
        }
      }
    }

    &--lvl-3 {
      min-width: 200px;

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-left: 3em;
      }
    }
  }

  &__item.active > .main-nav__link {
    color: $blue;
  }

  &__sublist-wrapper {

    &--lvl-2 {

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity $transition-time;
        left: -9px;
        margin-top: 11px;
        box-shadow: 0px 5px 35px 0px rgba(0, 27, 56, 0.05);

        #{$block-name}__item--show-child > &,
        #{$block-name}__item:hover & {
          height: auto;
          overflow: visible;
          opacity: 1;
        }

        &:before {
          content: '';
          display: block;
          width: 100%;
          left: 0;
          bottom: 100%;
          height: 11px;
          position: absolute;
        }
      }
    }

    &--lvl-3 {

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity $transition-time;

        #{$block-name}__item--show-child > &,
        #{$block-name}__item--lvl-2:hover & {
          height: auto;
          overflow: visible;
          opacity: 1;
        }
      }
    }
  }


  // переключатель

  &__toggler {
    display: inline-block;
    border: none;
    padding: 0;
    background: none;

    @media (min-width: $menu-desktop-width) {
      display: none;
    }

    .no-js & {
      display: none;
    }
  }

  .main-nav__item--has-child {
    @media (min-width: $menu-desktop-width) {
      & > .main-nav__link {
        padding-right: 15px;
        position: relative;

        svg {
          transform: rotate(0deg);
          transition: all .25s ease;
          position: absolute;
          top: 9px;
          right: 0;
        }
      }
      &:hover > .main-nav__link svg {
        transform: rotate(-180deg);
      }
    }
  }

}