<div class="special-offers">
	<div class="container">
		<div class="heading">
			<div class="heading__l">
				<div class="title">Акции сегодня</div>
			</div>
			<div class="heading__r">
				<div class="links">
					<a class="link" href="javascript:void(0);">Все акции</a>
				</div>
			</div>
		</div>

		<div class="special-offers-grid">
			<div class="special-offers-grid__in row">
				<div class="col col-12 col-md-6 col-lg-6 col1">
					<item
					:item="items[0]"
					></item>
				</div>

				<div class="col col-12 col-md-6 col-lg-6">
					<div class="row">
						<div class="col col-6 col-md-6 col-lg-6 col2">
							<item
							:item="items[1]"
							></item>

							<item
							:item="items[2]"
							></item>
						</div>

						<div class="col col-6 col-md-6 col-lg-6 col3">
							<item
							:item="items[3]"
							></item>
						</div>
					</div>					
				</div>
			</div>
		</div>

	</div>
</div>