// В этом файле должны быть стили для БЭМ-блока main-hero, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.main-hero {
    $block-name: &; // #{$block-name}__element

    display: flex;
    height: calc(100vh - #{$header-height});
    height: calc(var(--vh, 1vh)* 100 - #{$header-height});

    &__left {
        flex: 3;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    &__right {
        position: relative;
        flex: 7;
        overflow: hidden;
        display: flex;
        padding: 0 40px;
        align-items: center;
    }

    &__image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
    }

    &__content {
        position: relative;
        box-sizing: border-box;
    }

    &__title {
        font-weight: 500;
        font-size: 80px;
        line-height: 96%;
        text-transform: uppercase;
        letter-spacing: -3px;
        margin-bottom:  12px;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 110%;
        letter-spacing: -0.25px;
        margin-bottom: 54px;
    }

    &__button {
        width: 362px;
    }

    &.swiper-horizontal>.swiper-pagination-bullets,
    &__pagination {
        bottom: 48px!important;
        font-size: 0;
        text-align: left;
        padding-left: 51px;
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background: transparent;
        border: 1px solid #000000;

        &-active {
            background: #000;
        }
    }

    .lang-ru & {
        #{$block-name}__left {
            width: 28.6%;
            flex: none;
        }
        #{$block-name}__right {
            width: 71.4%;
            flex: none;
        }

        &__title {
            font-family: Quasimoda;
            line-height: 96px;
        }
    }

    @media (max-width: 1000px) {
        height: calc(100vh - 56px);
        height: calc(var(--vh, 1vh)* 100 - 56px);

        &__left {
            display: none;
        }

        &__right {
            flex-direction: column;
            padding: 0;
            gap: 18px;
        }

        &__content {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            color: #fff;
        }

        &__image {
            flex: 1;
            width: 100%;
            position: static;
            background-position: 90% center;
        }

        &__title {
            font-family: 'Sukothai';
            font-size: 46px;
            line-height: 70%;
            text-align: center;
            margin-bottom: 8px;
        }

        &__text {
            font-size: 14px;
            line-height: 140%;
            letter-spacing: -0.1px;
            margin-bottom: 18px;
            text-align: center;
        }

        &__button {
            display: none;
        }

        &.swiper-horizontal>.swiper-pagination-bullets,
        &__pagination {
            display: none;
        }

        .lang-ru & {
            #{$block-name}__right {
                width: 100%;
            }

            #{$block-name}__title {
                font-size: 36px;
                line-height: 43.2px;
                letter-spacing: 0;
            }
        }
    }
}
