// В этом файле должны быть стили для БЭМ-блока lang-switcher, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.lang-switcher {
    $block-name: &; // #{$block-name}__element
    display: flex;

    &__current {
        display: flex;
        align-items: center;
        gap: 7px;
        text-decoration: none;
        margin-left: 68px;

        &:after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4 4L7 1' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            display: inline-block;
            width: 8px;
            height: 5px;
        }
    }
}
