-
  var history_items = [
    {
      year: "1991",
      title: "Регистрация предприятия",
      text: "<p>ООО «Конкорд» зарегистрировано 06 июня 1991 г. и с тех пор не меняло своего месторасположения и ИНН. Материальная база и коллектив предприятия создавались «с нуля», их основой не являлось профильное советское предприятие.</p><p>В первые годы деятельности производилась простейшая кабельная продукция  (провода), которая реализовалась как на местном рынке, так и в прилегающем московском регионе.</p>",
      img: "img/history-img.jpg"
    },
    {
      year: "1993",
      title: "Регистрация предприятия",
      text: "<p>ООО «Конкорд» зарегистрировано 06 июня 1991 г. и с тех пор не меняло своего месторасположения и ИНН. Материальная база и коллектив предприятия создавались «с нуля», их основой не являлось профильное советское предприятие.</p><p>В первые годы деятельности производилась простейшая кабельная продукция  (провода), которая реализовалась как на местном рынке, так и в прилегающем московском регионе.</p>",
      img: "img/history-img-2.jpg"
    },
    {
      year: "1997",
      title: "Регистрация предприятия",
      text: "<p>ООО «Конкорд» зарегистрировано 06 июня 1991 г. и с тех пор не меняло своего месторасположения и ИНН. Материальная база и коллектив предприятия создавались «с нуля», их основой не являлось профильное советское предприятие.</p><p>В первые годы деятельности производилась простейшая кабельная продукция  (провода), которая реализовалась как на местном рынке, так и в прилегающем московском регионе.</p>",
      img: "img/history-img.jpg"
    },
    {
      year: "2010",
      title: "Регистрация предприятия",
      text: "<p>ООО «Конкорд» зарегистрировано 06 июня 1991 г. и с тех пор не меняло своего месторасположения и ИНН. Материальная база и коллектив предприятия создавались «с нуля», их основой не являлось профильное советское предприятие.</p><p>В первые годы деятельности производилась простейшая кабельная продукция  (провода), которая реализовалась как на местном рынке, так и в прилегающем московском регионе.</p>",
      img: "img/history-img-2.jpg"
    }
  ];