// В этом файле должны быть стили для БЭМ-блока products-listing, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.products-listing {

  $block-name:                &; // #{$block-name}__element
}
