// В этом файле должны быть стили для БЭМ-блока field-select, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.field-select {

    $block-name: &; // #{$block-name}__element

    display: block;
    margin-bottom: $typo-margin-vertical;

    &__name {
        @include field-name;
        font-size: 14px;
        line-height: 20px;
        color: #63708A;
    }

    &__select-wrap {
    }

    &__help-text {
        @include field-help-text;
    }

    @include field-error;

    &--inline {
        margin: 0 0 0 -12px;

        .choices {
            &__inner {
                padding: 0 16px 0 12px;
                background: none;
                border-radius: 0;
                color: inherit;

                .choices__item--selectable {
                    text-decoration: underline;
                    font-weight: 500;
                }
            }

            &:before {
                display: none;
            }

            &:after {
                background: url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.5L4 3.5L7 0.5' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                right: 3px;
                width: 8px;
                height: 4px;
                background-size: 100% 100%;
                background-position: center center;
                transform: none;
                transform-origin: center;
                top: 50%;
                margin-top: -2px;
                transition: all 0.3s;
            }

            &__list--dropdown {
                .choices__item {
                    white-space: nowrap;
                    padding: 4px 12px;
                    color: #1A1A1A;
                    font-weight: 400;

                    &.is-highlighted {
                        color: #1A1A1A;
                    }
                    &:hover {
                        color: #8a9199;
                    }
                }
            }

            &.is-open:after {
                transform: rotate(-180deg);
            }
        }

        .choices[data-type*=select-one] .choices__inner {
            padding-bottom: 0;
            min-height: 0;
        }

        .choices__list.choices__list--single {
            padding: 0;
        }

        .choices[data-type*=select-one]::after {
            border-width: 0;
        }

        .is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
            border: 1px solid #dce2e8;
            width: auto;
        }

        .choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
            background-color: unset;
        }

        .choices__list--dropdown .choices__item--selectable::after, .choices__list[aria-expanded] .choices__item--selectable::after {
            display: none;
        }
    }

    @media (max-width: 1000px) {
        &--inline {
            margin: 0;

            .field-select__select {
                border: 0;
                text-decoration: underline;
            }
        }
    }
}


/** @define choices */
.choices {
    $block-name: &; // #{$block-name}__element

    position: relative;

    &:focus {
        outline: 0;

        &:not(.is-disabled) {

            #{$block-name}__inner {
                @include field-focus;
            }
        }
    }

    &:after, &:before {
        content: '';
        position: absolute;
        z-index: 20;
        top: 50%;
        margin-top: 4px;
        pointer-events: none;
        display: block;
        height: 1px;
        width: 6px;
        background: #63708A;
    }
    &:before {
        right: 22px;
        transform-origin: right center;
        transform: rotate(45deg);
    }
    &:after {
        right: 16px;
        transform-origin: left center;
        transform: rotate(-45deg);
    }

    &.is-open {
        &:before, &:after {
            margin-top: -2px;
        }
        &:before {
            transform: rotateZ(45deg) rotateY(-180deg);
        }
        &:after {
            transform: rotateZ(-45deg) rotateY(-180deg);
        }
    }

    .is-hidden {
        display: none;
    }

    &__inner {
        position: relative;
        z-index: 10;
        border-radius: $border-radius;
        padding: 12px 41px 12px 17px;
        cursor: pointer;
        background: #F5F6F8;
        border: 0;
        font-size: 14px;
        line-height: 20px;
        color: #24272D;

        #{$block-name}__item--selectable {
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &.is-open &__inner {
        border-radius: $border-radius $border-radius 0 0;
    }

    &__placeholder {
        color: #B7B9BB;
    }

    &__list--dropdown {
        display: none;
        position: absolute;
        z-index: 20;
        top: 100%;
        width: 100%;
        margin-top: -1px;
        background-color: $white;
        color: $black;
        box-shadow: none;
        border: 1px solid #dce2e8;
        border-radius: 0 0 $border-radius $border-radius;
        overflow: hidden;

        #{$block-name}__item {
            padding: 9px 40px 9px 16px;
            cursor: pointer;
            font-size: 14px;
            line-height: 20px;

            &.is-highlighted {
                color: $white;
            }
        }
    }

    &__heading {
        padding: $field-padding-vertical $field-padding-horizontal;
        font-size: $font-size-sm;
        font-weight: 700;
        opacity: 0.5;
        cursor: default;
    }

    &.is-open {

        #{$block-name}__list--dropdown {
            display: block;
        }
    }

    &.is-disabled {

        #{$block-name}__inner {
            cursor: default;
        }
    }

    &__inner &__item--selectable {
        display: flex;
        gap: 5px;
    }

    &__list--dropdown &__list {
        display: table;
    }

    &__list--dropdown &__item {
        display: table-row;
    }

    &__list--dropdown &__item span {
        display: table-cell;
        padding: 4px 12px;
        min-width: 63px;
    }

    &__inner &__item--selectable span:not(:first-child) {
        display: none;
    }

    &__list--dropdown {
        min-width: 100%;
        width: auto;
        border: 0;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
        border-radius: 0;
        padding: 6px 0 3px;
        margin: -3px 0 0;
    }
}
