// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
@use 'sass:color';

.btn {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  border: 0;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  background-color: $gray;
  background-image: none;
  cursor: pointer;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  padding: 15px 30px 15px;
  border-radius: 3px;
  transition: all .25s ease;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    background-color: #E6E6E6;
  }

  // &:visited {
  //   color: $text-color;
  // }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }

  &--white {
    color: $text-color;
    background: hsla(0, 0%, 100%, 1);

    &:hover,
    &:focus {
      color: $text-color;
      background: #E6E6E6;
    }

    &--disabled,
    &:disabled {
      color: $text-color;
      background-color: hsla(0, 0%, 100%, 0.7);
    }
  }

  &--main {
    color: $white;
    background: $orange;

    &:hover,
    &:focus {
      color: $white;
      background-color: #F34B1A ;
    }

    &--disabled,
    &:disabled {
      color: $white;
      background: $orange;
      opacity: 0.7;
    }
  }

  &--main-o {
    color: $text-color;
    background-color: transparent;
    border: 1px solid $blue;

    &:hover,
    &:focus {
      color: $blue;
      background-color: transparent;
      border-color: $blue;
    }

    &--disabled,
    &:disabled {
      color: $text-color;
      background-color: transparent;
      border: 2px solid $blue;
      opacity: 0.7;
    }
  }

  &--gray {
    color: $white;
    background: $gray;

    &:hover,
    &:focus {
      color: $white;
      background: $gray;
    }

    &--disabled,
    &:disabled {
      color: $white;
      background: $gray;
      opacity: 0.7;
    }
  }

  &--outline-with-icon {
    padding: 12px 33px 13px;
    border: 1px solid #161616;
    color: #222221;
    background-color: transparent;
    display: inline-flex;
    align-items: center;

    .btn__icon {
      flex: none;
      margin-left: 9px;
      font-size: 0;
      line-height: 0;
      
      .icon {
        transition: all .25s ease;
      }
    }

    &:hover,
    &:focus {
      border-color: $orange-hover;
      background-color: transparent;
      color: $orange-hover;

      .btn__icon svg {
        fill: $orange-hover;
        transition: all .25s ease;
      }
    }
  }

  &--with-icon {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    display: inline-flex;
    align-items: center;

    .btn__text {
      display: inline-block;
      vertical-align: top;
    }

    .btn__icon {
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      line-height: 0;
      margin-left: 10px;
    }

    .icon--btn-arrow-right {
      width: 14px;
      height: 14px;
    }
  }

  /*@media (max-width: $screen-xxl - 1) {
    font-size: 12px;
    line-height: 18px;
    padding: 10px 22px;
    border-radius: 8px;
  }*/

  /*@media (max-width: $screen-xl - 1) {
    border-radius: 25px;
    font-size: 16px;
    padding: 13px 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }*/
}


.buttons {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .btn {
    margin-left: 10px;
    margin-right: 10px;
  }
}