// В этом файле должны быть стили для БЭМ-блока field-radio, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.field-radio {
    $block-name: &; // #{$block-name}__element

    display: flex;
    flex-direction: column;
    gap: 16px;

    &__title {
        @include field-name;
    }

    &__input-wrap {

        &--inline {
            display: inline-block;
        }
    }

    @include field-error;

    &__name {
        display: inline-block;
        cursor: pointer;
    }

    &__name-text {
        color: #63708A;
        position: relative;
        padding-left: 34px;
        display: block;
        font-size: 16px;
        line-height: 20px;

        &::before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            border: 2px solid #2A7EF2;
            position: absolute;
            top: 0;
            left: 0;
        }

        @at-root input:focus ~ &:before {
            @include field-focus;
        }

        @at-root input:disabled ~ &:before {
            border-color: $gray-light;
        }

        &:after {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background: #2A7EF2;
            position: absolute;
            top: 5px;
            left: 5px;
            opacity: 0;

            @at-root input:checked ~ & {
                opacity: 1;
            }

            @at-root input:checked:disabled ~ & {
                background-color: $gray-light;
            }
        }

        // / своя радиокнопка без картинки
    }

    &__input {
        position: absolute;
        top: 0.8em;
        left: 0;
        margin: 0;
        padding: 0;
        transform: translateY(-50%);

        &:focus,
        &:active {
            @include field-focus;
        }

        // сокрытие инпута в случае использования своей радиокнопки
        opacity: 0;
    }

    &__help-text-wrap {
        padding-left: 1.5em;
    }

    &__help-text {
        @include field-help-text;
    }

    @media (max-width: $screen-xl) {
        &__name-text {
            font-size: 14px;
            line-height: 20px;
        }
    }
}
