-
  var olkManufItems = [
    "okl-manuf-1.png",
    "okl-manuf-2.png",
    "okl-manuf-3.png",
    "okl-manuf-4.png",
    "okl-manuf-5.png",
    "okl-manuf-6.png",
    "okl-manuf-7.png",
    "okl-manuf-8.png",
    "okl-manuf-9.png",
  ];