// В этом файле должны быть стили для БЭМ-блока tabs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.tabs {
    $block-name: &; // #{$block-name}__element

    &__links {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        list-style: none;
        margin: 0 0 50px;
        justify-content: space-between;
        gap: 8px;

        li {
            margin-bottom: 0;

            &::before {
                display: none;
            }
        }

        .no-js & {
            display: none;
        }
    }

    &__link-wrap {
        position: relative;
        border-bottom: 3px solid #f7f8fa;
        flex: 1;

        @media (min-width: $screen-md) {
            margin: 0;

            &:not(:last-child) {
                border-right: none;
            }
        }

        &--active {
            color: $text-color;
            border-color: transparent;

            @media (min-width: $screen-md) {
                border-bottom: 1px solid transparent;
            }

            #{$block-name}__link {
                background: #7fb568;
                color: white;
            }

            #{$block-name}__image {
                display: none;

                &--active {
                    display: block;
                }
            }
        }
    }

    &__link {
        text-decoration: none;
        color: #a8a7a7;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 9px 25px;
        transition-property: background-color, color;
    }

    &__image {
        width: auto;
        margin-bottom: 10px;

        &--active {
            display: none;
        }
    }

    &__content-wrapper {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 0;

            &::before {
                display: none;
            }
        }

        @media (min-width: $screen-md) {
            border-top: none;
        }
    }

    &__content-item {

        .js & {
            display: none;
        }

        & > *:last-child { // stylelint-disable-line  selector-combinator-blacklist
            margin-bottom: 0;
        }

        &--active {

            .js & {
                display: block;
            }
        }
    }

    &--hero {
        #{$block-name}__links {
            margin: 0;
            gap: 5px;
            justify-content: flex-start;
        }

        #{$block-name}__link-wrap {
            border: 0;
            flex: 0 0 auto;

            &--active {
                #{$block-name}__link {
                    background: $gray-light;
                    color: $black;
                }
            }
        }

        #{$block-name}__link {
            font-weight: 700;
            font-size: 16px;
            background: rgba($white ,0.3);
            color: $white;
            border-radius: $border-radius $border-radius 0 0;
            padding: 16px 30px;
        }

        #{$block-name}__content-wrapper {
            background: $white;
            padding: 30px;
        }
    }

    &--accordion {
        #{$block-name}__links {
            display: none;
        }

        li::before {
            display: none;
        }

        #{$block-name}__link-wrap {
            border: 0;

            &::marker {
                display: none;
                list-style: none;
            }

            &--active {
                #{$block-name}__link {
                    background: #7fb568;
                    color: white;

                    &::after {
                        filter: brightness(0) invert(1);
                        transform: rotate(270deg);
                    }
                }
            }
        }

        #{$block-name}__link {
            background: #eaeaea;
            color: #797979;
            text-align: left;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 6px 0;

            &::after {
                content: '';
                display: block;
                background: transparent url(../img/icon-angle-right.png) center center no-repeat;
                width: 7px;
                height: 14px;
                background-size: 7px 14px;
                image-rendering: -webkit-optimize-contrast;
                filter: opacity(0.5);
                transform: rotate(90deg);
                flex: 0 0 auto;
                margin-left: 15px;
            }
        }
    }

    @media (max-width: $screen-xl) {
        &--hero {
            #{$block-name}__links {
                flex-wrap: nowrap;
                overflow-x: auto;
                gap: 20px;
                margin-bottom: 25px;

                &::-webkit-scrollbar {
                    height: 2px;
                }

                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $gray-light;
                }
            }

            #{$block-name}__link {
                font-weight: 600;
                font-size: 14px;
                color: #808086;
                border-bottom: 2px solid transparent;
                padding: 0 0 5px;
            }

            #{$block-name}__link-wrap {
                &--active {
                    #{$block-name}__link {
                        background: transparent;
                        border-bottom-color: #f33154;
                    }
                }
            }

            #{$block-name}__content-wrapper {
                background: transparent;
                padding: 0;
            }
        }
    }
}
