// В этом файле должны быть стили для БЭМ-блока service-contact, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.service-contact {

  $block-name:                &; // #{$block-name}__element

  padding-bottom: 83px;
  background-image: url("../img/service-contact-bg.jpg");
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: contain;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__main {
    width: 600px;
  }

  &__form {
    width: 600px;
    padding-left: 10px;
    padding-top: 12px;
  }

  &__text {
    font-size: 30px;
    line-height: 34px;
    font-weight: 500;
    max-width: 480px;
  }

  .form {
    clip-path: polygon(calc(100% - 40px) 0%, 100% 44px, 100% 100%, 0 100%, 0 0);
    padding: 48px 50px 50px;
  }

  .form-title {
    font-size: 30px;
    line-height: 1.2em;
  }

  .form-text {
    margin-top: 15px;
  }

  .fields {
    padding-top: 23px;

    .row {
      margin-left: -10px;
      margin-right: -10px;
    }

    .col {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .field-text {
    margin-bottom: 23px;
  }

  .form-submit {
    margin-top: 40px;

    .btn {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 17px;
      border-radius: 3px;
    }
  }
}

@media (max-width: $screen-xl - 1) {
  .service-contact {
    padding-bottom: 60px;
    
    &__inner {
      display: block;
    }

    &__main {
      display: block;
      width: 100%;
    }

    &__form {
      width: 100%;
      padding-left: 0;
      padding-top: 40px;
    }

    &__text {
      font-size: 24px;
      line-height: 30px;
    }

    .form {
      padding: 28px 30px 30px;
    }
  } 
}