// В этом файле должны быть стили для БЭМ-блока main-reviews, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.main-reviews {
    $block-name: &; // #{$block-name}__element

    margin: 96px 0;

    &__title {
        font-family: Quasimoda, sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 43px;
        text-transform: uppercase;
        margin-bottom: 32px;
    }

    &__items {
        position: relative;
        height: 557px;
        margin-bottom: 32px;
    }

    &__image {
        position: absolute;
        object-fit: cover;

        &--1 {
            height: 76.30%;
            width: 19.31%;
            top: 17.41%;
            left: 0;
            z-index: 20;
        }

        &--2 {
            width: 22.39%;
            height: 40.57%;
            top: 3.05%;
            left: 15.24%;
            z-index: 30;
        }

        &--3 {
            width: 12.23%;
            height: 48.47%;
            top: 48.29%;
            left: 18.52%;
            z-index: 10;
        }

        &--4 {
            width: 25.78%;
            height: 100%;
            top: 0;
            left: 37.36%;
            z-index: 40;
        }

        &--5 {
            width: 26.27%;
            height: 47.76%;
            top: 46.50%;
            left: 59.76%;
            z-index: 30;
        }

        &--6 {
            width: 20.52%;
            height: 37.34%;
            top: 5.57%;
            left: 66.11%;
            z-index: 10;
        }

        &--7 {
            width: 15.17%;
            height: 59.96%;
            top: 16.34%;
            left: 84.83%;
            z-index: 20;
        }
    }

    &__button {
        width: 320px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
    }

    @media (max-width: 1000px) {
        margin: 80px 0;

        &__title {
            font-size: 26px;
            line-height: 31px;
            margin-bottom: 16px;
        }

        &__items {
            //overflow-x: auto;
            //overflow-y: hidden;
            // padding-bottom: 32px;
            // margin-bottom: 32px;
            margin-bottom: 0;
            padding-bottom: 34px;
            display: flex;
            flex-wrap: nowrap;
            gap: 12px;
            height: auto;
        }

        &__image {
            position: static;
            height: 320px;
            width: 220px;
            flex: none;
        }

        &__button {
            margin-top: 30px;
        }
    }
}
