-
  var dealers = [
    {
      img: "dealer-1.png",
      url: ""
    },
    {
      img: "dealer-2.png",
      url: ""
    },
    {
      img: "dealer-3.png",
      url: ""
    },
    {
      img: "dealer-4.png",
      url: ""
    },
    {
      img: "dealer-5.png",
      url: ""
    },
    {
      img: "dealer-6.png",
      url: ""
    },
    {
      img: "dealer-7.png",
      url: ""
    },
    {
      img: "dealer-8.png",
      url: ""
    }
  ];