// В этом файле должны быть стили для БЭМ-блока info-section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.info-section {

  $block-name:                &; // #{$block-name}__element

  padding-top: 84px;
  padding-bottom: 96px;

  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__main {
    width: 600px;
    padding-right: 9px;
  }

  &__additional {
    width: 600px;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    p:first-child {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 27px;
    }
    
    p:last-child {
      margin-bottom: 0;
    }

    ol {
      list-style: none;
      counter-reset: ordered_list_counter;
      padding: 0;

      li {
        margin: 15px 0 0;
        counter-increment: ordered_list_counter;
        padding: 0 0 0 23px;
        position: relative;

        &::before {
          content: counter(ordered_list_counter)'.';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          color: #FF683C;
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  &__btn {
    margin-top: 48px;

    &--mobile-visible {
      display: none; 
    }
  }

  &__img-default {
    font-size: 0;
    line-height: 0;
    margin-bottom: 16px;
    
    max-width: 380px;
  }
}

.info-section--reversed {
  .info-section {
    &__wrapper {
      flex-direction: row-reverse;
    }
  }
}

.info-section--quality-control {
  background-image: url("../img/quality-control-bg-pattern.png");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.info-section--lab {
  border-bottom: 1px solid #fff;

  .info-section__additional {
    width: 500px;
  }

  .info-section__main {
    width: 700px;
  }
}

.info-section-head {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 23px;

  &__title {
    font-size: 87px;
    line-height: 88px;
    display: inline-block;
    position: relative;
    padding-bottom: 19px;

    &::after {
      content: '';
      display: block;
      height: 66px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: -53px;
      background-color: #F5F5F5;
      clip-path: polygon(0 0, 92.5% 0, 100% 100%, 0% 100%);
      z-index: 1;
    }

    span {
      position: relative;
      z-index: 2;
    }
  }

  &__subtitle {
    font-size: 48px;
    line-height: 60px;
    color: $orange;
  }
}

.equipment-benefits {
  margin-top: 38px;
}

.equipment-benefit {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 26px;

  &:first-child {
    margin-top: 0;
  }

  &__img {
    flex-shrink: 0;
    width: 57px;
    margin-right: 20px;
    font-size: 0;
    line-height: 0;
  }

  &__main {
    width: calc(100% - 77px);
    font-size: 16px;
    line-height: 22px;
    padding-top: 8px;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    max-width: 400px;
  }

  &__description {
    margin-top: 10px;
    max-width: 440px;
  }
}

.market-img--mobile {
  display: none;
  margin-top: 30px;
}

.market-img {
  margin-top: 69px;
  
  &--style2 {
    width: 585px;
    height: 512px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-size: cover;
    position: relative;
    //clip-path: polygon(22% 0%, 100% -150%, 100% 100%, 0% 100%);
    // clip-path: polygon(128px 0%, 100% -150%, 100% 100%, 0% 100%);

    &::before {
      /*content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $blue;
      opacity: 0.6;
      z-index: 2;*/
      // clip-path: polygon(128px 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .market-img__blue {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      text-align: right;
      color: #fff;
      width: 500px;
      height: 509px;
      //background-color: $blue;
      background-repeat: no-repeat;
      background-position: 100% 100%;
      //background-image: url("../img/market-bg-pattern.png");
      background-image: url("../img/market-bg-blue.png");
      padding: 46px 64px 56px 0;
      position: absolute;
      bottom: 62px;
      right: 0;
      z-index: 3;
      // clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  }

  &__logo {
    font-size: 0;
    line-height: 0;
    width: 93px;
    height: 93px;
    margin-right: 2px;
  }

  &__years {
    font-size: 66px;
    line-height: 66px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__text {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 21px;
  }
}

.info-section.bg-gray {
  .info-section-head__title::after {
      background-color: #fff;
  } 
}

.quality-control {
  padding-top: 13px;
  
  &__img {
    font-size: 0;
    line-height: 0;
    width: 253px;
    height: 253px;
    margin-bottom: 35px;
  }

  &__text-sm {
    font-size: 14px;
    line-height: 22px;
    color: #7E7E7E;
    margin-bottom: 4px;
  }

  &__text {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }
}

.info-features {
  &__in {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -20px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
  }

  &__item {
    padding: 0 10px 20px;
    width: 50%;
  }
}

.info-feature-card {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 19px 20px 21px;
  background-color: #F5F5F5;
  clip-path: polygon(0 0, calc(100% - 42px) 0%, 100% 32px, 100% 100%, 42px 100%, 0% calc(100% - 32px));
  height: 100%;

  &__icon {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    font-size: 0;
    line-height: 0;
    margin-right: 9px;
  }

  &__main {
    color: #7E7E7E;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-top: 2px;
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: $black;
  }

  &__text {
    margin-top: 6px;
  }
}

.info-stats {
  margin-bottom: 56px;

  &__in {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -27px;
    margin-right: -27px;
    margin-bottom: -54px;
  }
}

.info-stats-item {
  padding: 0 27px 54px; 
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;

  &__number {
    font-size: 97px;
    line-height: 1em;
    font-weight: 600;
  }

  &__descr {
    text-transform: uppercase;
    margin-top: 10px;
  }
}

.info-section--catalog {
  .info-section__text {
    max-width: 560px;
    padding-right: 10px;
  }

  .info-section__additional {
    padding-top: 7px;
  }
}

.info-section--geo {
  padding-bottom: 88px;
  
  .info-section {
    &__main {
      position: relative;
      z-index: 2;
    }

    &__additional {
      position: relative;
    }

    &__bottom {
      margin-top: 78px;
      position: relative;
      z-index: 3;
    }
  }
}

.info-features-slider {
  display: none;

  .swiper-wrapper {
    align-items: stretch;
  }

  .swiper-slide {
    height: unset;
  }

  .info-feature-card {
    height: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: $screen-xl - 1) {
  .info-section {
    padding-top: 50px;
    padding-bottom: 60px;

    &__wrapper {
      display: block;
    }

    &__main {
      width: 100%;
      padding-right: 0;
    }

    &__additional {
      width: 100%;
    }
    
    .text-md {
      font-size: 18px;
      line-height: 26px;
    }

    &--quality-control {
      background-image: url('../img/quality-control-bg-pattern-mobile.png');
      background-position: 0 0;
    }

    &--catalog {
      .info-section__additional {
        padding-top: 0;
      }
    }

    &--geo {
      .info-section__bottom {
        margin-top: 0;
      }
    }

    &__text {
      p {
        &:first-child {
          font-size: 18px;
          line-height: 26px;
          margin-bottom: 22px;
        }
      }
    }

    &__btn {
      margin-top: 35px;

      &--mobile-visible {
        display: block;
      }

      &--mobile-hidden {
        display: none;
      }
    }
  }

  .market-img--desktop {
    display: none;
  }

  .market-img--mobile {
    display: block;
  }
  
  .info-section-head {
    margin-bottom: 29px;

    &__subtitle {
      font-size: 36px;
      line-height: 46px;
    }

    &__title {
      font-size: 50px;
      line-height: 56px;
      padding-bottom: 3px;

      &::after {
        height: 24px;
        right: -25px;
      }
    }
  }

  .equipment-benefits {
    margin-top: 28px;
  }

  .equipment-benefit {
    margin-top: 25px;

    &__img {
      width: 40px;
      margin-right: 15px;

      img {
        height: 46px;
      }
    }

    &__main {
      width: calc(100% - 55px);
      font-size: 14px;
      line-height: 20px;
      padding-top: 0;
    }

    &__title {
      font-size: 16px;
      line-height: 22px;
    }

    &__description {
      margin-top: 7px;
    }
  }

  .market-img {
    width: 309px;
    height: 244px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;

    &__logo {
      width: 51px;
      height: 51px;
      margin-right: 0;
      margin-bottom: 31px;
    }

    &__years {
      font-size: 36px;
      line-height: 1em;
    }

    &__text {
      font-size: 20px;
      line-height: 28px;
      margin-top: 3px;
    }
  }

  .market-img--style2 {
    .market-img__blue {
      width: 260px;
      height: 260px;
      bottom: 35px;
      padding: 34px 35px 26px 0;
      background-size: contain;
    }
  }

  .quality-control {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 28px;

    &__img {
      width: 100px;
      height: 100px;
      margin-bottom: 0;
      font-size: 0;
      line-height: 0;
      flex-shrink: 0;

      img {
        width: 100px;
        height: 100px;
      }
    }

    &__main {
      padding-left: 20px;
    }

    &__text-sm {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 6px;
    }

    &__text {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .info-stats {
    margin-bottom: 28px;
  }

  .info-stats-item {
    font-size: 18px;
    line-height: 26px;

    &__number {
      font-size: 50px;
    }

    &__descr {
      margin-top: 5px;
    }
  }

  .info-features {
    display: none;
  }

  .info-features-slider {
    display: block;

    &.slider-container .nav-arrows {
      left: -15px;
      right: -15px;
    }
  }
  
  .info-feature-card {
    width: auto;
    height: auto;
    clip-path: polygon(0 0, calc(100% - 23px) 0%, 100% 18px, 100% 100%, 23px 100%, 0% calc(100% - 18px));
    padding: 15px;

    &__title {
      font-size: 16px;
      line-height: 24px;
    }

    &__main {
      padding-top: 0;
    }

    &__text {
      margin-top: 5px;
    }

    &__icon {
      width: 22px;
      height: 22px;
      margin-right: 10px;

      .icon {
        width: 22px;
        height: 22px;
      }
    }
  }

  .info-section--lab {
    .info-section__main,
    .info-section__additional {
      width: 100%;
    }

    .info-section__additional {
      margin-top: 24px;
    }

    .info-section__img-default {
      margin-bottom: 24px;
    }

    .info-section-head {
      &__subtitle {
        font-size: 28px;
        line-height: 36px;
      }

      &__title {
        font-size: 40px;
        line-height: 50px;
      }
    }
  }
}

@media (max-width: $screen-md - 1) {
  .info-stats {
    &__in {
      flex-wrap: nowrap;
      margin-left: -15px;
      margin-right: -15px;
    }

    .info-stats-item {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .info-section {
    &__btn {
      .btn {
        width: 100%;
        justify-content: center;
      }
    }
  }
}