// В этом файле должны быть стили для БЭМ-блока main-reasons, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.main-reasons {

    $block-name: &; // #{$block-name}__element

    margin: 96px 0;

    &__title {
        font-family: Quasimoda, sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 43px;
        text-align: center;
        margin-bottom: 32px;
    }

    &__content {
        width: 1284px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 80px;
    }

    &__items {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    &__image {
        width: 400px;
    }

    &__slider {
        display: none;
    }

    @media (min-width: 1000px) and (max-width: 1500px) {
        &__content {
            gap: 30px;
        }
    }

    @media (max-width: 1000px) {
        margin: 64px 0;
        position: relative;

        &__title {
            font-size: 26px;
            line-height: 31px;
            margin-bottom: 16px;
        }

        &__content {
            align-items: flex-start;
            //overflow-x: auto;
            //overflow-y: hidden;
            flex-wrap: nowrap;
            width: 100%;
            position: relative;
            counter-reset: main-reasons;
            //display: grid;
            grid-template-areas:
                "img img"
                "items1 items2";
            padding-top: 0;
            padding-bottom: 34px;
            //gap: 32px 28px;

            display: flex;
            flex-direction: column;
            gap: 28px;
        }

        &__items {
            display: none;
            flex-direction: row;
            flex: none;
        }

        &__image {
            grid-area: img;
            width: 100%;

            img {
                width: 344px;
                height: 344px;
                position: sticky;
                left: 0;
            }
        }

        &__inner {
            padding: 0;
        }

        &__slider {
            display: block;
            width: 100%;
            padding-bottom: 34px;

            .swiper-scrollbar {
                background: #F9F9F9;
                height: 4px;
                border-radius: 2px;
            }

            .swiper-scrollbar-drag {
                background: #8A9199;
                border-radius: 2px;
            }

            &.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
                left: 0;
                width: 100%;
                height: 4px;
                bottom: 0;
            }
        }
    }
}


.main-reasons-item {
    &__title {
        //font-size: 24px;
        font-weight: 400;
        //line-height: 26px;
        //margin-bottom: 16px;
        text-transform: uppercase;

        font-family: Quasimoda;
        font-size: 26px;
        line-height: 28.6px;
        letter-spacing: -0.25px;
        margin-bottom: 10px;
    }

    &__text {
        font-weight: 400;
        //line-height: 20px;
        line-height: 19.6px;
        letter-spacing: -0.10000000149011612px;
    }

    @media (max-width: 1000px) {
        //width: 100vw;
        flex: none;
        //padding: 0 15px;
        padding: 0;
        width: 100%;

        &__title {
            &:before {
                counter-increment: main-reasons;
                content: counter(main-reasons) ". ";
            }
        }
    }
}