// В этом файле должны быть стили для БЭМ-блока mini-cart, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.mini-cart {
    $block-name: &; // #{$block-name}__element

    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(26, 26, 26, 0.5);

    &__inner {
        position: relative;
        width: 500px;
        margin-left: auto;
        height: 100%;
        background: #F9F9F9;
        padding: 32px 35px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    &__close {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 6L6 18' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 6L18 18' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        display: block;
        width: 24px;
        height: 24px;
        background-position: center center;
        background-repeat: no-repeat;
        position: absolute;
        right: 16px;
        top: 12px;
    }

    &__title {
        font-family: Quasimoda;
        font-size: 36px;
        line-height: 43.2px;
        text-transform: uppercase;
        margin-bottom: 31px;
    }

    &__total {
        letter-spacing: -0.1px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
    }

    &__order {
        width: 100%;
        margin-bottom: 12px;
        flex: none;
    }

    &__hint {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
        letter-spacing: -0.1px;
        color: #8A9199;
        margin-bottom: 32px;
    }

    &__close-button {
        width: 100%;
        flex: none;
        margin-bottom: 16px;
    }
}

.page.cart-open {
    overflow: hidden;
    padding-right: var(--scrollbar-width);

    .mini-cart {
        display: block;
    }
}

.mini-cart-product {
    display: flex;
    gap: 16px;
    position: relative;
    border-bottom: 1px solid #8A9199;
    padding-bottom: 24px;
    margin-bottom: 22px;

    &__image {
        flex: none;
        width: 100px;

        img {
            display: block;
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
        }
    }

    &__content {
        flex: 1;
    }

    &__title {
        display: block;
        text-decoration: none;
        letter-spacing: -0.1px;
        padding-right: 50px;
        margin-bottom: 13px;
    }

    &__pair {
        display: flex;
        gap: 10px;
    }

    &__sex {
        font-size: 10px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: -0.1px;
        color: #8A9199;
        margin-bottom: 2px;
    }

    &__description {
        font-size: 10px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: -0.1px;
        color: #8A9199;
        margin-bottom: 6px;
    }

    &__prices {
        display: flex;
        align-items: baseline;
        gap: 9px;
    }

    &__price {
        letter-spacing: -0.1px;
    }

    &__price-old {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: -0.1px;
        color: #8A9199;
        text-decoration: line-through;
    }

    &__actions {
        display: flex;
        position: absolute;
        top: 1px;
        right: -1px;
        gap: 12px;
    }

    &__favorite {
        svg {
            fill: none;
        }

        &.in svg {
            fill: currentColor;
        }

        &:focus {
            color: currentColor;
        }
        &:hover {
            color: currentColor;

            svg {
                fill: currentColor;
            }
        }
    }

    &__remove {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 3L3 15' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 3L15 15' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        display: block;
        width: 18px;
        height: 18px;
        background-position: center center;
        background-repeat: no-repeat;
    }

    @media (max-width: 1000px) {
        &__title {
            padding-right: 0;
        }

        &__actions {
            flex-direction: column-reverse;
        }

        &__content {
            padding-right: 16px;
        }
    }
}

.mini-cart-recommend {
    margin-top: auto;

    &__title {
        font-family: Quasimoda;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 22px;
    }

    &__slider {
        .swiper-pagination-bullet {
            border: 1px solid #000000;
            width: 8px;
            height: 8px;
        }

        .swiper-pagination-bullet-active {
            background: #000000;
        }

        .swiper-pagination-horizontal.swiper-pagination-bullets {
            bottom: -3px;
            left: 112px;
            width: auto;

            .swiper-pagination-bullet {
                margin: 0 4px;
            }
        }
    }
}

.mini-cart-recommend-product {
    display: flex;
    gap: 16px;
    box-sizing: border-box;

    &__image {
        width: 100px;
        border: 1px solid rgba(138, 145, 153, 0.5);

        img {
            display: block;
            width: 100%;
            aspect-ratio: 1;
        }
    }

    &__title {
        letter-spacing: -0.1px;
        margin-bottom: 8px;
        line-height: 19px;
    }

    &__price {
        letter-spacing: -0.1px;
    }
}

.mini-cart-actions {
    margin-bottom: 8px;

    &__send {
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: -0.1px;
        color: #1A1A1A;
    }

    &__hint {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.4px;
        letter-spacing: -0.1px;
        color: #8A9199;
        margin-bottom: 10px;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;
    }

    @media (max-width: 1000px) {
        &__buttons {
            [data-mobile-text] {
                font-size: 0;

                &:before {
                    content: attr(data-mobile-text);
                    font-size: 14px;
                }
            }
        }
    }
}