// В этом файле должны быть стили для БЭМ-блока mobile-menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.mobile-menu {
    $block-name: &; // #{$block-name}__element

    display: none;
    flex: 1;

    &__menu {
        margin-bottom: 29px;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 24px;
        margin-bottom: 16px;

        .btn {
            margin-top: 16px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__contacts {
        margin: 0 -16px;
        display: flex;
        align-items: center;
        margin: unset;
        background: unset;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    & &__social {
        gap: 16px;

        .social__link {
            width: 30px;
            height: 30px;
        }
    }

    &__inner {
        display: none;
        flex-direction: column;
        position: fixed;
        top: $header-height-mobile;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
        z-index: 100;
        background: white;
        height: auto;
        overflow-x: hidden;
        padding: 0 15px 17px;

        &--shown {
            display: flex;
        }
    }

    &__nav {
        flex: 1;
        list-style: none;
        padding: 0;
        margin: 0 0 48px;
    }

    &__nav-link {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: -0.25px;
    }

    &__phone {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__email {
        font-size: 14px;
        line-height: 17px;
        color: #24272D;
    }

    &__address {
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.1px;
        padding-top: 2px;
    }

    &__email {
        font-size: 15px;
        color: white;
        font-weight: 700;
    }

    &--open {
        display: block;
    }

    .nav-menu {
        margin: 0 0 auto;
    }

    .nav-menu__item:not(.nav-menu__item--show-children):hover > .nav-menu__link {
        color: #1e724e;
    }

    &__lang {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 7px;

        &:after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4 4L7 1' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            display: inline-block;
            width: 8px;
            height: 5px;
        }
    }

    &__nav-heading {
        display: flex;
        padding: 10px 0 9px;
        border-bottom: 1px solid #000;
        align-items: center;
    }

    &__nav-link-icon {
        background-image: url("data: image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4 4L7 1' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        display: inline-block;
        width: 8px;
        height: 5px;
        margin-left: auto;
        margin-right: 8px;
        background-size: 100% 100%;
    }

    &__nav-link {
        display: unset;
        padding: unset;
        border-bottom: unset;
        align-items: unset;
    }

    &__nav-subitem {
        display: none;
    }

    &.child-opened &__nav-item {
        display: none;
    }

    &__nav-item {
        margin: 0;
    }

    &.child-opened &__nav-item.opened {
        display: block;

        .mobile-menu__nav-heading {
            // padding-top: 0px;
            padding-bottom: 8px;
            margin-bottom: 13px;
        }

        .mobile-menu__nav-link {
            //color: #8a9199;
            color: $black;
        }
    }

    &.child-opened &__nav-item.opened &__nav-link-icon {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L1 11' stroke='%231A1A1A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 1L11 11' stroke='%231A1A1A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        width: 10px;
        height: 10px;
    }

    &.child-opened  &__nav-item.opened &__nav-subitem {
        display:block;
    }

    &-subcats {
        display: flex;
        flex-direction: column;

        &__list {
            display: block;
            padding-bottom: 1px;
        }

        &__item {
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            text-align: center;
            letter-spacing: -0.1px;
            text-decoration: none;
            text-align: left;
            display: flex;
            align-items: center;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        &__item-image {
            flex-shrink: 0;
            width: 58px;
            height: 28px;
            line-height: 28px;

            img {
                height: auto;    
                display: inline-block;
                vertical-align: middle;
            }
        }

        &__item-title {
            width: 211px;
            padding-right: 20px;
        }

        &__more {
            display: block;
            line-height: 140%;
            letter-spacing: -0.1px;
            padding: 12px 0;
            text-decoration: none;
            font-weight: 500;
        }
    }

    &-subitem {
        padding-top: 13px;
        display: block;
        font-size: 12px;
        letter-spacing: -0.1px;
        text-decoration: none;

        &__image {
            margin-bottom: 8px;

            img {
                display: block;
                height: 214px;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &-sublist {
        list-style: none;
        padding: 0 0 18px;
        //border-bottom: 1px solid #000;
        margin: 25px 0 0;

        &__item:not(:first-child) {
            margin-top: 27px;
        }

        &__link {
            letter-spacing: -0.1px;
            text-decoration: none;
        }
    }

    @media (max-width: 1000px) {
        display: block;
    }
}
