/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-next-blue--lg {
  background-image: url(../img/icons/sprite_nav.png);
  background-position: 0px 0px;
  width: 26px;
  height: 50px;
}
.icon-next-blue {
  background-image: url(../img/icons/sprite_nav.png);
  background-position: 0px -70px;
  width: 10px;
  height: 19px;
}
.icon-next-gray--lg {
  background-image: url(../img/icons/sprite_nav.png);
  background-position: -46px 0px;
  width: 26px;
  height: 50px;
}
.icon-next-gray {
  background-image: url(../img/icons/sprite_nav.png);
  background-position: -30px -70px;
  width: 10px;
  height: 19px;
}
.icon-prev-blue--lg {
  background-image: url(../img/icons/sprite_nav.png);
  background-position: -92px 0px;
  width: 26px;
  height: 50px;
}
.icon-prev-blue {
  background-image: url(../img/icons/sprite_nav.png);
  background-position: -60px -70px;
  width: 10px;
  height: 19px;
}
.icon-prev-gray--lg {
  background-image: url(../img/icons/sprite_nav.png);
  background-position: -138px 0px;
  width: 26px;
  height: 50px;
}
.icon-prev-gray {
  background-image: url(../img/icons/sprite_nav.png);
  background-position: -90px -70px;
  width: 10px;
  height: 19px;
}
