/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-md-gray {
  background-image: url(../img/icons/sprite_select.png);
  background-position: 0px -47px;
  width: 22px;
  height: 12px;
}
.icon-arrow-md-white {
  background-image: url(../img/icons/sprite_select.png);
  background-position: -42px -47px;
  width: 22px;
  height: 12px;
}
.icon-arrow-sm-gray {
  background-image: url(../img/icons/sprite_select.png);
  background-position: -92px 0px;
  width: 12px;
  height: 7px;
}
.icon-arrow-sm-white {
  background-image: url(../img/icons/sprite_select.png);
  background-position: -92px -27px;
  width: 12px;
  height: 7px;
}
.icon-date-gray {
  background-image: url(../img/icons/sprite_select.png);
  background-position: 0px 0px;
  width: 26px;
  height: 27px;
}
.icon-date-white {
  background-image: url(../img/icons/sprite_select.png);
  background-position: -46px 0px;
  width: 26px;
  height: 27px;
}
