/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-facebook-blue {
  background-image: url(../img/icons/sprite_soc.png);
  background-position: -90px 0px;
  width: 16px;
  height: 17px;
}
.icon-facebook-gray {
  background-image: url(../img/icons/sprite_soc.png);
  background-position: 0px -72px;
  width: 16px;
  height: 17px;
}
.icon-twitter-blue {
  background-image: url(../img/icons/sprite_soc.png);
  background-position: 0px -35px;
  width: 20px;
  height: 17px;
}
.icon-twitter-gray {
  background-image: url(../img/icons/sprite_soc.png);
  background-position: -40px -35px;
  width: 20px;
  height: 17px;
}
.icon-vk-blue {
  background-image: url(../img/icons/sprite_soc.png);
  background-position: 0px 0px;
  width: 25px;
  height: 15px;
}
.icon-vk-gray {
  background-image: url(../img/icons/sprite_soc.png);
  background-position: -45px 0px;
  width: 25px;
  height: 15px;
}
