/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-scheme-hover {
  background-image: url(../img/icons/sprite_scheme.png);
  background-position: 0px 0px;
  width: 21px;
  height: 16px;
}
.icon-scheme {
  background-image: url(../img/icons/sprite_scheme.png);
  background-position: -41px 0px;
  width: 21px;
  height: 16px;
}
