/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrows-next-gray {
  background-image: url(../img/icons/sprite_arrows.png);
  background-position: 0px 0px;
  width: 12px;
  height: 15px;
}
.icon-arrows-next-white {
  background-image: url(../img/icons/sprite_arrows.png);
  background-position: -32px 0px;
  width: 12px;
  height: 15px;
}
.icon-arrows-prev-gray {
  background-image: url(../img/icons/sprite_arrows.png);
  background-position: -64px 0px;
  width: 12px;
  height: 15px;
}
.icon-arrows-prev-white {
  background-image: url(../img/icons/sprite_arrows.png);
  background-position: 0px -35px;
  width: 12px;
  height: 15px;
}
