// В этом файле должны быть стили для БЭМ-блока share, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.share {
  $block-name: &; // #{$block-name}__element

  margin-top: 68px;
  padding-top: 35px;
  border-top: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E7E;
    margin-right: 15px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid $black;
    outline: none;
    color: $black;
    cursor: pointer;
    box-shadow: none;
    padding: 0;
    margin: 0;

    .icon {
      fill: currentColor;
    }

    .icon--share-telegram {
      margin: 13px 10px 13px 10px;
    }

    .icon--share-vk {
      margin: 15px 9px 14px 9px;
    }

    .icon--share-link {
      margin: 10px 8px 10px 8px;
    }

    &:hover {
      color: $orange-hover;
      border-color: $orange-hover;
    }
  }

  @media (max-width: $screen-xl - 1) {
    padding-top: 30px;
    margin-top: 38px;

    &__title {
      margin-bottom: 0;
    }

    &__list {
      gap: 8px;
    }

    &__button {
      width: 38px;
      height: 38px;

      svg {
        // transform: scale(0.8);
      }

      .icon--share-telegram {
        width: 20px;
        height: 16px;
        margin: 11px 10px 9px 6px;
      }

      .icon--share-vk {
        width: 20px;
        height: 13px;
        margin: 13px 8px 10px;
      }

      .icon--share-link {
        width: 23px;
        height: 24px;
        margin: 6px 7px 6px 7px;
      }
    }
  }
}
