<div class="recent-news">
	<div class="container">
		<div class="heading">
		<div class="heading__l">
			<div class="title">Последние новости</div>
		</div>
		<div class="heading__r">
			<div class="links">
				<a class="link" href="javascript:void(0);">Все новости</a>
			</div>
		</div>
		</div>
		
		<div class="news-list">
			<div class="news-list__inner">
				
				<div class="news-list__item" v-for="item in items" :key="item.id" v-bind:class="{ wide: item.wide }">
					<a 
					class="news-card" 
					href="javascript:void(0);" 
					:style="'background-image: url('+ item.img + ');'"
					>
						<span class="news-card__content">
							<span class="news-card__date">{{ item.date }}</span>
							<span class="news-card__title">{{ item.title }}</span>
							<span class="news-card__descr">{{ item.descr }}</span>
						</span>
					</a>
				</div>

			</div>
		</div>
	</div>
</div>