// В этом файле должны быть стили для БЭМ-блока making, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.making {
    $block-name: &; // #{$block-name}__element

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 48px 16px;

    &__image {
        position: relative;
        margin-bottom: 16px;

        &:before {
            content: '';
            display: block;
            padding-top: 40.55%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        line-height: 110%;
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: -0.25px;
    }

    &__text {
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.1px;
    }

    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
        gap: 32px;

        &__item {
            display: flex;
            flex-direction: column;
        }

        &__title {
            order: -1;
            font-size: 20px;
            margin-bottom: 6px;
        }

        &__image {
            margin: 0 -15px 12px;

            &:before {
                padding-top: 42.66%;
            }
        }
    }
}
