// В этом файле должны быть стили для БЭМ-блока main-made, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.main-made {
    $block-name: &; // #{$block-name}__element

    &__inner {
        display: flex;
    }

    &__col {
        flex: 1;
        background: #C1C1C1;
        color: #fff;
        background-size: cover;
        padding: 64px;

        &--content {
            flex: 0 0 54%;
        }
    }

    &__title {
        font-family: Quasimoda, sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
        margin-bottom: 32px;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 42px;
    }

    &__contacts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 65px 45px;
    }

    &__contacts-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 16px;
    }

    &__contacts-value {
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
    }

    &__button .btn {
        width: 100%;
    }

    @media (min-width: 1000px) and (max-width: 1500px) {
        &__title {
            line-height: 1.2;
        }
    }

    @media (max-width: 1000px) {
        display: none;
    }
}
