// В этом файле должны быть стили для БЭМ-блока project-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.project-card {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 40px;
  background-color: #fff;
  background-image: url("../img/project-bg-pattern.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  color: $black;
  text-decoration: none;

  &:first-child {
    margin-top: 0;
  }

  &__img {
    display: block;
    width: 590px;
    // height: 100%;
    min-height: 332px;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__main {
    width: 610px;
    padding: 81px 86px 80px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__labels {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -2px;
    margin-right: -3px;
    margin-bottom: 13px;
  }

  &__label {
    margin-left: 2px;
    margin-right: 3px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: top;
    background-color: $blue;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    padding: 6px 9px 4px;
  }

  &__name {
    margin: 0 0 11px;
  }

  &__text {
    color: $black;
  }
}

@media (max-width: $screen-md - 1) {
  .project-card {
    display: block;
    margin-top: 30px;

    &__img {
      width: 100%;
      padding-top: 56.19335347432024%;
      min-height: unset;
      font-size: 0;
      line-height: 0;
    }

    &__labels {
      margin-bottom: 11px;
    }

    &__label {
      font-size: 14px;
      line-height: 20px;
      padding: 2px 7px 2px;
    }

    &__main {
      width: 100%;
      padding: 30px 25px 23px;
    }

    &__name {
      font-size: 20px;
      line-height: 1.2em;
      margin-bottom: 8px;
    }
  } 
}