-
  var projects = [
    {
      img: "project-img-1.jpg",
      name: "ЖК Ália",
      descr: "Поставка силового кабеля крупного сечения марки ППГнг(А)-HF для  строящегося жилого комплекса. Общая протяженность трасс более 20 километров",
      city: "Москва",
      date: "Май 2023",
    },
    {
      img: "project-img-2.jpg",
      name: "ЖК Afi Park Воронцовский",
      descr: "Поставка кабельно-проводниковой продукции для строящегося жилого комплекса. Общая протяженность трасс более 200 километров",
      city: "Москва",
      date: "Июнь - Август 2023",
    },
    {
      img: "project-img-3.jpg",
      name: "Квартал апартаментов \"Бублик\"",
      descr: "Поставка силового кабеля крупного сечения марки ПвБШвнг(А)-LS",
      city: "Сколково",
      date: "Март - Июнь 2023",
    },
    {
      img: "project-img-4.jpg",
      name: "ЖК Лобня Сити",
      descr: "Поставка кабельно-проводниковой продукции для строящегося жилого комплекса. Общая протяженность трасс 37 километров",
      city: "Лобня",
      date: "Март 2023",
    }
  ];