extends ../pug/layout-ru.pug

block variables
    - var pageClass = 'page--catalog';
    - var lang = 'ru';

block meta
    title Main
    meta(name='description', content='')

block content
    +catalog-banner('img/catalog-banner-moms-left.png', 'img/catalog-banner-moms-right.png', 'Браслеты<br>«Детки»')
    .container
        +breadcrumbs()
            +breadcrumbs-item('Главная', '#')
            +breadcrumbs-item('Каталог', '#')
            +breadcrumbs-item('Помолвочные кольца')

    +catalog('moms')