extends ../pug/layout-ru.pug

block variables
    - var pageClass = 'page--catalog';
    - var lang = 'ru';

block meta
    title Main
    meta(name='description', content='')

block content
    +catalog-banner('img/catalog-banner-wedding-left.png', 'img/catalog-banner-wedding-right.png', 'Обручальные кольца')
    .container
        +breadcrumbs()
            +breadcrumbs-item('Главная', '#')
            +breadcrumbs-item('Каталог')
            +breadcrumbs-item('Помолвочные кольца')

    +catalog('wedding')