extends ../pug/layout-ru.pug

block meta
    title Контакты
    meta(name='description', content='')

block content
    .container
        +breadcrumbs()
            +breadcrumbs-item('Главная', '#')
            +breadcrumbs-item('Контакты')

        h1 Контакты

        +contacts()