extends ../pug/layout-ru.pug

block meta
    title System
    meta(name='description', content='')

block content
    .container
        +breadcrumbs()
            +breadcrumbs-item('Home', '#')
            +breadcrumbs-item('Diamond Guide', '#')
            +breadcrumbs-item('Color')

        h1 2c - Color

    +guide-child(2)