extends ../pug/layout-ru.pug

block meta
    title System
    meta(name='description', content='')

block content
    .container
        +breadcrumbs()
            +breadcrumbs-item('Home', '#')
            +breadcrumbs-item('Diamond Guide', '#')
            +breadcrumbs-item('Carat')

        h1 1c - Carat

    +guide-child(1)