extends ../pug/layout-ru.pug

block meta
    title Заказ Колец
    meta(name='description', content='')

block content
    .container
        +breadcrumbs()
            +breadcrumbs-item('Главная', '#')
            +breadcrumbs-item('Заказ Колец')

        h1 Заказ Колец

        +order()