//- Все примеси в этом файле должны начинаться c имени блока (news-page)

mixin news-page(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +news-page('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' news-page--' + modsList[i].trim();
      }
    }

  .news-page(class=allMods)&attributes(attributes)
    .container
      block