// В этом файле должны быть стили для БЭМ-блока news-page, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.news-page {

  $block-name:                &; // #{$block-name}__element

  padding-bottom: 100px;
}

@media (max-width: $screen-xl - 1) {
  .news-page {
    padding-bottom: 60px;
  }
}