// В этом файле должны быть стили для БЭМ-блока main-banner, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.main-banner {

  $block-name:                &; // #{$block-name}__element

  &__img {
    background-color: #3B61A5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      background-color: #3B61A5;
      opacity: 0.3;
    }
  }

  &__video {
    overflow: hidden;
    pointer-events: none;
    height: 600px;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      background-color: #3B61A5;
      opacity: 0.3;
    }

    video {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.main-banner-links {
  position: relative;
  z-index: 3;
  margin-top: -118px;

  &__in {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -11px;
    margin-right: -12px;
    margin-bottom: -23px;
  }

  &__item {
    padding-left: 11px;
    padding-right: 12px;
    padding-bottom: 23px;
    width: 25%;
    flex: 1;
  }
}

.main-banner-link {
  display: block;
  background-color: $blue;
  color: #fff;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  padding: 19px 80px 105px 24px;
  position: relative;
  min-height: 180px;
  clip-path: polygon(0 0,95% 0,100% 8%,100% 100%,100% 100%,5% 100%,0 92%,0 0);

  &:hover {
    color: #fff;
    text-decoration: none;

    .circle-link {
      background-color: $orange-hover;
    }
  }

  &:focus {
    color: #fff;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 211px;
    height: 236px;
    background: transparent url("../img/main-banner-category-bg.png") no-repeat 0 0;
  }

  &__title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    text-transform: uppercase;
    // position: relative;
    // z-index: 4;
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__arrow {
    position: absolute;
    bottom: 25px;
    left: 24px;
  }

  .circle-link {
    line-height: 0;
    width: 38px;
    height: 38px;
    padding: 9px 9px 10px 10px;

    .icon--circle-arrow {
      display: inline-block;
      vertical-align: middle;
      width: 19px;
      height: 19px;
    }
  }

  .icon--circle-arrow-mini {
    display: none;
  }
}

@media (max-width: $screen-xl - 1) {
  .main-banner {
    &__video {
      // height: 410px;
      height: 0;
      padding-top: 56.25%;

      video {
        object-fit: unset;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }


  .main-banner-links {
    margin-top: -46px;

    &__in {
      margin-bottom: 0;
    }

    &__item {
      width: 100%;
      margin-top: 15px;
      padding-bottom: 0;
      flex: auto;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .main-banner-link {
    min-height: 88px;
    padding: 21px 72px 19px 24px;
    clip-path: polygon(0 0,calc(100% - 15px) 0,100% 15px,100% 100%,100% 100%,15px 100%,0 calc(100% - 15px),0 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &::before {
      width: 133px;
      height: 88px;
      background-size: contain;
      background-image: url("../img/main-banner-category-bg-mobile.png");
    }

    &__img {
      width: 60px;
      top: 10px;
      right: 10px;
      bottom: unset;
    }

    &__title {
      font-size: 20px;
      line-height: 24px;
    }

    &__arrow {
      position: static;
      display: inline-block;
      vertical-align: middle;
      margin-top: 0px;
      margin-bottom: 3px;
      margin-left: 7px;
    }

    .circle-link .icon--circle-arrow {
      display: none;
    }

    .icon--circle-arrow-mini {
      display: block;
    }

    .circle-link {
      width: 22px;
      height: 22px;
      padding: 5px;
      line-height: 0;

      .icon {
        width: 12px;
        height: 12px;
      }
    }
  }
}
