// В этом файле должны быть стили для БЭМ-блока faq, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.faq {

  $block-name:                &; // #{$block-name}__element

  padding-top: 123px;
}


.faq-tab {
  background-color: #fff;
  margin-top: 20px;
  padding-bottom: 2px;

  &:first-child {
    margin-top: 0;
  }
}

.faq-tab-head {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  color: $black;
  text-decoration: none;
  font-size: 0;
  line-height: 0;
  padding: 35px 35px 27px;

  &__icon {
    width: 40px;
    height: 39px;
    margin-right: 20px;
    color: $orange-hover;
    flex-shrink: 0;

    .icon {
      fill: currentColor;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 600;
    color: $black;
    padding-right: 12px;
    padding-top: 5px;
  }

  &__expand {
    flex-shrink: 0;
    margin-left: auto;
    width: 48px;
    height: 48px;
    font-size: 0;
    line-height: 0;
    position: relative;
    background-color: #F5F5F5;
    border-radius: 50%;
    transition: transform .25s ease, background-color .25s ease;
    transform: rotate(45deg);
    color: $black;

    &:hover {
      background-color: #E1E1E1;
    }

    .icon {
      display: block;
      position: absolute;
      top: 13px;
      left: 13px;
    }
  }
}

.faq-tab-panel {
  // display: none;
  overflow: hidden;
  transition: all .3s;

  &__inner {
    padding: 0 118px 40px 95px;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.faq-tab--collapsed {
  .faq-tab-head {
    &__expand {
      transform: rotate(0deg);
    }

    &__icon {
      color: $black;
    }
  }
}

.faq-tab--collapsed .faq-tab-panel {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: $screen-xl - 1) {
  .faq {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .faq-tab {
    padding-bottom: 17px;
    margin-top: 10px;
  }

  .faq-tab-head {
    padding: 29px 15px 11px;

    &__icon {
      width: 23px;
      height: 22px;
      margin-right: 11px;
      margin-top: 2px;

      .icon {
        width: 23px;
        height: 22px;
      }
    }

    &__text {
      font-size: 18px;
      line-height: 26px;
      padding-top: 0;
    }

    &__expand {
      width: 24px;
      height: 24px;
      margin-top: 1px;

      .icon {
        width: 12px;
        height: 12px;
        top: 6px;
        left: 6px;
      }
    }
  }

  .faq-tab-panel {
    &__inner {
      padding-left: 48px;
      padding-right: 48px;
      padding-bottom: 11px;
    }
  }
}