-
  var faqItems = [
    {
      q: "Что такое ОКЛ?",
      a: "Огнестойкая кабельная линия представляет из себя комплекс из  комплектующих (в первую очередь это кабели, несущие системы и элементы  коммутации), а также технических и проектных решений, обеспечивающих  гарантированное функционирование кабельной линии в течении заявленного  срока в условиях воздействия открытого пламени. Корректный монтаж –  также обязательный элемент ОКЛ."
    },
    {
      q: "Возможно ли приобрести типовую ОКЛ?",
      a: "Огнестойкая кабельная линия представляет из себя комплекс из  комплектующих (в первую очередь это кабели, несущие системы и элементы  коммутации), а также технических и проектных решений, обеспечивающих  гарантированное функционирование кабельной линии в течении заявленного  срока в условиях воздействия открытого пламени. Корректный монтаж –  также обязательный элемент ОКЛ."
    },
    {
      q: "Как производится авторский контроль?",
      a: "Огнестойкая кабельная линия представляет из себя комплекс из  комплектующих (в первую очередь это кабели, несущие системы и элементы  коммутации), а также технических и проектных решений, обеспечивающих  гарантированное функционирование кабельной линии в течении заявленного  срока в условиях воздействия открытого пламени. Корректный монтаж –  также обязательный элемент ОКЛ."
    },
    {
      q: "Какой период огнестойкости необходим для ОКЛ?",
      a: "Огнестойкая кабельная линия представляет из себя комплекс из  комплектующих (в первую очередь это кабели, несущие системы и элементы  коммутации), а также технических и проектных решений, обеспечивающих  гарантированное функционирование кабельной линии в течении заявленного  срока в условиях воздействия открытого пламени. Корректный монтаж –  также обязательный элемент ОКЛ."
    },
    {
      q: "Условия применения нештатных комплектующих в составе ОКЛ?",
      a: "Огнестойкая кабельная линия представляет из себя комплекс из  комплектующих (в первую очередь это кабели, несущие системы и элементы  коммутации), а также технических и проектных решений, обеспечивающих  гарантированное функционирование кабельной линии в течении заявленного  срока в условиях воздействия открытого пламени. Корректный монтаж –  также обязательный элемент ОКЛ."
    },
    {
      q: "Кому задавать вопросы, возникающие в процессе комплектации и монтажа?",
      a: "Огнестойкая кабельная линия представляет из себя комплекс из  комплектующих (в первую очередь это кабели, несущие системы и элементы  коммутации), а также технических и проектных решений, обеспечивающих  гарантированное функционирование кабельной линии в течении заявленного  срока в условиях воздействия открытого пламени. Корректный монтаж –  также обязательный элемент ОКЛ."
    },
    {
      q: "Особенности сертификации",
      a: "Огнестойкая кабельная линия представляет из себя комплекс из  комплектующих (в первую очередь это кабели, несущие системы и элементы  коммутации), а также технических и проектных решений, обеспечивающих  гарантированное функционирование кабельной линии в течении заявленного  срока в условиях воздействия открытого пламени. Корректный монтаж –  также обязательный элемент ОКЛ."
    }
  ];