-
  var mainMenu = [
    {
      "name": "Услуги",
      "url": "#"
    },
    {
      "name": "Преимущества",
      "url": "#"
    },
    {
      "name": "Примеры работ",
      "url": "#"
    },
    {
      "name": "Контакты",
      "url": "#"
    }
  ];
