-
  var benefits  = [
    {
      title: "Негорючий",
      img: "benefit-1.svg",
    },
    {
      title: "Низко дымный",
      img: "benefit-2.svg",
    },
    {
      title: "Без хлора и&nbsp;других галогенов",
      img: "benefit-3.svg",
    },
    {
      title: "Нетоксичный",
      img: "benefit-4.svg",
    },
    {
      title: "Огнестойкий",
      img: "benefit-5.svg",
    }
  ];