-
  var certs = [
    {
      img: "cert-1.jpg",
      imgLg: "cert-1-large.jpg"
    },
    {
      img: "cert-2.jpg",
      imgLg: "cert-2-large.jpg"
    },
    {
      img: "cert-3.jpg",
      imgLg: "cert-3-large.jpg"
    },
    {
      img: "cert-4.jpg",
      imgLg: "cert-4-large.jpg"
    },
    {
      img: "cert-5.jpg",
      imgLg: "cert-5-large.jpg"
    },
    {
      img: "cert-1.jpg",
      imgLg: "cert-1-large.jpg"
    },
    {
      img: "cert-2.jpg",
      imgLg: "cert-2-large.jpg"
    },
    {
      img: "cert-3.jpg",
      imgLg: "cert-3-large.jpg"
    },
    {
      img: "cert-4.jpg",
      imgLg: "cert-4-large.jpg"
    },
    {
      img: "cert-5.jpg",
      imgLg: "cert-5-large.jpg"
    },
  ];