//- Все примеси в этом файле должны начинаться c имени блока (certificate-single)

mixin certificate-single(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +certificate-single('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' certificate-single--' + modsList[i].trim();
      }
    }

  .certificate-single(class=allMods)&attributes(attributes)
    block