// В этом файле должны быть стили для БЭМ-блока certificate-single, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.certificate-single {

  $block-name:                &; // #{$block-name}__element

  padding-bottom: 100px;
}

.certificates-gallery {
  background-color: #fff;
  padding-top: 83px;
  overflow: hidden;

  .section-title {
    text-align: left;
    margin-bottom: 23px;
  }

  &__slider {
    width: 100%;

    &-inner {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  &__grid {
    width: 100%;
    overflow: hidden;

    &-inner {
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: -30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

.certificate-item {
  font-size: 0;
  line-height: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  width: 20%;

  &__img {
    display: block;
    padding: 17px 20px 20px;
    background-color: #F5F5F5;
  }
}

.certificate-card {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 50px 40px 40px;
  margin-top: 41px;
  background-color: #fff;
  clip-path: polygon(0 0,calc(100% - 49px) 0,100% 38px,100% 100%,100% 100%,0 100%,0 100%,0 0);

  &__company-logo {
    font-size: 0;
    line-height: 90px;
    flex-shrink: 0;
    width: 290px;
    height: 150px;
    padding: 30px;
    margin-right: 40px;
    background-color: #F5F5F5;
    text-align: center;

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__main {
    width: calc(100% - 330px);
  }

  &__doc-link {
    padding-top: 6px;
  }

  &__title {
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 6px;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $orange;
        text-decoration: none;
      }
    }
  }

  &__descr {
    color: #7E7E7E;
    font-weight: 400;
    width: 100%;

    .sep {
      color: #cdcdcd;
      display: inline-block;
      vertical-align: top;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  &__top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__info {
    padding-top: 1px;
  }

  &__bottom {
    margin-top: 12px;
    padding-top: 26px;
    border-top: 1px solid #e6e6e6;

    &-in {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      margin-left: -20px;
      margin-right: -20px;
      margin-bottom: -40px;
    }

    &-btn {
      display: none;
    }
  }
}

.certificate-card-list-item {
  //width: 284px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;

  &__caption {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #7E7E7E;
  }

  &__value {
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
  }
}

.doc-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $black;
  text-decoration: none;

  &__icon {
    font-size: 0;
    line-height: 0;
    margin-right: 8px;

    .icon {
      fill: $orange;
    }
  }
}

@media (min-width: $screen-xl) {
  .certificates-gallery__slider {

    &-inner {
      margin-bottom: -30px;
    }

    .swiper-slide {
      width: 20%;
      height: auto;
    }

    .swiper-wrapper {
      flex-wrap: wrap;
      height: auto;
    }

    .certificate-item {
      width: auto;
    }

    .nav-arrows {
      display: none;
    }
  }
}

@media (max-width: $screen-xl - 1) {
  .certificate-single {
    padding-bottom: 60px;
  }

  .certificates-gallery {
    padding-top: 53px;

    .section-title {
      font-size: 30px;
      line-height: 1.2em;
      margin-bottom: 27px;
    }
  }

  .certificate-item {
    width: 25%;
  }

  .certificate-card {
    clip-path: none;
    display: block;
    padding: 20px;
    font-size: 14px;
    line-height: 20px;

    &__company-logo {
      background-color: #F5F5F5;
      height: 98px;
      padding: 10px 50px;
      text-align: center;
      font-size: 0;
      line-height: 78px;
      margin-right: 0;
      margin-bottom: 26px;
      width: 100%;

      img {
        display: inline-block;
        vertical-align: middle;
        max-height: 100%;
      }
    }

    &__main {
      width: 100%;
    }

    &__top {
      display: block;
    }

    &__doc-link {
      display: none;
    }

    &__title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
    }

    &__descr {
      font-size: 14px;
      line-height: 18px;
    }

    &__bottom {
      margin-top: 26px;

      &-in {
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: -9px;
      }

      &-btn {
        display: block;
        margin-top: 25px;

        .btn {
          max-width: 480px;
          width: 100%;
        }
      }
    }

    .cert-descr-line {
      display: block;
      margin-top: 1px;

      &:first-child {
        margin-top: 0;
      }
    }

    .certificate-card__descr .sep {
      display: none;
    }
  }

  .certificate-card-list-item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 9px;

    &__caption {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 2px;
    }

    &__value {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .certificates-gallery {
    &__slider {
      &-inner {
        margin-left: -7px;
        margin-right: -8px;
      }

      .certificate-item {
        width: auto;
        padding-left: 7px;
        padding-right: 8px;
        padding-bottom: 0;

        &__img {
          padding: 16px;
        }
      }
    }

    .slider-container .nav-arrows {
      left: -8px;
      right: -7px;
    }
  }
}

@media (max-width: $screen-lg - 1) {
  .certificate-item {
    width: 33.33%;
  }
}

@media (max-width: $screen-md - 1) {
  .certificate-item {
    width: 50%;
  }
}
