// В этом файле должны быть стили для БЭМ-блока category-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.category-card {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: $black;
  text-decoration: none;
  position: relative;
  height: 100%;
  min-height: 110px;
  background-color: #3B61A5;
  color: #fff;
  // padding: 41px 83px 28px 26px;
  padding: 0 83px 0 26px;
  clip-path: polygon(0 0, calc(100% - 42px) 0%, 100% 32px, 100% 100%, 42px 100%, 0% 100%, 0 0);
  cursor: pointer;
  transition: all .3s ease;

  &__name {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    transition: opacity .25s ease;
    opacity: 1;
  }

  &__name-mobile {
    display: none;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
  }

  &__image {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 20px;
    bottom: 0;
    right: 0;
    width: 83px;
    padding-right: 31px;
    text-align: right;

    img {
      max-height: 100%;
      vertical-align: bottom;
    }
  }

  &__hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    // padding: 24px 70px 28px 26px;
    padding: 0 70px 6px 26px;
    transition: opacity .25s ease;
    opacity: 0;
    color: #3C3C3C;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -2px;
  }

  &__link {
    padding: 0 1px 2px;
  }

  &__caption {
    margin-bottom: 6px;
  }

  &:hover {
    background-color: #fff;
    color: $black;

    #{$block-name}__hover {
      opacity: 1;
    }

    // #{$block-name}__name {
    //   opacity: 0;
    // }
  }
}

.cat-circle-link {
  display: block;
  border-radius: 50%;
  background-color: #F5F5F5;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #3C3C3C;
  letter-spacing: -0.08em;
  text-decoration: none;
  transition: all .25s ease;

  &:hover {
    text-decoration: none;
    background-color: $orange;
    color: #fff;
  }
}

@media (max-width: $screen-xl - 1) {
  .category-card {
    clip-path: polygon(0 0, calc(100% - 24px) 0%, 100% 18px, 100% 100%, 24px 100%, 0% 100%, 0 0);
    background-color: #fff;
    color: $black;
    padding: 0;

    /*&__hover {
      opacity: 1;
      position: static;
    }

    &__name {
      display: none;
    }*/

    /*&__name-mobile {
      display: block;
    }*/
  }
}


@media (max-width: $screen-md - 1) {
  .category-card {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 64px;

    &__image {
      padding-right: 25px;
      width: 48px;

      img {
        position: absolute;
        bottom: 0;
        right: 25px;
        // max-height: 100%;
        max-height: 86px;
      }
    }

    &__category {
      font-size: 12px;
      line-height: 16px;
    }

    &__name {
      font-size: 18px;
      line-height: 30px;
    }

    &__hover {
      padding: 0;
    }

    &__caption {
      padding-top: 1px;
      margin-bottom: 3px;
    }

    &__links {
      margin-left: -1px;
      margin-right: -2px;
      margin-bottom: -3px;
    }

    &__link {
      padding: 0 2px 3px 1px;
    }
  }

  .cat-circle-link {
    width: 29px;
    height: 29px;
    line-height: 29px;
  }
}