// В этом файле должны быть стили для БЭМ-блока gallery, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.gallery {
    $block-name: &; // #{$block-name}__element


    margin-bottom: 64px;

    &__slide {
        position: relative;

        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    @media (max-width: 1000px) {
        margin-bottom: 24px;

        &__slide {
            width: 251px;
        }
    }
}
