// В этом файле должны быть стили для БЭМ-блока reviews, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.reviews {
    $block-name: &; // #{$block-name}__element


    &__item {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &:not(:last-child) {
            padding-bottom: 32px;
            border-bottom: 1px solid #000000;
            margin-bottom: 32px;
        }
    }

    &__rating {
        display: flex;
        gap: 5px;

        svg {
            fill: #f8b20e;
        }
    }

    &__summary {
        a {
            color: #66a9cb;
            text-decoration: none;

            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }

    @media (max-width: 1000px) {
        &__item {
            &:not(:last-child) {
                border: 0;
                padding-bottom: 0;
                margin-bottom: 48px;
            }
        }
    }
}

.reviews-img {
    width: 50%;

    & > img {
        width: 100%;
    }

    @media (max-width: 1000px) {
        width: 100%;
        padding-bottom: 15px;
        order: -1
    }
}

.reviews-imgs-wrapper {
    font-size: 0;
    line-height: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -12px;
    margin-bottom: -12px;
}

.reviews-imgs-item {
    display: block;
    padding: 12px 8px;
    width: calc(50% - 16px);

    img {
        width: 100%;
    }
}

#reviews-slider {
    padding-bottom: 32px;

    .swiper-slide img {
        width: 100%;
        max-height: 100%;
    }
    .main-slider__pagination {
        text-align: left;
        font-size: 0;
    }
    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background: #1a1a1a;
        opacity: .3;
        border: 0;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
    }

    .swiper-slide {
        width: 65%;
    }

    @media (max-width: 1000px) {
        .swiper-slide {
            width: 70%;
        }
    }
}