// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.page-header {
    $block-name: &; // #{$block-name}__element

    position: sticky;
    top: 0;
    padding-top: 20px;
    height: $header-height-inner;
    margin-bottom: 28px;
    z-index: 50;
    background: white;

    .menu-opened & {
        position: fixed;
        width: 100%;
        padding-right: var(--scrollbar-width);
        height: $header-height;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin-right: 150px;

        .lang-ru & {
            //width: calc(100vw * 0.286 - (100vw - 1526px) / 2 - 15px);
            margin-right: 20px;
        }
    }

    &__top-menu {
        margin: auto;

        .nav-menu {
            &__list {
                display: flex;
                gap: 41px;
            }

            &__link {
                font-weight: 500;

                &:hover {
                    color: $gray;
                }
            }

            &__item {
                position: relative;

                &--has-child {
                    & > .nav-menu__link {
                        display: flex;
                        align-items: center;
                        gap: 7px;

                        &:after {
                            content: '';
                            background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4 4L7 1' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                            display: inline-block;
                            width: 8px;
                            height: 6px;
                            background-size: 100% 100%;

                            .lang-ru & {
                                display: none;
                            }
                        }
                    }

                    &:hover, &.hover {
                        &  > .nav-menu__link:after {
                            transform: rotate(180deg);
                        }
                    }
                }

                &:hover, &.hover {
                    & > .nav-menu__link {
                        color: $gray;
                    }

                    & > .nav-menu__sublist-wrapper {
                        display: block;
                    }
                }
            }

            &__sublist-wrapper {
                display: none;
                position: absolute;
                top: 100%;
                padding-top: 8px;

                .nav-menu__link {
                    white-space: nowrap;

                    &:hover {
                        color: #66A9CB;
                    }
                }

                .nav-menu__list {
                    flex-direction: column;
                    gap: 4px;
                }
            }
        }
    }

    &__actions {
        svg {
            fill: none;
        }

        a:focus svg {
            fill: transparent;
            stroke: $black;
            color: $black;
        }

        a:hover svg, a:focus:hover {
            fill: $black;
            stroke: $black;
            color: $black;
        }
    }

    &__contacts {
        display: flex;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        gap: 16px;
    }

    &__phone, &__address {
        text-decoration: none;
        position: relative;

        &-text {
            display: none;
            position: absolute;
            top: 100%;
            white-space: nowrap;
            margin-top: 6px;
            letter-spacing: -0.1px;
            color: #1A1A1A;
            background: #fff;
            left: 50%;
            transform: translateX(-50%);
            padding: 12px 24px;
        }

        &:hover {
            color: $gray;
        }

        &:hover &-text {
            display: block;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 29px;
        margin-left: 20px;

        a {
            display: flex;
            width: 24px;
            height: 24px;
            align-items: center;
            justify-content: center;
        }
    }

    &__favorite {
        &.in svg {
            fill: #000;
        }
        &.animate {
            animation-delay: 0s;
            animation-fill-mode: both;
            animation-duration: 1.3s;
            animation-name: heartBeat;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
        }
    }

    &__cart {
        &.animate {
            animation-delay: 0s;
            animation-fill-mode: both;
            animation-duration: 1.3s;
            animation-name: heartBeat;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1
        }

        &.in svg {
            fill: currentColor;
        }
    }

    &__lang {
        display: flex;
        align-items: center;
        gap: 7px;
        text-decoration: none;
        margin-left: 68px;

        &:after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L4 4L7 1' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            display: inline-block;
            width: 8px;
            height: 5px;
        }
    }

    &__menu-button {
        margin-left: 48px;
        border: 0;
        background: none;
        padding: 0;
        cursor: pointer;

        svg {
            display: block;
        }

        @at-root .menu-opened & {
            width: 24px;
            height: 24px;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 6L6 18' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 6L18 18' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");

            svg {
                display: none;
            }
        }
    }

    @media (min-width: 1000px) and (max-width: 1500px) {
        @at-root .lang-ru {
            #{$block-name}__logo {
                width: calc(100vw * 0.286 - (100vw - 1000px) / 2 - 50px);
                padding-right: 20px;
            }

            #{$block-name}__top-menu .nav-menu__list {
                gap: 15px;
            }

            #{$block-name}__actions {
                gap: 15px;
                margin-left: 20px;
            }

            #{$block-name}__menu-button, #{$block-name}__lang {
                margin-left: 20px;
            }

            #{$block-name}__menu-button {
                margin-right: -3px;
            }
        }
    }

    @media (min-width: 1000px) and (max-width: 1200px) {
        @at-root .lang-ru {
            #{$block-name}__logo {
                margin-right: 20px;
                width: 150px;
            }
        }
    }

    // @media (min-width: 1000px) and (max-width: 1500px) {
    //     .lang-ru &__inner.container {
    //         width: 1000px;
    //     }
    // }

    @media (max-width: 1000px) {
        @at-root .page--home & {
            margin-bottom: 0;
        }

        height: $header-height-mobile;
        margin-bottom: 16px;
        border-bottom: 1px solid #86C1D4;
        padding: 16px 0;

        .menu-opened & {
            height: $header-height-mobile;
        }

        &__top-menu,
        &__contacts,
        &__social,
        &__lang,
        &__menu-button
        {
            display: none;
        }

        &__favorite, &__cart {
            padding-bottom: 1px;
        }

        &__actions {
            gap: 14px;
            flex: 1;
            flex-direction: row-reverse;
            margin: 0;
        }

        &__actions &__phone,
        &__actions &__address
        {
            display: none;
        }

        &__logo {
            margin: auto;
        }

        // .lang-ru & {
        //     margin-bottom: 0;
        // }

        .lang-ru &__logo {
            width: 150px;
        }
    }
}

@keyframes heartBeat {
    0% {transform: scale(1)}
    14% {transform: scale(1.3)}
    28% {transform: scale(1)}
    42% {transform: scale(1.3)}
    70% {transform: scale(1)}
}