//- Mixins
include ../mixins/breadcrumb
//- Variables
-
	var header_menu_active = "Работодателям",
		pagetitle = "Наши услуги и схема работы",
		ymap = true,
		tabs_js = true;

doctype html
html(lang="ru")
	head
		include ../partials/common/head

	body
		include ../partials/common/header

		//- Heading
		.heading-section.heading-section-with-photo.heading-section-type-recruitment(style={"background-color":"#cadaeb"})
			.container
				.heading-section-with-photo__in
					.heading-section-with-photo__content
						p.
							Услуги по подбору
							эффективного#[br]
							персонала
						a.btn.btn-lg.btn-primary(href="javascript:void(0);") Заказать подбор

					.heading-section-with-photo__img
						img(src="upload/heading_photos/man2.png" draggable="false" alt="")/
		//- Breadcrumb
		+breadcrumb({
			nav_items: [
				{
					title: header_menu_active,
					url: 'employers.html'
				}
			],
			last_title: pagetitle
		})
		//- Section recruitment
		.section-recruitment
			.container
				.section-header.text-center
					.h1.section-header__title Наши услуги
				.wrapper
					.section-recruitment__l
						p.
							Кадровое агентство уникальных специалистов («КАУС») 
							оказывает услуги по подбору персонала с 2007 г. Среди наших 
							клиентов есть представители крупного, среднего и малого 
							бизнеса, с которыми реализовано уже более 1000 проектов. 
						.section-recruitment__annotation.h4.
								Если вы нацелены на создание команды 
								профессионалов, мы предлагаем вам 
								сотрудничество с нами.
					include ../partials/section_recruitment_r
		//- Recruitment industry
		include ../partials/recruitment_industry
		//- Employers base
		include ../partials/employers_base
		//- Section conformity
		include ../partials/employers_conformity
		//- Funnel selection
		include ../partials/funnel_selection
		//- Advantages
		include ../partials/employers_advantages
		//- Section with header
		.section-with-header
			.container
				.wrapper
					.section-with-header__l
						.section-with-header__title.section-header__title.annotation.
							Найдем проактивных 
							сотрудников для вашего 
							бизнеса!
					.section-with-header__r
						p.section-with-header__descr.
							12 лучших опытных консультантов нашего кадрового агентства раз и навсегда решат 
							Вашу проблему. Мы ценим своих клиентов и готовы всегда им помогать во всем!
						a.btn.btn-lg.btn-outline.btn-outline-transparent(href="javascript:void(0);") Получить консультацию

		//- Recruitment conditions
		include ../partials/recruitment_conditions
		//- Recruitment price
		include ../partials/recruitment_price
		//- Subscribe
		include ../partials/subscribe
		//- Recruitment scheme
		.recruitment-scheme.recruitment-scheme-with-bg(style={"background-image":"url('upload/employers/scheme/bg.jpg')"})
			include ../partials/recruitment_scheme
		//- Clients
		include ../partials/clients
		//- Map
		include ../partials/map

		include ../partials/common/footer
		include ../partials/common/js