// В этом файле должны быть стили для БЭМ-блока burger, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.burger {
  $block-name: &; // #{$block-name}__element

  position: relative;
  z-index: 1;
  border: none;
  user-select: none;
  cursor: pointer;

  width: 24px;
  height: 24px;
  border: 0;
  padding: 1px 0;
  background: transparent;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    display: none;
  }

  &__icon { // stylelint-disable-line  selector-combinator-blacklist
    display: block;
    position: relative;
    width: 100%;

    svg {
      fill: #3c3c3c;
    }

    &--active {
      display: none;
    }
    
    /*height: $toggler-part-height;
    font-size: 0;
    color: transparent;
    transition: background $transition-time $transition-time, transform $transition-time;

    &, &:before, &:after {
      display: block;
      width: 24px;
      height: 3px;
      border-radius: 1px;
      background: black;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      transform-origin: 50% 50%;
      transition: top $transition-time $transition-time, transform $transition-time;
    }

    &:before {
      top: -9px;
    }

    &:after {
      top: 9px;
    }*/
  }

  &--close {
    #{$block-name}__icon {

      &--default {
        display: none;
      }

      &--active {
        display: block;
      }
      /*transition: background $transition-time 0s, transform $transition-time;
      background: transparent;
      transform: scale(1.3);

      &:before,
      &:after {
        height: 2px;
        top: 0;
        transition: top $transition-time, transform $transition-time $transition-time;
      }

      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }*/
    }
  }
}

// @media (min-width: $screen-xl) {
//   .page-header--conference {
//     .burger {
//       &__icon {
//         &, &:before, &:after {
//           background-color: #fff;
//         }
//       }
  
//       &--close {
//         .burger__icon {
//           background: transparent;
//         }
//       }
//     }
//   }
// }