<div class="subscription">
	<div class="subscription__bg-1"></div>
	<div class="subscription__bg-2"></div>
	<div class="container">
		<form class="subscription-form">
		<div class="subscription-form__wrapper">
			<div class="subscription-form__col1">
			<div class="subscription-form__title h3">Подписаться на акции и скидки</div>
			<div class="agreement">Нажимая на кнопку, я даю согласие на обработку моих <a href="#" target="_blank">персональных данных</a></div>
			</div>
			<div class="subscription-form__col2">
			<div class="form-group form-group--subscribe">
				<input class="form-control" type="email" placeholder="Ваш e-mail">
				<button class="email-btn" type="submit" value=""></button>
			</div>
			</div>
		</div>
		</form>
	</div>
</div>