// В этом файле должны быть стили для БЭМ-блока main-engagement, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.main-engagement {
    $block-name: &; // #{$block-name}__element

    margin: 125px 0 97px;

    &__inner {
        display: flex;
    }

    &__image {
        width: 50%;
        background-position: center;
        background-size: cover;
    }

    &__content {
        width: 50%;
        background: #8A9199;
        color: white;
        padding: 63px 66px;
    }

    &__title {
        font-family: Quasimoda;
        font-size: 36px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-transform: uppercase;
        margin-bottom: 32px;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.10000000149011612px;
        margin-bottom: 48px;
    }

    &__btn {
        width: 260px;
        max-width: 100%;
    }

    @media (min-width: 1000px) and (max-width: 1500px) {
        &__title {
            line-height: 1.2;
        }

        &__content {
            padding: 30px;
        }
    }

    @media (max-width: 1000px) {
        margin: 80px 0 60px;

        &__inner {
            padding: 0!important;
            flex-direction: column;
        }

        &__image {
            width: 100%;
            height: 260px;
        }

        &__content {
            width: 100%;
            padding: 48px 16px;
        }

        &__title {
            font-size: 26px;
            line-height: 31px;
            margin-bottom: 16px;
        }

        &__btn {
            width: 100%;
        }
    }
}

.main-engagement-rings {
    &__title {
        font-size: 12px;
        line-height: 17px;
        letter-spacing: -0.10000000149011612px;
        margin-bottom: 17px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-bottom: 48px;
    }

    @media (min-width: 1000px) and (max-width: 1500px) {
        &__items {
            gap: 30px;
        }
    }

    @media (max-width: 1000px) {
        &__title {
            margin-bottom: 24px;
        }

        &__items {
            gap: 25px;
            margin-bottom: 30px;
        }
    }
}

.main-engagement-rings-item {
    $block-name: &; // #{$block-name}__element

    position: relative;
    padding-bottom: 25px;

    a {
        color: currentColor;
        text-decoration: none;

        &:hover,
        &:focus {
            color: currentColor;
            text-decoration: none;
        }
    }

    &__image {
        height: 36px;
        filter: brightness(0) invert(1);
    }

    &__title {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: 0.15s all;
        font-size: 12px;
        line-height: 17px;
        letter-spacing: -0.10000000149011612px;
        text-align: center;
        white-space: nowrap;
    }

    &:hover {
        #{$block-name}__title {
            opacity: 1;
        }
    }

    @media (max-width: 1000px) {
        gap: 19px;

        &__title {
            word-break: normal;
        }
    }
}