// В этом файле должны быть стили для БЭМ-блока top10, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.top10 {
    $block-name: &; // #{$block-name}__element

    &__list {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 64px;

        &-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: -8px;
            margin-right: -8px;
            counter-reset: top10_index;
        }
    }

    &__button {
        width: 100%;
        max-width: 362px;
        margin: 0 auto;
        display: flex;
    }

    @media (max-width: 1000px) {
        &__list {
            padding-top: 19px;
            
            &-inner {
                margin-left: 0;
                margin-right: 0;
            }
        }

        &__button {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.top10-product {
    display: block;
    width: 50%;
    padding: 0 8px 16px;
    counter-increment: top10_index;

    &__wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #fff;
    }

    &__main {
        flex-grow: 1;
        text-align: center;
        font-family: $font-family--quasimoda;
        color: #000;
    }

    &__image {
        font-size: 0;
        line-height: 0;
        width: 362px;
    }

    &__name {
        text-transform: uppercase;
        font-size: 24px;
        line-height: 1em;
        font-weight: 400;
        
        &::before {
            content: counter(top10_index) '.';
            display: block;
            margin-bottom: 9px;
        }
    }

    &__price {
        font-size: 16px;
        line-height: 1.2em;
        text-transform: uppercase;
        font-weight: 400;
        margin-top: 12px;
    }

    &__btn {
        font-family: $font-family;
        margin-top: 46px;
        transition: opacity .25s ease;
        opacity: 0;

        .btn {
            width: 260px;
            text-align: center;

            &:hover,
            &:focus {
                background-color: #1a1a1a;
                color: #fff;
            }
        }
    }

    &__wrapper:hover {
        .top10-product {
            &__btn {
                opacity: 1;
            }
        }
    }

    &:nth-child(2n) {

        .top10-product {
            &__wrapper {
                flex-direction: row-reverse;
            }
        }        
    }

    @media (max-width: 1000px) {
        padding-bottom: 0;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 44px;

        .top10-product {
            &__wrapper {
                display: block;
                max-width: 362px;
                font-size: 16px;
                line-height: 1.2em;
            }

            &__btn {
                display: none;
            }

            &__main {
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding-bottom: 7px;
            }

            &__name {
                font-size: 16px;
                line-height: 1.2em;

                &::before {
                    display: inline;
                }
            }

            &__price {
                margin-top: 0;
            }

            &__image {
                max-width: 362px;
                width: 100%;
            }
        }
    }


    @media (max-width: 767px) {
        width: 100%;
        margin-top: 44px;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;

        &:first-child {
            margin-top: 0;
        }

        .top10-product {
            &__wrapper {
                max-width: 100%;
            }
    
            &__image {
                max-width: 100%;
    
                img {
                    width: 100%;
                }
            }
        }
    }
}

.top10-choose {
    background-color: #F9F9F9;
    padding: 85px 0 84px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.0071428571428571em;

    .container {
        max-width: 1148px;
    }

    &__wrapper {
        display: flex;
        align-items: stretch;
        width: 100%;
    }

    &__col {
        flex-shrink: 0;

        &-left {
            width: 740px;
        }

        &-right {
            width: 362px;
            margin-left: 16px;
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        font-size: 24px;
        line-height: 1.1em;
        font-weight: 400;
        letter-spacing: -0.0104166666666667em;
        text-transform: uppercase;
        margin-bottom: 32px;
    }

    &__text {
        .row {
            margin-left: -8px;
            margin-right: -8px;
            gap: 0;
        }

        p {
            margin: 0 0 0px;
        }
    }

    &__btn {
        margin-top: auto;
    }

    &__text-col1 {
        width: 50%;
        padding-left: 8px;
        padding-right: 8px;
    }

    &__text-col2 {
        width: 50%;
        padding-left: 8px;
        padding-right: 8px;
    }

    &__col-right {
        .top10-choose__text {
            padding-right: 15px;
        }
    }

    @media (max-width: 1500px) {
        .container {
            width: 100%;
        }

        .top10-choose__col-left {
            width: 66.66%;
        }

        .top10-choose__col-right {
            width: 33.33%;
        }
    }

    @media (max-width: 1200px) {
        &__wrapper {
            display: block;
        }

        .top10-choose__col-left {
            width: 100%;
        }

        .top10-choose__col-right {
            width: 100%;
            margin-left: 0;
            margin-top: 32px;
            display: block;
        }
    }

    @media (max-width: 1000px) {
        padding-top: 48px;
        padding-bottom: 48px;
        
        &__text {
            .row {
                display: block;
                margin-left: 0;
                margin-right: 0;
            }

            &-col1 {
                padding-left: 0;
                padding-right: 0;
                width: 100%;
            }

            &-col2 {
                padding-left: 0;
                padding-right: 0;
                padding-top: 20px;
                width: 100%;
            }
        }

        &__title {
            font-size: 20px;
            line-height: 1.2em;
            margin-bottom: 16px;
        }

        &__btn {
            margin-top: 32px;
            text-align: left;
        }
    }
}
