// В этом файле должны быть стили для БЭМ-блока 404, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.error {
  $block-name:                &; // #{$block-name}__element

  background-color: #F5F5F5;

  padding-bottom: 80px;

  .breadcrumbs {
    text-align: left;
  }

  &__content {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  &__image {
    font-size: 0;
    line-height: 0;
    padding-top: 19px;
    margin-bottom: 34px;
  }

  .page-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    font-size: 40px;
    line-height: 56px;

    h1 {
      font-size: inherit;
      line-height: inherit;
    }
  }

  &__text {
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }

  &__btn {
    margin-top: 28px;
  }

  &__search {
    padding-top: 59px;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;

    .search-field input[type="text"] {
      background-color: transparent;
    }
  }
}

@media (max-width: $screen-xl - 1) {
  .error {
    padding-bottom: 60px;
    
    &__content {
      padding-top: 16px;
      line-height: 22px;
    }

    &__image {
      margin-bottom: 29px;
      
      img {
        max-width: 191px;
      }
    }

    &__text {
      margin-top: 14px;
    }

    &__btn {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 24px;

      .btn {
        width: 100%;
        padding-left: 0.5em;
        padding-right: 0.5em;
        text-align: center;
        font-size: 17px;
        line-height: 22px;
        padding-bottom: 15px;
      }
    }

    &__search {
      display: none;
    }

    .page-title {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .inner-page--404 {
    padding-bottom: 0;
  }
}