//- Все примеси в этом файле должны начинаться c имени блока (order)

mixin order(text, mods)

    //- Принимает:
    //-   text    {string} - текст
    //-   mods    {string} - список модификаторов
    //- Вызов:
          +order('Текст', 'some-mod')

    -
        // список модификаторов
        var allMods = '';
        if (typeof (mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' order--' + modsList[i].trim();
            }
        }

        var items = [
            {
                image: 'img/order-rings.jpg',
                title: 'Заказ помолвочных и обручальных колец',
                cols: [
                    [
                        'Вы можете посетить нашу студию, где сможете примерить кольца. Если нет возможности посетить студию, мы поможем подобрать вам кольца дистанционно.',
                        'Мы подписываем договор, в котором фиксируем все характеристики и особенности колец, а так же сроки изготовления. После вы вносите предоплату в размере 30% от стоимости колец.',
                        'После внесения предоплаты мы приступаем к изготовлению. Более подробно ознакомиться с этапами изготовления вы можете <a href="#">здесь</a>. Стандартные сроки изготовления 2-3 недели.'
                    ],
                    [
                        'После прохождения процедуры опробования в государственной пробирной палате Российской Федерации, вы оплачиваете оставшиеся 70% от стоимости колец, забираете их в нашей студии, либо мы отправляем их курьерской службой в любой регион России и СНГ.',
                        'Доставка осуществляется по всем городам России и СНГ. Партнеры-перевозчики «СДЭК» и ФГУП «Главный центр специальной связи».  Для расчета стоимости доставки обращайтесь к менеджерам Diamondlake.',
                    ],
                ]
            },
            {
                image: 'img/order-warranties.jpg',
                title: 'Гарантии',
                cols: [
                    [
                        'На каждое ювелирное украшение предоставляется бессрочная гарантия на скрытые дефекты и производственный брак.',
                        'На каждое ювелирное украшение Diamondlake предоставляется сертификат, в котором указаны все характеристики изделия, а так же гарантийные обязательства.',
                        'Каждое ювелирное украшение проходит опробование в государственной пробирной палате Российской Федерации. Об этом свидетельствует соответствующая проба на каждом изделии.',
                    ],
                    [
                        'На каждый бриллиант свыше 0.30 карат мы предоставляем сертификат GIA. Подробнее можете ознакомиться <a href="#">здесь</a>.',                        
                        'На каждое ювелирное изделие вы получаете договор, акт, бирку и чек.',
                    ],
                ]
            },
        ]

    .order(class=allMods)&attributes(attributes)
        each item in items
            .order__item
                .order__image
                    img(src=item.image)
                .order__content
                    .order__title=item.title
                    .row
                        each col in item.cols
                            .col
                                ul
                                    each li in col
                                        li
                                            p!=li