//- About reviews data

-
	var reviews_list = [
		{
			entity: 'ООО «ЦИФРА»',
			name: 'Кострюков Артём Юрьевич',
			position: 'технический директор',
			title: 'Подбор инженера-программиста',
			date: '23.03.17',
			text: [
				'Обратились в агентство с целью поиска инженера-программиста для решения сложных нетипичных технических задач. До обращения в агентство пытались найти программиста через личные контакты, потратили время, и не добились результата. Нанятый с помощью агентства сотрудник работает на постоянной основе, справляется с работой.',
				'Полностью удовлетворен подходом к работе и результатами работы консультанта Смирновой Натальи.'
			]
		},
		{
			entity: 'ООО «ЛДЦ «Медицина»',
			img: 'img_1',
			name: 'А. В. Моряков',
			position: 'генеральный директор',
			title: 'Подбор врача УЗИ, врача ФД, врача гастроэнтеролога, врач невролога, врача уролога-андролога, врача проктолога, врача анестезиолога-реаниматолога, врача педиатра, врача УЗИ детского, врача детского невролога, врача детского кардиолога, врача ФД детского',
			date: '15.03.17',
			text: [
				'За время совместной работы (с января 2016 г. по настоящее время) Кадровое агентство Уникальных Специалистов зарекомендовало себя надежным партнером. Сотрудники агентства при подборе медицинского персонала для нашей клиники находятся в постоянном конструктивном контакте с главным врачом и специалистом по персоналу. Руководство кадрового агентства проявляет гибкость для создания взаимных комфортных условий в сложных ситуациях, возникающих при подборе специалистов на нетривиальных условиях. До настоящего времени услуги агентства, оказываемые нашей клинике, являются по-настоящему качественными, а их стоимость справедливой.',
				'Консультанты: Океанова Екатерина., Смирнова Наталья.',
				'Благодарю руководство и консультантов КАУС за плодотворное сотрудничество.'
			]
		},
		{
			entity: 'ОАО «Медицина»',
			name: 'О.В. Иванченко',
			position: 'директор службы управления персоналом',
			title: 'Подбор врачей различных специализаций и управленческого персонала',
			date: '27.02.17',
			text: [
				'Сотрудничество клиники ОАО "Медицина" с кадровым агентством "КАУС-Медицина" началось в 2007 году, с тех пор агентство зарекомендовало себя как надежный партнер в вопросах поиска и подбор медицинского персонала. Например, в 2016 году были успешно завершены два проекта по поиску и подбору кандидатов на руководящие позиции, на данный момент оба кандидата прошли шестимесячный испытательный срок.',
				'Учитывая наши высокие требования к уровню профессионализма и опыту работу кандидатов, агентство оперативно и качественно отрабатывает наши запросы на подбор как управленческого медицинского персонала, так и врачей различных специализаций.',
				'На данный момент наше сотрудничество с кадровым агентством "КАУС-Медицина" продолжается, надеемся и впредь получать в штат клиники ОАО "Медицина" лучших специалистов из ведущих медицинских клиник России'
			]
		},
		{
			entity: 'Сеть футбольных клубов «Footy»',
			img: 'img_2',
			name: 'Дзыгарь Кирилл',
			position: 'управляющий партнер',
			title: 'Подбор программиста Terrasoft',
			date: '16.10.16',
			text: [
				'Спасибо кадровому агентству КАУС за быстрое закрытие вакансии программиста. В течение нескольких дней был подобран специалист. И первая же кандидатура нас устроила. Потребовалось одно собеседование, и мы приняли кандидата на работу. Сотрудником очень довольны, и уже более 6 месяцев он продолжает трудиться в нашей компании.',
				'В агентстве работают очень доброжелательные сотрудники, отдельное спасибо Наталье Смирновой за индивидуальный подход. Цены даже немного ниже рыночных.',
				'Теперь у нас не стоит вопрос: к кому обращаться по вопросам подбора персонала.'
			]
		}
	];