//- About ethic data

-
	var ethic_list = [
		"С уважением относиться к заказчикам, соискателям и коллегам.",
		"Не предпринимать действий, в результате которых может пострадать профессиональная репутация других кадровых агентств.",
		"Постоянно совершенствовать свои знания и профессиональные навыки, в том числе путем обмена опытом со своими коллегами.",
		"Не заниматься целенаправленным переманиванием от одного заказчика к другому ранее устроенных соискателей, а также других сотрудников компаний - заказчиков, имена которых были раскрыты клиентом в ходе выполнения предыдущих заказов, в течение срока действия «статуса неприкосновенности».",
		"Не работать с заказчиками и соискателями, чья деятельность не укладывается в рамки этических норм, принятых в демократическом обществе.",
		"Обеспечивать конфиденциальность информации, получаемой от заказчиков и соискателей, не допускать разглашения информации, которая может причинять вред заказчику или соискателю.",
		"Сохранять анонимность заказчика и соискателя до тех пор, пока от них не будет получено разрешение на разглашение соответствующей информации.",
		"При поиске и отборе соискателей не допускать дискриминацию по половым, расовым, национальным, религиозным, возрастным или политическим признакам и руководствоваться исключительно профессиональными и личностными требованиями заказчика.",
		"Придерживаться принципов независимости и объективности при оценке соискателей.",
		"Не применять никаких специальных методов оценки и обследования соискателей, не получив на то их согласия.",
		"Не совершать действия, которые могут нанести вред соискателям, в том числе и на их нынешней работе.",
		"Ни в какой форме и ни при каких обстоятельствах не взимать вознаграждения от соискателей за их трудоустройство."
	];