//- About books data

-
	var books_list = [
		{
			img: "img_1",
			name: "«101 совет менеджеру по подбору персонала»",
			descr_items: ["Издание представляет собой рекомендации автора в форме кратких советов по всем этапам подбора персонала – от поиска резюме кандидатов до выхода подобранного специалиста на работу. Книга будет полезна сотрудникам отдел кадров, отвечающих за подбор персонала, рекрутерам и HR-специалистам."],
			citations: [
				"«Рекомендации по любому кандидату надо получать с нескольких последних мест работы и у нескольких рекомендателей. Достоверность информации, полученной из разных независимых источников, будет гораздо выше.»",
				"«Спросите о причинах увольнения кандидата с каждого места работы. Запомните эти причины. Спросите потом, если бы этих причин не было, кандидат остался бы работать либо все равно бы уволился?»",
				"«Помните, от того, какой персонал Вы подберете, во многом зависит успешность и прибыльность компании, в которой Вы работаете. Ведь именно подобранная вами команда профессионалов поведет компанию к успеху и процветанию. Вы хотите работать в компании своей мечты – так сформируйте ее команду!»"
			]
		},
		{
			img: "img_1",
			name: "«101 совет менеджеру по подбору персонала»",
			descr_items: [
				"Книга будет интересна менеджерам по подбору персонала, генеральным директорам, руководителям подразделений, директорам по персоналу и всем, кому по роду деятельности приходится проводить собеседования с соискателями.",
				"Книга поможет Вам избежать типичных ошибок при проведении собеседований, грамотно выстраивать беседу с кандидатами и презентовать компанию, правильно задавать вопросы и получать достоверные ответы от кандидатов."
			],
			citations: [
				"«Даже если вы понимаете, что человек перед вами играет кого-то другого, продолжайте задавать вопросы. Когда кандидат поймет, что вы настроены серьезно, желание играть исчезнет и начнется общение по существу.»",
				"«Человек, который нервничает, может быть закрытым на собеседовании, что скажется на неверной интерпретации оценки данного соискателя на вашу вакансию. Сделайте максимум для того, чтобы кандидат чувствовал себя комфортно.»",
				"«Пока кандидат не выговорится, не надо перебивать его и задавать конкретные вопросы. Когда человек начинает говорить сам о себе, он постепенно успокаивается, начинает говорить то, что считает важным. Вам же это необходимо услышать и запомнить.»"
			]
		}
	];