//- About data

-
	var about_list = [
		{
			img: "feature_1",
			title: "Высокое качество подбора",
			descr: "Производить подбор уникальных специалистов в вышеперечисленных областях нам позволяет квалификация наших консультантов по подбору персонала. Наши консультанты, кроме опыта работы в рекрутинге, владеют базовым профильным образованием, знают специфику выстраивания трудовых отношений с подбираемым узкоспециализированным персоналом. Оценивать профессиональный уровень кандидатов различных специализаций нам позволяют специально разработанные профильные профессиональные тесты."
		},
		{
			img: "feature_2",
			title: "Выгодные сроки подбора специалистов",
			descr: "Большая база данных специалистов и постоянный поток кандидатов позволяет нашему кадровому агентству снизить сроки подбора персонала по сравнению с другими агентствами, которые занимаются подбором любого рода персонала, не специализируясь на определенной области бизнеса либо на подборе  специалистов какой-либо узкой специализации. Работая с нами, Вы экономите свое время."
		},
		{
			img: "feature_3",
			title: "Бесплатная консультация",
			descr: "Мы осуществляем бесплатную консультацию своих клиентов по вопросам выстраивания трудовых отношений с персоналом."
		},
		{
			img: "feature_4",
			title: "Подбор уникальных специалистов ",
			descr: "Наше кадровое агентство осуществляет подбор персонала для всех отраслей бизнеса и специалистов какой-либо узкой специализации. В нашем агентстве сформирована большая база кандидатов по различным специальностям."
		}
	];

	var about_items = [
		"В своей работе мы всегда стремимся учитывать мнение и позицию наших клиентов. Выполняя взятые на себя обязательства перед нашим заказчиком, мы понимаем, что для того, чтобы сотрудничество было взаимовыгодным, необходимо обоюдное доверие, которое и помогает нам успешно решать кадровые вопросы наших клиентов. Правильно подобранные нами сотрудники поведут компании клиентов к успеху, а вместе с ними будем расти и мы, их стратегические партнеры.",
		"Довольно трудно неподготовленному сотруднику самостоятельно подбирать персонал через сайты по поиску персонала. Это отнимает много времени и сил, и не всегда является эффективным. Доверьте это профессионалам!",
		"Многие рекрутинговые агентства Москвы предлагают свои услуги по поиску и подбору персонала, но далеко не у всех есть такие узкие специализации, как у агентств, входящих в группу компаний КАУС."
	];