//- About work data

-
	var work_items = [
		"Кадровое агентство уникальных специалистов образовано в 2007 году и представляет собой группу кадровых агентств с узкими специализациями в определенной области бизнеса. Благодаря высоким стандартам работы к настоящему моменту наша компания является известным агентством на рынке Москвы и экспертом рынка труда.",
		"Кадровая политика нашего агентства направлена на привлечение профессиональных консультантов в области подбора персонала и создание для них комфортных условий работы. Отличительной особенностью работы у нас является стабильный дружный коллектив, прописанные стандарты работы и хорошая загрузка консультантов вакансиями.",
		"Также наше агентство заинтересовано в привлечении молодых специалистов без опыта работы, планирующих строить свою карьеру в рекрутинге."
	];

	var work_list = [
		{
			img: 'img_1',
			title: 'Предложение консультантам с опытом работы'
		},
		{
			img: 'img_2',
			title: 'Специалистам с минимальным опытом работы или без опыта. Школа рекрутера'
		},
		{
			img: 'img_3',
			title: 'Карьерный рост<br>в компании'
		}
	];