//- Applicants advice data

-

	var articles = [
		{
			title: "Приготовьтесь ко всему мыслимому и немыслимому",
			descr: "Почему к немыслимому? Ответ прост: спланируйте вашу стратегию, подготовив ответы на возможные вопросы, и тренируйтесь, тренируйтесь, тренируйтесь. Проведите ролевую игру и повторяйте"
		},
		{
			title: "Резюме: работа над ошибками",
			descr: "Кризис заставляет соискателей постоянно находиться в движении. Предложение на отечественном рынке труда все больше превышает спрос. Специалисты единодушны: чтобы"
		},
		{
			title: "Резюме на английском языке. Как составить самостоятельно?",
			descr: "Давайте поговорим о резюме на английском языке. В настоящее время это становится актуально, т.к. на рынке появляется все больше и больше вакансий, где требуется знание английского языка"
		},
		{
			title: "Правильные ответы на вопросы о ваших недостатках",
			descr: "Каждый успешный работник имеет как сильные, так и слабые стороны. Потенциальные наниматели будут пытаться узнать ваши недостатки, чтобы быть уверенными, что они не помешают"
		},
		{
			title: "Онлайн-этикет, или резюме по e-mail",
			descr: "Электронная почта сегодня является популярным средством как личного, так и делового общения. Фразой «присылайте резюме по e-mail» в объявлении о вакансии уже никого не удивишь"
		},
		{
			title: "Лохотрон для соискателей",
			descr: "Напуганные массовыми сокращениями, люди активно ищут работу и готовы рассматривать практически любое предложение. Этой готовностью пользуются мошенники – в последнее"
		}
	];
