//- Applicants questionnaire data

-

	var list = [
		"Вы можете разместить свое резюме в нашей базе на сайте, заполнив <a class=\"link js-scroll\" href=\"#applicants-questionnaire\">on-line анкету</a> кандидата.",
		"Вы можете направить свое резюме с указанием предполагаемой должности и ожидаемым уровнем дохода по электронной почте <b><a href=\"mailto:rezume@kaus-group.ru\">rezume@kaus-group.ru</a></b> для размещения его в нашей базе данных."
	];