//- Applicants vacancies industry data

-

	var vacancy_items = [
		{
			name: "Менеджер по продажам оборудования для фармпроизводства",
			date: "03.05.18",
			requirements: [
				"Высшее или н/высшее образование;",
				"Обязательно: технический склад ума;",
				"Обязательно: успешный опыт продажи от полугода;",
				"Желательно: опыт работы в ОКК, метрологии."
			],
			conditions: [
				"Оклад 50 000 - 80 000 Р + KPI, совокупный доход до150 000 Р;",
				"Полностью «белая зарплата»;",
				"Обучение в компании (РФ, Дания)"
			]
		},
		{
			name: "Главный бухгалтер м. Коньково",
			date: "08.05.18",
			requirements: [
				"Высшее или н/высшее образование;",
				"Обязательно: технический склад ума;",
				"Обязательно: успешный опыт продажи от полугода;",
				"Желательно: опыт работы в ОКК, метрологии."
			],
			conditions: [
				"Заработная плата на испытательный срок 60 000 Р, далее зарплата повышается;",
				"Грамотный спокойный руководитель."
			]
		},
		{
			name: "Ведущий бухгалтер (зарплата и социальные взносы)",
			date: "04.05.18",
			requirements: [
				"Высшее образование (финансовое, экономическое);",
				"Опыт работы бухгалтером с аналогичным функционалом от 5 л.;",
				"Опыт расчета зарплаты от 50 человек;",
				"Опыт подготовки и сдачи отчетности в фонды, ПФР."
			],
			conditions: [
				"Оклад 60 000 Р. net;",
				"50% оплата занятий спортом;",
				"Оплата питания и мобильной связи."
			]
		},
		{
			name: "Менеджер по продажам оборудования для фармпроизводства",
			date: "03.05.18",
			requirements: [
				"Высшее или н/высшее образование;",
				"Обязательно: технический склад ума;",
				"Обязательно: успешный опыт продажи от полугода;",
				"Желательно: опыт работы в ОКК, метрологии."
			],
			conditions: [
				"Оклад 50 000 - 80 000 Р + KPI, совокупный доход до150 000 Р;",
				"Полностью «белая зарплата»;",
				"Обучение в компании (РФ, Дания)"
			]
		},
		{
			name: "Главный бухгалтер м. Коньково",
			date: "02.05.18",
			requirements: [
				"Высшее или н/высшее образование;",
				"Обязательно: технический склад ума;",
				"Обязательно: успешный опыт продажи от полугода;",
				"Желательно: опыт работы в ОКК, метрологии."
			],
			conditions: [
				"Заработная плата на испытательный срок 60 000 Р, далее зарплата повышается;",
				"Грамотный спокойный руководитель"
			]
		},
		{
			name: "Ведущий бухгалтер (зарплата и социальные взносы)",
			date: "04.05.18",
			requirements: [
				"Высшее образование (финансовое, экономическое);",
				"Опыт работы бухгалтером с аналогичным функционалом от 5 л.;",
				"Опыт расчета зарплаты от 50 человек;",
				"Опыт подготовки и сдачи отчетности в фонды, ПФР."
			],
			conditions: [
				"Оклад 60 000 Р. net;",
				"50% оплата занятий спортом;",
				"Оплата питания и мобильной связи."
			]
		}
	];

