//- Article categories data

-
	var list = [
		"Подбор IT-персонала",
		"Хэдхантинг",
		"Поиск и подбор персонала",
		"Современный рынок труда",
		"Мотивация и адаптация",
		"Увольнение персонала",
		"Системы заработных плат",
		"Карьера выпускников",
		"Обучение персонала",
		"Управление персоналом",
		"Оценка и аттестация"
	];