-
	var articles_array = [
		{
			category: "Подбор IT-персонала",
			category_url: "",
			elem_title: "Психологическая деформация программистов. Взгляд с обеих сторон баррикад",
			elem_url: "",
			descr: "Само наличие психологической деформации у какой-либо профессии, как правило, достаточно спорный момент"
		},
		{
			category: "Мотивация и адаптация",
			category_url: "",
			elem_title: "Уровни мотивации сотрудников",
			elem_url: "",
			descr: "Практика показывает, что большинство руководителей рассматривает проблему мотивации персонала чрезвычайно узко"
		},
		{
			category: "Современный рынок труда",
			category_url: "",
			elem_title: "Работодатели ждут водителей с навыками бизнес-этикета",
			elem_url: "",
			descr: "Средняя зарплата московских водителей на личных легковых автомобилях (включая 'Газели' категории «В», не"
		},
		{
			category: "Поиск и подбор персонала",
			category_url: "",
			elem_title: "Нетворкер - ловец человеков",
			elem_url: "",
			descr: "Само наличие психологической деформации у какой-либо профессии, как правило, достаточно спорный момент"
		},
		{
			category: "Обучение персонала",
			category_url: "",
			elem_title: "Обучение как бизнес. Как вывести эффективность обучения на новый уровень?",
			elem_url: "",
			descr: "Немало руководителей обучения тщетно бьются об стену в попытках научиться делать из обучения бизнес – весомые для"
		},
		{
			category: "Оценка и аттестация",
			category_url: "",
			elem_title: "Цена оценки",
			elem_url: "",
			descr: "В конце года большинство компаний обычно готовятся к процедуре оценки персонала. Но в некоторых проводить"
		},
		{
			category: "Системы заработных плат",
			category_url: "",
			elem_title: "Продающие операторы зарабатывают больше",
			elem_url: "",
			descr: "Само наличие психологической деформации у какой-либо профессии, как правило, достаточно спорный момент "
		},
		{
			category: "Хэдхантинг",
			category_url: "",
			elem_title: "Продают то, что имеют",
			elem_url: "",
			descr: "Практика показывает, что большинство руководителей рассматривает проблему мотивации персонала чрезвычайно узко"
		},
		{
			category: "Увольнение персонала",
			category_url: "",
			elem_title: "Работодатели ждут водителей с навыками бизнес-этикета",
			elem_url: "",
			descr: "Средняя зарплата московских водителей на личных легковых автомобилях (включая 'Газели' категории «В», не"
		},
		{
			category: "Карьера выпускников",
			category_url: "",
			elem_title: "Экономическая культура специалиста как условие его конкурентоспособности",
			elem_url: "",
			descr: "Само наличие психологической деформации у какой-либо профессии, как правило, достаточно спорный момент "
		},
		{
			category: "Управление персоналом",
			category_url: "",
			elem_title: "Обучение как бизнес. Как вывести эффективность обучения на новый уровень?",
			elem_url: "",
			descr: "Немало руководителей обучения тщетно бьются об стену в попытках научиться делать из обучения бизнес – весомые для"
		}
	];