//- Clients data

-
	var clients_tabs = [
		"Медицина",
		"Производство и промышленность",
		"Ретейл",
		"Строительство и девелопмент",
		"Финансы",
		"Транспорт и логистика",
		"Фармацевтика и медоборудование",
		"Фармацевтика",
		"Страхование",
		"Фармацевтика",
		"Консалтинг",
		"Страхование"
	];