//- Cooperation data

-
	var cooperation_items = [
		{
			color: '#f1d7aa',
			title: 'Стоимость услуг',
			descr: 'От 14 до 18% от годового дохода финансового персонала. Процент зависит от требований к нужному сотруднику',
			value: '14–18%',
			caption: 'от годового дохода специалиста'
		},
		{
			color: '#55d1a7',
			title: 'Выгодные скидки',
			descr: 'Если вам понравится соискатель из первой тройки соискателей, мы сократим стоимость услуг на 10%',
			value: '10%',
			caption: 'скидка клиенту'
		},
		{
			color: '#bb93ca',
			title: 'Постоянным клиентам',
			descr: 'Для постоянных клиентов предоставляем скидку от 5 до 10%',
			value: '<span>от</span> 5 <span>до</span> 10%',
			caption: 'скидка постоянным клиентам'
		},
		{
			color: '#1774dd',
			title: 'Гарантии',
			descr: 'Перед началом сотрудничества мы заключим договор, в котором зафиксируем обязательства, гарантии, а также стоимость услуг',
			value: '0 ₽',
			caption: 'заключение договора'
		}
	];