//- Employers advantages data

-
	var advantages_list = [
		{
			text: "Всегда приезжаем в компанию для личной встречи и снятия профиля должности",
			icon: "icon_1.png"
		},
		{
			text: "Работаем с вакансиями любой сложности",
			icon: "icon_2.png"
		},
		{
			text: "Тщательно оцениваем мотивацию и стабильность кандидата",
			icon: "icon_3.png"
		},
		{
			text: "После собеседований направляем лучших кандидатов с нами эспертным заключением",
			icon: "icon_4.png"
		}
	];