//- Employers consulting data

-
	var employers_top_list = [
		"избежать проблем с трудовой инспекцией;",
		"избежать разногласий, недопонимания, а также судебных разбирательств с увольняемыми либо сокращаемыми работниками;",
		"навести порядок в кадровом делопроизводстве;",
		"своевременно получать квалифицированные консультации от Вашего личного юриста-консультанта в области трудового законодательства и его применения."
	];

	var employers_main_list = [
		{
			title: "Кадровый аудит:",
			items: [
				"проверка соответствия кадровой документации действующему законодательству;",
				"проверка локальных нормативных актов на соответствие законодательству;",
				"проверка полноты кадровой документации."
			]
		},
		{
			title: "Составление локальных нормативных актов:",
			items: [
				"правил внутреннего трудового распорядка;",
				"положения о персональных данных работников;",
				"положения о коммерческой тайне;",
				"положения о командировках;",
				"положения о премировании;",
				"многое другое."
			]
		},
		{
			title: "Составление пакетов форм кадровой документации по различным вопросам трудового права:",
			items: [
				"прием на работу (составление образцов трудового договора, приказов, дополнительного соглашения к трудовому договору, должностной инструкции);",
				"увольнение (составление образцов приказов, уведомлений, актов, соглашений);",
				"изменение условий трудового договора (составление образцов приказов, соглашений, уведомлений, распоряжений);",
				"регулирование рабочего времени и времени отдыха (составление образцов графиков, приказов, заявлений, актов);",
				"составление необходимой кадровой документации по индивидуальным запросам."
			]
		},
		{
			title: "Консультирование по возникающим вопросам применения трудового законодательства:",
			items: [
				"заключение, расторжение трудового договора;",
				"оформление приема на работу;",
				"изменение определенных сторонами условий трудового договора, перевод;",
				"заработная плата (установление заработной платы при приеме на работу, ее изменение, доплаты, надбавки);",
				"установление и регулирование рабочего времени и времени отдыха (графики сменности, режимы раб. времени, отпуска);",
				"защита персональных данных работников;",
				"гарантии и компенсации (при увольнении; для работников, совмещающих работу с обучением, др.);",
				"прием на работу и увольнение совместителей;",
				"проведение процедуры сокращения численности или штата работников;",
				"ведение трудовых книжек;",
				"порядок наложения дисциплинарных взысканий;",
				"порядок разрешения индивидуальных трудовых споров."
			]
		},
		{
			title: "Составление ученического договора и консультирование по его применению."
		}
	];

	var employers_bottom_list = [
		"в виде почасовой оплаты консультаций;",
		"фиксированного гонорара за разработку каждого конкретного документа;",
		"фиксированного гонорара за консультационный проект."
	];