//- Employers data

-
	var list = [
		"позвоните нам: <b><a href=\"tel:74952665083\">+7 (495) 266-50-83</a>, <a href=\"tel:78124218523\">+7 (812) 421-85-23</a>;</b>",
		"направьте нам письмо в свободной форме: <b><a href=\"mailto:mail@kaus-group.ru\">mail@kaus-group.ru</a>;</b>",
		"заполните на нашем сайте <a class=\"link js-scroll\" href=\"#employers-tabs\">on-line заявку на подбор персонала</a> и консультанты нашего агентства оперативно свяжутся с Вами."
	];