//- Employers treaty data

-
	var employers_list = [
		{
			title: "Предмет договора",
			items: [
				{
					text: "1.1 Заказчик поручает, а Исполнитель принимает на себя обязательства по оказанию следующих услуг:",
					list: [
						"организация поиска, отбора и представления специалистов в соответствии с требованиями, указанными Заказчиком в Заявке, которая в виде Приложения является неотъемлемой частью настоящего Договора. В зависимости от количества вакансий может быть подписано несколько Приложений к данному Договору."
					]
				},
				{
					text: "1.2 Заказчик обязуется оплачивать услуги Исполнителю в порядке и сроки, установленные в разделе 3 настоящего Договора."
				}
			]
		},
		{
			title: "Права и обязанности сторон",
			items: [
				{
					text: "<b>2.1. Исполнитель обязуется:</b>"
				},
				{
					text: "2.1.2. Выполнить комплекс работ по подбору и представлению Заказчику для ознакомления информации в виде письменного отчета и/или Резюме по каждому из кандидатов, включающих профессиональные и биографические данные, доступные для Исполнителя и имеющие значение для определения соответствия представленной кандидатуры требованиям, указанным в соответствующем Приложении.<br><br>Кандидат считается представленным заказчику, если Исполнитель направит, а Заказчик получит резюме данного кандидата и не направит в течение 3 (трех) рабочих дней с даты получения резюме уведомления о том, что кандидат уже был ранее представлен Заказчику из других источников."
				},
				{
					text: "2.1.3. Провести мероприятия по организации собеседований с выбранными кандидатами в назначенное Заказчиком время."
				},
				{
					text: "2.1.4. Представить Акт сдачи-приемки оказанных услуг в течение 3-х дней после принятия Заказчиком решения о найме на работу представленного кандидата в фирме Заказчика, либо в течение 3-х дней с момента, когда Исполнителю стало известно о найме Заказчиком на работу кандидата, представленного Исполнителем Заказчику в рамках данного договора. В случае подписания нескольких Приложений к настоящему договору Акт сдачи-приемки оказанных услуг представляется по каждому нанятому Заказчиком кандидату отдельно.<br><br>В целях настоящего договора под приемом на работу понимается: заключение с отобранным кандидатом трудового договора, контракта, фактическое допущение кандидата к работе, заключение с отобранным кандидатом гражданско-правового договора."
				},
				{
					text: "2.1.5. С момента даты приема представленного кандидата на работу в фирму Заказчика не предоставлять этому кандидату информацию о вакантных местах у других клиентов Исполнителя."
				},
				{
					text: "2.1.6. В случае увольнения Специалиста (по собственной инициативе или по инициативе Заказчика) в течение срока гарантийной замены, указанной в соответствующем Приложении, Исполнитель обязуется осуществить одну замену кандидата без оплаты со стороны Заказчика. Увольнение кандидата подтверждается официальным письмом с обоснованием принятого решения. Замена специалиста не производится в случаях:",
					list: [
						"если специалист фактически продолжает работать у Заказчика;",
						"несоблюдения Заказчиком трудового законодательства РФ в отношении Специалиста;",
						"несвоевременной оплаты Заказчиком всех оказанных Исполнителем услуг;",
						"увольнения в связи с сокращением штата компании, ликвидации предприятия Заказчика, отсутствия необходимости в таком специалисте."
					]
				},
				{
					text: "2.1.7. В случае направления Заказчику резюме кандидатов на замену, соответствующих требованиям, указанным в соответствующем Приложении, и не приглашения данных кандидатов Заказчиком на собеседование, обязательства Исполнителя по замене Специалиста считаются выполненными. В случае проведения Заказчиком собеседования с кандидатом, резюме которого соответствует требованиям, указанным в Приложении, и немотивированного отказа в приеме на работу, обязательства Исполнителя по замене Специалиста считаются выполненными."
				},
				{
					text: "2.2. Исполнитель оставляет за собой право в случае изменения Заказчиком требований к кандидату, указанных в Приложении, пересмотреть стоимость оказываемых услуг."
				},
				{
					text: "<b>2.3. Заказчик обязуется:</b>"
				},
				{
					text: "2.3.1. Предоставить Исполнителю четкое и полное описание предъявляемых требований к кандидату на вакантную должность и условий найма на работу, которые должны быть зафиксированы в соответствующем Приложении."
				},
				{
					text: "2.3.2. Рассмотреть направленный Исполнителем письменный отчет и/или Резюме по каждому из кандидатов и известить о предварительном отборе кандидатур для проведения собеседования, согласовать с Исполнителем дату, время и адрес места проведения собеседования в течение 3-х рабочих дней"
				},
				{
					text: "2.3.3. Если Заказчик получил от Исполнителя резюме кандидата, с которым Заказчик не связывался и не проводил собеседования, данный кандидат считается направленным от Исполнителя."
				},
				{
					text: "2.3.4. Провести первое собеседование с каждым из отобранных по резюме кандидатов в срок не позднее 5-ти рабочих дней с момента получения от Исполнителя резюме."
				},
				{
					text: "2.3.5. Сообщить о принятии решения о приеме на работу кандидата в течение 5-ти рабочих дней с даты проведения собеседования с ним."
				},
				{
					text: "2.3.6. Рассмотреть и подписать Акт сдачи-приемки оказанных услуг в течение 3-х рабочих дней с момента его получения от Исполнителя."
				},
				{
					text: "2.3.7. Оплатить услуги, оказанные Исполнителем в рамках настоящего договора, в размере, указанном в соответствующем Приложении."
				},
				{
					text: "2.3.8. В течение 3-х недель с момента подписания настоящего договора и каждого соответствующего Приложения не размещать заказ в других кадровых агентствах."
				},
				{
					text: "2.3.9. Письменно уведомить Исполнителя о закрытии вакансии в случае, если подбор кандидата произошел без участия Исполнителя."
				}
			]
		},
		{
			title: "Стоимость услуг и порядок оплаты",
			items: [
				{
					text: "3.1. Заказчик оплачивает Исполнителю услуги по организации поиска, отбора и представления кандидатов в соответствии с требованиями настоящего договора и соответствующих приложений к нему."
				},
				{
					text: "3.2. Стоимость услуг по каждой вакансии определяется Сторонами в соответствующем Приложении к настоящему Договору."
				},
				{
					text: "3.3. Полный и окончательный расчет по каждому из приложений должен быть произведен Заказчиком не позднее 3 банковских дней с момента фактического выхода на работу отобранного кандидата. Дата начала стажировки (обучения) кандидата у Заказчика также считается датой фактического выхода Кандидата."
				}
			]
		},
		{
			title: "Ответственность сторон",
			items: [
				{
					text: "4.1. За нарушение сроков платежей, предусмотренных разделом 3 настоящего Договора, Заказчик выплачивает Исполнителю неустойку в размере 0,5% от суммы просроченного платежа за каждый день просрочки до фактического исполнения обязательства."
				},
				{
					text: "4.2. При просрочке внесения Заказчиком платежа более чем на 5 (пять) дней после оговоренного в п. 3.3. срока произведения полного расчета с Исполнителем, Исполнитель вправе отказаться от выполнения обязанности п. 2.1.6. настоящего договора, и при этом будет вправе требовать выплаты всей предусмотренной п. 3.3. договора суммы."
				},
				{
					text: "4.3. За невыполнение или ненадлежащее выполнение своих обязательств Стороны несут ответственность, предусмотренную действующим законодательством РФ."
				}
			]
		},
		{
			title: "Разрешение споров",
			items: [
				{
					text: "5.1. Все споры и разногласия, связанные с неисполнением или ненадлежащим исполнением Сторонами обязательств по настоящему Договору, передаются на рассмотрение Арбитражного суда г. Москвы."
				},
				{
					text: "5.2. В случае приема на работу Заказчиком кандидата в течение 1 года с момента его представления Исполнителем по настоящему Договору без надлежащего уведомления об этом Исполнителя и оплаты за услуги последнему, такой кандидат считается представленным Заказчику Исполнителем в рамках настоящего Договора с обязанностью Заказчика оплатить услуги Исполнителя за такого специалиста. Оплата производится в соответствии с тем Приложением, на основании требований которого осуществлялся подбор принятого на работу кандидата."
				},
				{
					text: "5.3. За противоправные действия, совершенные по отношению друг к другу отобранным специалистом и Заказчиком, Исполнитель ответственности не несет."
				},
				{
					text: "5.4. Если Заказчик в течение 1 года с момента собеседовании я с кандидатом, представленным Исполнителем, нанимает кандидата, рекомендует его для трудоустройства иным (дочерним, партнерским и т.п.) юридическим и физическим лицам, что приводит к трудоустройству кандидата, считается, что Исполнитель выполнил свои обязательства в полном объеме, и Заказчик обязан оплатить услуги Исполнителя в соответствии с пунктом 3.3."
				},
				{
					text: "5.5. Стороны принимают на себя обязательства информировать друг друга обо всех изменениях, касающихся юридического (фактического) адреса, банковских и иных реквизитов, а также номеров телефонов в течение 10 (десяти) рабочих дней после такого изменения."
				}
			]
		},
		{
			title: "Форс-мажор",
			items: [
				{
					text: "6.1. Стороны освобождаются от ответственности за частичное и полное неисполнение обязательств по настоящему Договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, возникших после заключения настоящего Договора в результате событий чрезвычайного характера, которые Сторона не могла ни предвидеть, ни предотвратить разумными мерами."
				}
			]
		},
		{
			title: "Прочие условия",
			items: [
				{
					text: "7.1. Настоящий договор вступает в силу с момента подписания и действует до «31» декабря 20__ года, после чего автоматически пролонгируется на каждый следующий календарный год при отсутствии заявления о его прекращении одной из Сторон. Такое заявление передается другой Стороне в письменном виде не позднее, чем за 30 (Тридцать) дней до даты истечения срока действия настоящего Договора."
				},
				{
					text: "7.2. Информация, передаваемая Сторонами друг другу, в период действия настоящего Договора, является конфиденциальной и не подлежит разглашению третьим лицам, за исключением случаев, предусмотренных действующим законодательством РФ."
				},
				{
					text: "7.3. Стороны договорились, что деловая корреспонденция и иные документы, касающиеся настоящих договорных отношений, отправленные и полученные посредством факсимильной, электронной или иной связи либо иным способом, позволяющим достоверно установить, что документ исходит от стороны по договору, признаются имеющими юридическую силу."
				},
				{
					text: "7.4. Все изменения и дополнения к настоящему Договору действительны лишь в том случае, если они имеют письменную форму и подписаны полномочными представителями Сторон."
				},
				{
					text: "7.5. Настоящий Договор составлен в 2-х экземплярах, имеющих равную юридическую силу."
				}
			]
		}
	];

	var employers_table = [
		{
			titles: [
				"Заказчик",
				"ООО «______________________________________»"
			],
			rows: [
				{
					name: "Юрид. адрес: ",
					val: ""
				},
				{
					name: "Фактич. адрес: ",
					val: ""
				},
				{
					name: "ИНН:",
					val: ""
				},
				{
					name: "КПП:",
					val: ""
				},
				{
					name: "Р/с:",
					val: ""
				},
				{
					name: "В МКИБ:",
					val: ""
				},
				{
					name: "К/с:",
					val: ""
				},
				{
					name: "БИК",
					val: ""
				},
				{
					name: "Ген. директор:",
					val: "__________________ /"
				}
			]
		},
		{
			titles: [
				"Заказчик",
				"ООО «______________________________________»"
			],
			rows: [
				{
					name: "Юрид. адрес: ",
					val: "107140, г. Москва, ул. Краснопрудная, д.28/1, стр. 2"
				},
				{
					name: "Фактич. адрес: ",
					val: "115470, г. Москва, ул. Новинки, 29; +7 (495) 241-64-02"
				},
				{
					name: "ИНН:",
					val: "7708626888,"
				},
				{
					name: "КПП:",
					val: "770801001"
				},
				{
					name: "Р/с:",
					val: "40702810700000001112"
				},
				{
					name: "В МКИБ:",
					val: "«РОССИТА-БАНК» ООО, г. Москва"
				},
				{
					name: "К/с:",
					val: "30101810500000000747"
				},
				{
					name: "БИК",
					val: "044585747"
				},
				{
					name: "Ген. директор:",
					val: "________________ / М.П."
				}
			]
		}
	];
