//- Employers conformity data

-
	var advantages_circles = [
		{
			img: "img_1",
			caption: "Поставлен амбициозный<br>план по набору, а служба персонала и так перегружена"
		},
		{
			img: "img_2",
			caption: "Много \"Горящих\" вакансий, постоянная нехватка специалистов и руководителей направлении"
		},
		{
			img: "img_3",
			caption: "Необходим закрытый поиск сотрудника"
		},
		{
			img: "img_4",
			caption: "Сложно найти редкого или квалифицированного специалиста. Поиски растягиваются на месяцы"
		}
	];