//- Employers recruitment data

-
	var features_list = [
		{
			img: "feature_4",
			title: "Эффективного сотрудника",
			descr: "Агентство по подбору персонала «КАУС» специализируется на поиске эффективных сотрудников для компаний из различных областей. Ключевая особенность агентства – отраслевая специализация: за каждым направлением закреплен консультант, имеющий профильный опыт и образование. Благодаря такому подходу наши клиенты получают пул тщательно отобранных кандидатов, точно соответствующих полученному запросу."
		},
		{
			img: "feature_3",
			title: "Оперативное закрытие вакансии",
			descr: "Средний срок закрытия вакансии – от 5 дней до 3 недель. Первые соискатели будут подобраны и готовы к собеседованию с работодателем уже через 3 дня. Такие сроки подбора персонала достигаются благодаря наличию собственной закрытой базы агентства – более 140 тыс. кандидатов, которых нет в открытых источниках."
		},
		{
			img: "feature_1",
			title: "Бесплатную замену по гарантии",
			descr: "Если сотрудник уйдет в течение испытательного срока, вы получите бесплатную замену. Стандартный срок гарантии составляет 90 дней, по желанию клиента он может быть расширен до полугода."
		},
		{
			img: "feature_2",
			title: "Возможность подбора персонала для любого филиала",
			descr: "Мы предоставляем услуги по поиску сотрудников в Москве, Санкт-Петербурге и других регионах Росии. Возможен как удаленный подбор, так и выезд на место для личных встреч с соискателями."
		}
	];
