//- FAQ data

-

	var faq_items = [
		"Почему надо обязательно заключить договор на подбор персонала",
		"Зачем необходима личная встреча консультанта агентства и представителя компании",
		"В нашей компании договор долго согласуется, а сотрудник нам нужен срочно",
		"Какое количество кандидатов Вы предоставляете",
		"Как быстро Вы закроете мою вакансию",
		"Вы называетесь Кадровое агентство уникальных специалистов. В чем Ваша уникальность",
		"Сколько стоят Ваши услуги",
		"Что будет, если подобранный Вами сотрудник через неделю уволится",
		"Как часты в Вашем агентстве замены",
		"Можете ли Вы представить несколько замен"
	];