//- Financial staff data

-
	var financial_staff_items = [
		{
			icon: 'img_1',
			text: 'Топ-менеджеры отрасли'
		},
		{
			icon: 'img_2',
			text: 'Аудиторы'
		},
		{
			icon: 'img_3',
			text: 'Главные бухгалтера'
		},
		{
			icon: 'img_4',
			text: 'Финансовые менеджеры и руководители'
		},
		{
			icon: 'img_4',
			text: 'Бухгалтера с опытом работы в различных компаниях'
		},
		{
			icon: 'img_4',
			text: 'Специалисты и руководители в области банковской деятельности'
		},
		{
			icon: 'img_5',
			text: 'Экономисты'
		},
		{
			icon: 'img_5',
			text: 'Другие специалисты'
		}
	];
