//- Final industry data

-
	var industry_top_items = [
		{
			title: 'В среднем, чтобы нанять бухгалтера, нужно:',
			list: [
				{
					title: 'Рассмотреть около 100 резюме кандидатов',
					descr: 'Самостоятельный подбор бухгалтера потребует около 130 тыс. руб. на доступ к рекрутинговым ресурсам и не менее 2 часов рабочего времени ежедневно на одну вакансию.'
				},
				{
					title: 'Провести 30 телефонных интервью',
					descr: 'Кандидаты, прошедшие первичный отбор и приглашенные в офис компании, не всегда доезжают до него. Время уходит на дополнительный поиск и обзвон соискателей.'
				},
				{
					title: 'Организовать 10 собеседований',
					descr: 'Драгоценные рабочие часы тратятся впустую, так как на собеседовании с частью претендентов выясняется, что они не подходят на вакансию.'
				}
			]
		}
	];

	var advantages_circles = [
		{
			img: "img_1",
			caption: "Выбран из<br>максимального<br>числа кандидатов"
		},
		{
			img: "img_2",
			caption: "Умеет решать не<br>только стандартные задачи"
		},
		{
			img: "img_3",
			caption: "Знает налоговый учет и оптимизацию в Вашей сфере"
		},
		{
			img: "img_4",
			caption: "Разделяет корпоративные ценности"
		},
		{
			img: "img_5",
			caption: "Готов работать<br>долго и успешно"
		}
	];
