-
	var header_menu = [
		{
			title: "Об агентстве",
			url: "about.html",
			submenu: [
				{
					title: "Пресс-центр",
					url: "",
					items: [
						{
							title: "Новости",
							url: ""
						},
						{
							title: "Пресс-релизы",
							url: ""
						},
						{
							title: "СМИ о нас",
							url: ""
						},
						{
							title: "Статья",
							url: ""
						}
					]
				},
				{
					title: "Отзывы о нас",
					url: "about_reviews.html"
				},
				{
					title: "Этический кодекс",
					url: "about_ethic.html"
				},
				{
					title: "Наши книги",
					url: "about_books.html"
				},
				{
					title: "Работа у нас",
					url: "about_work.html"
				}
			]
		},
		{
			title: "Отрасли",
			url: "industry_main.html"
		},
		{
			title: "Работодателям",
			url: "employers.html",
			submenu: [
				{
					title: "Юридический консалтинг",
					url: "employers_consulting.html"
				},
				{
					title: "Договор",
					url: "employers_treaty.html"
				},
				{
					title: "Подбор персонала",
					url: "employers_recruitment.html"
				},
				{
					title: "Без видео",
					url: "employers_without_video.html"
				},
				{
					title: "С видео",
					url: "employers_with_video.html"
				}
			]
		},
		{
			title: "Соискателям",
			url: "applicants_advice.html",
			submenu: [
				{
					title: "Разместить анкету кандидата",
					url: "applicants_questionnaire.html"
				},
				{
					title: "Вакансии агенства",
					url: "applicants_vacancies.html"
				}
			]
		},
		{
			title: "Резюме",
			url: "resume.html"
		},
		{
			title: "FAQ",
			url: "faq.html"
		},
		{
			title: "Пресс-центр",
			url: "press_center.html",
			submenu: [
				{
					title: "Пресс-релизы",
					url: "press_releases.html"
				},
				{
					title: "СМИ о нас",
					url: "press_mass_media.html"
				},
				{
					title: "Новости",
					url: "press_news.html"
				},
				{
					title: "Статьи",
					url: "press_articles.html"
				}
			]
		},
		{
			title: "Библиотека HR",
			url: "hr.html"
		},
		{
			title: "Контакты",
			url: "contacts.html"
		}
	];