//- HR Data

-
	var instructions_list = [
		"Учитель математики",
		"Продавец в магазин",
		"Учитель математики",
		"Инструктор по фитнесу",
		"Фитнес-тренер",
		"Инструктор по фитнесу",
		"Курьер на почту",
		"Директор в магазин-склад",
		"Промоутер"
	];

	var letters = [
		"А", "Б", "В", "Г", "Д", "Е",
		"Ж", "З", "И", "К", "Л", "М",
		"Н", "О", "П", "Р", "С", "Т",
		"У", "Ф", "Х", "Ц", "Ч", "Ш",
		"Щ", "Э", "Ю", "Я"
	];

	var alphabetical_order_a_column1 = [
		"Автомеханик",
		"Автомойщик",
		"Агент по закупкам (вариант 1)",
		"Агент по закупкам (вариант 2)",
		"Агент по продаже недвижимости (вариант 1)",
		"Агент по продаже недвижимости (вариант 2)",
		"Агент по продаже финансовых услуг",
		"Агент по розыску грузов и багажа",
		"Агент по снабжению (вариант 1)",
		"Агент по снабжению (вариант 2)",
		"Агент по туризму",
		"Агент торговый",
		"Администратор",
		"Администратор автосалона",
		"Администратор баз данных",
		"Администратор гостиницы",
		"Администратор зала (метрдотель)"
	];

	var alphabetical_order_a_column2 = [
		"Администратор медицинского центра",
		"Администратор офиса",
		"Администратор предприятия торговли (вариант 1)",
		"Администратор предприятия торговли (вариант 2)",
		"Администратор ресторана",
		"Администратор салона красоты",
		"Администратор стоматологической клиники",
		"Акушерка",
		"Аналитик",
		"Андеррайтер",
		"Арт-директор",
		"Архивариус",
		"Архитектор",
		"Архитектор-декоратор",
		"Ассистент врача-стоматолога",
		"Ассистент по подбору персонала",
		"Аудитор"
	];


	var salaries_table1 = [
		{
			position: "Генеральный директор",
			min: "65 000 - 74 000",
			average: "74 000 - 89 000",
			max: "89 000 - 120 000"
		},
		{
			position: "Заведующий отделением",
			min: "85 000 - 90 000",
			average: "90 000 - 123 000",
			max: "123 000 - 160 000"
		},
		{
			position: "Директор",
			min: "85 000 - 90 000",
			average: "90 000 - 123 000",
			max: "123 000 - 160 000"
		}
	];

	var salaries_table2 = [
		{
			position: "Генеральный директор",
			min: "65 000 - 74 000",
			average: "74 000 - 89 000",
			max: "89 000 - 120 000"
		},
		{
			position: "Заведующий отделением",
			min: "85 000 - 90 000",
			average: "90 000 - 123 000",
			max: "123 000 - 160 000"
		},
		{
			position: "Директор",
			min: "85 000 - 90 000",
			average: "90 000 - 123 000",
			max: "123 000 - 160 000"
		}
	];

	var salaries_single_table = [
		{
			min: "65 000 - 74 000",
			average: "74 000 - 89 000",
			max: "89 000 - 120 000"
		}
	];