-
	var articles_array = [
		{
			elem_title: "Обзор рынка труда в сфере информационных технологий 2018",
			elem_url: "",
			descr: "Полная версия аналитического отчета. Персонал в ИТ 2018: обзор зарплат, предпочтения работодателей, тенденции"
		},
		{
			elem_title: "Описание типичных должностей сотрудников в информационных технологиях",
			elem_url: "",
			descr: "Практика показывает, что большинство руководителей рассматривает проблему мотивации персонала чрезвычайно узко"
		},
		{
			elem_title: "Общее положение на рынке труда в информационных технологиях",
			elem_url: "",
			descr: "Средняя зарплата московских водителей на личных легковых автомобилях (включая 'Газели' категории «В», не"
		},
		{
			elem_title: "Экосистема айтишника",
			elem_url: "",
			descr: "Полная версия аналитического отчета. Персонал в ИТ 2018: обзор зарплат, предпочтения работодателей, тенденции"
		},
		{
			elem_title: "Уровни заработных плат специалистов ИТ",
			elem_url: "",
			descr: "Практика показывает, что большинство руководителей рассматривает проблему мотивации персонала чрезвычайно узко"
		},
		{
			elem_title: "Обзор зарплат программистов JavaScript 2017",
			elem_url: "",
			descr: "Средняя зарплата московских водителей на личных легковых автомобилях (включая 'Газели' категории «В», не"
		},
		{
			elem_title: "Обзор рынка труда в сфере информационных технологий 2018",
			elem_url: "",
			descr: "Полная версия аналитического отчета. Персонал в ИТ 2018: обзор зарплат, предпочтения работодателей, тенденции"
		},
		{
			elem_title: "Описание типичных должностей сотрудников в информационных технологиях",
			elem_url: "",
			descr: "Практика показывает, что большинство руководителей рассматривает проблему мотивации персонала чрезвычайно узко"
		},
		{
			elem_title: "Общее положение на рынке труда в информационных технологиях",
			elem_url: "",
			descr: "Средняя зарплата московских водителей на личных легковых автомобилях (включая 'Газели' категории «В», не"
		}
	];