//- Instructions grid data

-

	var grid_main = [
		{
			title: "Секретариат / Административный персонал",
			url: "",
			icon: "img4.png"
		},
		{
			title: "Бухгалтерия / Экономисты",
			url: "",
			icon: "img1.png"
		},
		{
			title: "Банки / Финансы / Инвестиции",
			url: "",
			icon: "img2.png"
		},
		{
			title: "Юридические специальности",
			url: "",
			icon: "img7.png"
		},
		{
			title: "HR / Служба персонала / Тренинги",
			url: "",
			icon: "img13.png"
		},
		{
			title: "Реклама / Маркетинг / PR",
			url: "",
			icon: "img3.png"
		},
		{
			title: "Продажи / Торговля / Закупки",
			url: "",
			icon: "img14.png"
		},
		{
			title: "Информационные технологии",
			url: "",
			icon: "img9.png"
		},
		{
			title: "Промышленность / Производство / Инженеры",
			url: "",
			icon: "img6.png"
		},

		{
			title: "Строительство / Недвижимость / Эксплуатация",
			url: "",
			icon: "img5.png"
		},
		{
			title: "Логистика / Склад / ВЭД",
			url: "",
			icon: "img11.png"
		},
		{
			title: "Медицина / Фармацевтика Медоборудование",
			url: "",
			icon: "img10.png"
		},
		{
			title: "Консалтинг / Страхование / Стратегическое развитие",
			url: "",
			icon: "img8.png"
		},
		{
			title: "Гостиницы / Рестораны / Кафе / Туризм",
			url: "",
			icon: "img15.png"
		},
		{
			title: "Прочие специалисты",
			url: "",
			icon: "img12.png"
		}
	];