//- Industry advantages data

-
	var advantages_circles = [
		{
			value: 59,
			caption: "тыс. резюме специалистов по финансам в собственной базе"
		},
		{
			value: 11,
			caption: "лет опыта в данной отрасли"
		},
		{
			value: 200,
			caption: "успешно закрытых вакансий"
		},
		{
			value: 90,
			caption: "дней на бесплатную замену"
		},
		{
			value: 0,
			caption: "рублей предоплата за услуги"
		}
	];