//- Industry main data

-

	var advantages_circles = [
		{
			img: "finance",
			title: "Каус / финансы",
			caption: "Подбор персонала в области бухгалтерии, финансов, банковского дела и страхования"
		},
		{
			img: "medicine",
			title: "Каус / медицина",
			caption: "Подбор персонала в области медицины, фармацевтики, продаж медицинского оборудования"
		},
		{
			img: "building",
			title: "Каус / строительство",
			caption: "Подбор квалифицированного персонала для строительной отрасли и промышленности"
		},
		{
			img: "secretary",
			title: "Каус / секретарь",
			caption: "Подбор секретарей, личных помощников, офис-менеджеров, специалистов и руководителей АХО"
		},
		{
			img: "market",
			title: "Каус / маркет",
			caption: "Подбор персонала в области продаж, рекламы, маркетинга и PR"
		},
		{
			img: "navigating_officer",
			title: "Каус / штурман",
			caption: "Подбор водителей различных специализаций и специалистов смежных специальностей"
		}
	];

	var industry_list = [
		{
			icon: 'img_3',
			text: 'Бухгалтерия / Финансы / Банки'
		},
		{
			icon: 'img_4',
			text: 'Юриспруденция'
		},
		{
			icon: 'img_2',
			text: 'Продажи / Сфера торговли / Закупки / ВЭД'
		},
		{
			icon: 'img_11',
			text: 'Управление персоналом / Консалтинг / Страхование'
		},
		{
			icon: 'img_6',
			text: 'Маркетинг / Реклама / PR'
		},
		{
			icon: 'img_5',
			text: 'Информационные технологии / Телекоммуникации'
		},
		{
			icon: 'img_1',
			text: 'Секретари / Административный персонал'
		},
		{
			icon: 'img_10',
			text: 'Медицина / Фармацевтика / Медоборудование'
		},
		{
			icon: 'img_3',
			text: 'Проектирование / Строительство / Архитектура'
		},
		{
			icon: 'img_9',
			text: 'Транспорт / Логистика'
		},
		{
			icon: 'img_7',
			text: 'Промышленность / Производство / Добывающие отрасли'
		}
	];

	var features_left = [
		{
			title: 'Собственная база кандидатов',
			descr: 'В закрытой базе агентства более 59 тыс. резюме специалистов сферы финансов'
		},
		{
			title: 'Экспертная аналитика',
			descr: 'Мы регулярно готовим и предоставляем клиентам обзоры зарплат в области бухгалтерии и банков.'
		},
		{
			title: 'Компетентные консультанты',
			descr: 'Подбором занимаются консультанты с опытом работы в финансовой отрасли'
		},
		{
			title: 'Наработанные связи',
			descr: 'Контакты в деловом мире  позволяют без труда выходить на нужных кандидатов'
		}
	];

	var features_right = [
		"Встречаетесь с первыми кандидатами уже через три дня",
		"Получаете кандидатов, которых нет в открытых источниках",
		"Общаетесь только с соискателями, точно соответствующими вашим запросам",
		"Закрываете вакансию в срок от 5 дней"
	];
