//- Industry grid data

-

	var grid_main = [
		{
			title: "Бухгалтерия / Финансы / Банки",
			url: "",
			icon: "img1.png"
		},
		{
			title: "Продажи / Сфера торговли / Закупки / ВЭД",
			url: "",
			icon: "img2.png"
		},
		{
			title: "Реклама / Маркетинг / PR",
			url: "",
			icon: "img3.png"
		},
		{
			title: "Секретариат / Административный персонал",
			url: "",
			icon: "img4.png"
		},
		{
			title: "Проектирование / Строительство / Архитектура",
			url: "",
			icon: "img5.png"
		},
		{
			title: "Промышленность / Производство / Добывающие отрасли",
			url: "",
			icon: "img6.png"
		},
		{
			title: "Юриспруденция",
			url: "",
			icon: "img7.png"
		},
		{
			title: "Управление персоналом / Консалтинг / Страхование",
			url: "",
			icon: "img8.png"
		},
		{
			title: "Информационные технологии / Телекоммуникации",
			url: "",
			icon: "img9.png"
		},
		{
			title: "Медицина / Фармацевтика Медоборудование",
			url: "",
			icon: "img10.png"
		},
		{
			title: "Транспорт / Логистика",
			url: "",
			icon: "img11.png"
		},
		{
			title: "Прочие специалисты",
			url: "",
			icon: "img12.png"
		}
	];