//- Industry video data

-
	var industry_top_items = [
		{
			title: 'В среднем, для компании месяц пустующей позиции стоит:',
			list: [
				{
					title_value: '10',
					title_text: 'млн',
					descr: 'Финансовый директор'
				},
				{
					title_value: '3',
					title_text: 'млн',
					descr: 'Экономист'
				},
				{
					title_value: '1-3',
					title_text: 'млн',
					descr: 'Финансовый менеджер '
				},
				{
					title_value: '30',
					title_text: '%',
					subtitle: 'стоимости времени директора',
					descr: 'Главный бухгалтер'
				}
			]
		},
		{
			title: 'Расходы, связанные с подбором финансового специалиста',
			list: [
				{
					title: "Дорогое обслуживание платных сайтов",
					descr: "Размещение вакансий и доступ к базам резюме на сайтах Москвы стоит более 130 т. рублей. При работе с одним платным сайтом, Вы резко снижаете поток кандидатов."
				},
				{
					title: "Отсутствие возможной прибыли",
					descr: "Пока ведутся поиски настоящего сотрудника, компания недополучает возможную прибыль, что приводит к значительному убытку агентства."
				}
			]
		}
	];

	var industry_section_items = [
		"На рынке нет нужного специалиста и поиск затягивается?",
		"Срочно нужна замена, а времени на подбор нет?",
		"В компании постоянная текучка, нужны лояльные и мотивированные сотрудники?"
	];

	var advantages_circles = [
		{
			value: 40,
			caption: "тыс. резюме в собственной базе"
		},
		{
			value: 10,
			caption: "лет опыта в данной отрасли"
		},
		{
			value: 80,
			caption: "успешно закрытых вакансий"
		},
		{
			value: 90,
			caption: "дней на бесплатную замену кандидата"
		},
		{
			value: 0,
			caption: "рублей предоплата за наши услуги"
		}
	];
