//- Main data

-
	var services_sb_list = [
		{
			title: "Аутсорсинг публикаций и поиска резюме",
			url: ""
		},
		{
			title: "Региональный подбор",
			url: ""
		},
		{
			title: "Юридический консалтинг",
			url: ""
		},
		{
			title: "Исследования, обзоры заработных плат, отчеты по рынку труда",
			url: ""
		}
	];


	var services_decorated_list = [
		{
			title: "Классический рекрутмент",
			descr: "Поиск и подбор специалистов, а также персонала среднего и высшего звена",
			url: "",
			icon: "icon-svc1"
		},
		{
			title: "Массовый подбор",
			descr: "Массовый проектный подбор, в том числе низкоквалифицированного персонала",
			url: "",
			icon: "icon-svc2"
		},
		{
			title: "Executive search",
			descr: "Поиск и подбор руководителей высшего звена, в том числе прямой",
			url: "",
			icon: "icon-svc3"
		}
	];

	var advantages_circles = [
		{
			value: "700",
			caption: "довольных<br> клиентов"
		},
		{
			value: "1000",
			caption: "успешных проектов"
		},
		{
			value: "140",
			caption: "тыс. резюме в базе нашего агентства"
		},
		{
			value: "14,8",
			caption: "млн контактов<br> в информационной базе"
		}
	];

	var recruitment_categories = [
		{
			title: "Бухгалтерия / Финансы / Банки",
			subitems: [
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				}
			]
		},
		{
			title: "Продажа / Сфера торговли / Закупки / ВЭД",
			subitems: [
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				}
			]
		},
		{
			title: "Реклама / Маркетинг / PR",
			subitems: [
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				}
			]
		},
		{
			title: "Секретари / Административный персонал",
			subitems: [
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				}
			]
		},
		{
			title: "Проектирование / Строительство / Архитектура",
			subitems: [
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				}
			]
		},
		{
			title: "Промышленность / Производство / Добывающие отрасли",
			subitems: [
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				}
			]
		},
		{
			title: "Юриспруденция",
			subitems: [
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				}
			]
		},
		{
			title: "Управление персоналом / Консалтинг / Страхование",
			subitems: [
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				}
			]
		},
		{
			title: "Информационные технологии / Телекоммуникации",
			subitems: [
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				}
			]
		},
		{
			title: "Медицина / Фармацевтика / Медоборудование",
			subitems: [
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				}
			]
		},
		{
			title: "Транспорт / Логистика",
			subitems: [
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Управляющий и административный персонал",
					url: ""
				},
				{
					title: "Врачебный персонал",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				},
				{
					title: "Продажи медоборудования",
					url: ""
				},
				{
					title: "Средний медицинский персонал",
					url: ""
				},
				{
					title: "Фармацевтика",
					url: ""
				}
			]
		}
	];

	var advantages_list = [
		{
			text: "Встретитесь только с лучшими кандидатами, точно соответствующими вашим запросам",
			icon: "advantage_icon1.png"
		},
		{
			text: "Получите соискателей, которых невозможно найти самостоятельно в открытых источниках",
			icon: "advantage_icon2.png"
		},
		{
			text: "Проведете собеседование с первым пулом претендентов уже через 3 дня",
			icon: "advantage_icon3.png"
		},
		{
			text: "Закроете вакансию в срок от 5 дней",
			icon: "advantage_icon4.png"
		},
		{
			text: "Воспользуетесь правом на бесплатную замену, если расстанетесь с сотрудником в течение гарантийного срока",
			icon: "advantage_icon5.png"
		},
		{
			text: "Остались какие-либо вопросы? <a href='javascropt:void(0);'>Закажите обратный звонок!</a> Мы Вам перезвоним!",
			icon: "advantage_icon6.png"
		}
	];


	var directions = [
		{
			img: "finance.png",
			text: "Бухгалтерия, финансы, банковское дело и страхования"
		},
		{
			img: "medicine.png",
			text: "Медицина, фармацевтика, продажа мед. оборудования"
		},
		{
			img: "secretary.png",
			text: "Секретари, личные помощники, офис-менеджеры, руководители АХО"
		},
		{
			img: "building.png",
			text: "Квалифицированный персонал для строительной отрасли, промышленности"
		},
		{
			img: "navigating_officer.png",
			text: "Водители различных специализаций, специалисты смежных специальностей"
		},
		{
			img: "market.png",
			text: "Продажа, реклама, маркетинг и PR"
		}	
	];

	var vacancies_of_the_day = [
		{
			title: "Менеджер по продажам натуральной косметики",
			descr: "50 000 - 80 000 Р / Без опыта работы"
		},
		{
			title: "Директор по продажам натуральной косметики",
			descr: "67 000 - 80 000 Р / Опыт работы от 1 до 3-х лет"
		},
		{
			title: "Менеджер по продажам натуральной косметики",
			descr: "50 000 - 80 000 Р / Без опыта работы"
		},
		{
			title: "Директор по продажам натуральной косметики",
			descr: "67 000 - 80 000 Р / Опыт работы от 1 до 3-х лет"
		}
	];
	
	var vacancies_col1 = [
		{
			title: "Директор предприятия",
			date: "18.05.18"
		},
		{
			title: "Менеджер по продажам",
			date: "08.05.18"
		},
		{
			title: "Исполнительный директор",
			date: "19.05.18"
		},
		{
			title: "Менеджер по продажам натуральной косметики",
			date: "20.05.18"
		}
	];
	
	var vacancies_col2 = [
		{
			title: "Исполнительный директор предприятия",
			date: "21.05.18"
		},
		{
			title: "Менеджер по продажам натуральной косметики",
			date: "22.05.18"
		},
		{
			title: "Исполнительный директор малого предприятия",
			date: "23.05.18"
		}
	];

	var vacancies_col3 = [
		{
			title: "Директор большого магазина",
			date: "24.05.18"
		},
		{
			title: "Исполнительный директор",
			date: "25.05.18"
		},
		{
			title: "Исполнительный директор",
			date: "26.05.18"
		}
	];

	var articles_list = [
		{
			icon: "articles_icon1.png",
			text: "Должностные инструкции"
		},
		{
			icon: "articles_icon2.png",
			text: "Наши статьи об HR"
		},
		{
			icon: "articles_icon3.png",
			text: "Обзор заработных плат"
		},
		{
			icon: "articles_icon4.png",
			text: "Наши исследования"
		}
	];

	var books_slides = [
		{
			title: "Книги кадрового агентства «Каус»",
			introtext: "Наш генеральный директор, Екатерина Крупина, - эксперт в области трудового права, подбора и адаптации персонала, формирования кадрового аудита и кадровой документации.",
			img: "img1.png",
			descr: "Она написала две книги, чтобы передать коллегам накопленные знания и помочь повысить эффективность при отборе кандидатов. Эти издания будут полезны руководителям компаний и подразделений, а также кадровым работникам."
		},
		{
			title: "Книги кадрового агентства «Каус»",
			introtext: "Наш генеральный директор, Екатерина Крупина, - эксперт в области трудового права, подбора и адаптации персонала, формирования кадрового аудита и кадровой документации.",
			img: "img1.png",
			descr: "Она написала две книги, чтобы передать коллегам накопленные знания и помочь повысить эффективность при отборе кандидатов. Эти издания будут полезны руководителям компаний и подразделений, а также кадровым работникам."
		}
	];