//- Press Mass media data

-

	var releases_items = [
		{
			date: "08.05.18",
			source: "Российская газета",
			title: "Босс под лупой",
			descr: "Почему к немыслимому? Ответ прост: спланируйте вашу стратегию, подготовив ответы на возможные вопросы, и тренируйтесь, тренируйтесь, тренируйтесь. Проведите ролевую игру и повторяйте."
		},
		{
			date: "03.02.18",
			source: "RB.ru",
			title: "По каким критериям соискатели выбирают кадровые агентства",
			descr: "Кадровое агентство уникальных специалистов «КАУС» провело исследование, по каким критериям соискатели обращаются в кадровые агентства."
		},
		{
			date: "03.02.18",
			source: "HRmaximum.ru",
			title: "Исследование: Кадровое агентство как инструмент поиска работы",
			descr: "Данное исследование было подготовлено кадровым агентством уникальных специалистов «КАУС». Цель исследования – выявить отношение соискателей к кадровым агентствам и понять, каким образом они используют их в поисках работы."
		}
	];
