//- Press releases data

-

	var releases_items = [
		{
			date: "08.05.16",
			title: "Зарплаты в строительной отрасли растут не у всех специалистов",
			descr: "Кадровое агентство «КАУС-Строитель» проанализировало зарплаты персонала в области строительства. По итогам II квартала 2013 года средний уровень заработных плат больше всех вырос у инженеров-геодезистов (29,4%), инженеров технадзора (26,4%), прорабов (24,7%)"
		},
		{
			date: "03.02.16",
			title: "Большинство менеджеров по продажам положительно относится к «холодным звонкам»",
			descr: "Большинство менеджеров по продажам положительно относится к «холодным» звонкам, если устраивает уровень предлагаемой зарплаты. Так ответили 84% специалистов и руководителей в области продаж, опрошенных кадровым агентством «КАУС-Маркет»"
		},
		{
			date: "03.02.16",
			title: "Бухгалтеры в Москве зарабатывают в среднем 45 000 рублей",
			descr: "Данное исследование было подготовлено кадровым агентством уникальных специалистов «КАУС». Цель исследования – выявить отношение соискателей к кадровым агентствам и понять, каким образом они используют их в поисках работы."
		}
	];
