//- Press center data

-

	var advantages_circles = [
		{
			img: "img_1",
			caption: "Корреляцию количества вакансий и резюме по отраслям и специальностям"
		},
		{
			img: "img_2",
			caption: "Тенденции развития и показатели рынка труда"
		},
		{
			img: "img_3",
			caption: "Изменения уровня зарплат по отдельным вакансиям и рынкам труда в отдельных отраслях"
		}
	];

	var attachments = [
		{
			img: "ppt.png",
			title: "Презентация Группы «КАУС»",
			format: "PPT"
		},
		{
			img: "ppt.png",
			title: "Экспертный профиль «КАУС»",
			format: "PPT"
		},
		{
			img: "zip.png",
			title: "Логотип «КАУС»",
			format: "ZIP"
		}
	];

	var news = [
		{
			date: "30.03.18",
			title: "Вышло свежее исследование рынка труда в области ИТ за 2018 год",
			descr: "Эксперты кадрового агентства «КАУС-IT» выпустили свежий обзор рынка труда в области информационных технологий за 2018 года. В отчете имеется исследование зарплат в Московском регионе по 27"
		},
		{
			date: "27.02.18",
			title: "Свежий обзор зарплат: рост в промышленности и новые специальности в ИТ",
			descr: "Эксперты кадрового агентства «КАУС» выпустили очередной обзор заработных плат за I квартал текущего года. Полученные данные свидетельствуют о том, что предложения в сфере "
		},
		{
			date: "31.01.18",
			title: "Какие перемены принесет автоматизация на рынок труда в 2018 году",
			descr: "Крупный HR-портал прогнозирует в 2018 году кадровые изменения в сферах, которые быстрее других подвергнутся автоматизации"
		}
	];
