//- Press News data

-

	var news = [
		{
			date: "30.03.18",
			title: "Вышло свежее исследование рынка труда в области ИТ за 2018 год",
			descr: "Эксперты кадрового агентства «КАУС-IT» выпустили свежий обзор рынка труда в области информационных технологий за 2018 года. В отчете имеется исследование зарплат в Московском регионе по 27"
		},
		{
			date: "27.02.18",
			title: "Свежий обзор зарплат: рост в промышленности и новые специальности в ИТ",
			descr: "Эксперты кадрового агентства «КАУС» выпустили очередной обзор заработных плат за I квартал текущего года. Полученные данные свидетельствуют о том, что предложения в сфере "
		},
		{
			date: "31.01.18",
			title: "Какие перемены принесет автоматизация на рынок труда в 2018 году",
			descr: "Крупный HR-портал прогнозирует в 2018 году кадровые изменения в сферах, которые быстрее других подвергнутся автоматизации"
		},
		{
			date: "27.02.18",
			title: "Свежий обзор зарплат: рост в промышленности и новые специальности в ИТ",
			descr: "Эксперты кадрового агентства «КАУС» выпустили очередной обзор заработных плат за I квартал текущего года. Полученные данные свидетельствуют о том, что предложения в сфере "
		},
		{
			date: "31.01.18",
			title: "Какие перемены принесет автоматизация на рынок труда в 2018 году",
			descr: "Крупный HR-портал прогнозирует в 2018 году кадровые изменения в сферах, которые быстрее других подвергнутся автоматизации"
		},
		{
			date: "30.03.18",
			title: "Вышло свежее исследование рынка труда в области ИТ за 2018 год",
			descr: "Эксперты кадрового агентства «КАУС-IT» выпустили свежий обзор рынка труда в области информационных технологий за 2018 года. В отчете имеется исследование зарплат в Московском регионе по 27"
		}
	];
