//- Recruitment price data

-
	var price_list = [
		{
			color: '#f1d7aa',
			title: 'Классический рекрутмент',
			descr: '14-18% от годового дохода нужного специалиста. Процент зависит от требований',
			value: '14–20%',
			caption: 'от годового дохода специалиста'
		},
		{
			color: '#55d1a7',
			title: 'Executive<br>Search',
			descr: 'Если Вам понравится кандидат из первой тройки соискателей – скидка 10%, для постоянных клиентов – от 5 до 10%',
			value: '<span>от</span> 5 <span>до</span> 10%',
			caption: 'предоставляемая скидка клиенту'
		},
		{
			color: '#bb93ca',
			title: 'Массовый<br>подбор',
			descr: 'Если Вам понравится кандидат из первой тройки соискателей – скидка 10%, для постоянных клиентов – от 5 до 10%',
			value: '10%',
			caption: 'предоставляемая скидка клиенту'
		}
	];