-
	var agencies_list = [
		{
			title: "Кадровые агентства Группы «Каус»",
			city: "Москва",
			url: ""
		},
		{
			title: "Inter-HR",
			city: "Москва",
			url: ""
		},
		{
			title: "Максима",
			city: "Москва",
			url: ""
		},
		{
			title: "Группа Компаний «А.Н.Т»",
			city: "Москва",
			url: ""
		},
		{
			title: "Lightman Solutions",
			city: "Санкт-Петербург",
			url: ""
		},
		{
			title: "Кадровый центр Президент",
			city: "Санкт-Петербург",
			url: ""
		},
		{
			title: "Rational Grain",
			city: "Санкт-Петербург",
			url: ""
		}
	];


	var agencies_rating = [
		{
			title: "Кадровые агентства Группы «Каус»",
			address: "Москва, Шлюзовая набережная, дом 6, строение 4",
			url: ""
		},
		{
			title: "Inter-HR",
			address: "Москва, улица Николаевская, дом 6",
			url: ""
		},
		{
			title: "Максима",
			address: "Москва, 3-й Хорошевский проезд, дом 1/1",
			url: ""
		},
		{
			title: "Группа Компаний «А.Н.Т»",
			address: "Москва, Семеновская набережная, дом 2/1",
			url: ""
		},
		{
			title: "Lightman Solutions",
			address: "Москва, Шлюзовая набережная, дом 6, строение 4",
			url: ""
		},
		{
			title: "Кадровый центр Президент",
			address: "Москва, улица Николаевская, дом 6",
			url: ""
		},
		{
			title: "Rational Grain",
			address: "Москва, 3-й Хорошевский проезд, дом 1/1",
			url: ""
		}
	];