//- Recruitment scheme data

-
	var scheme_list = [
		"Вы оставляете заявку на сайте или по телефону +7 (495) 660-35-40",
		"Встреча. Составляем представление о компании и знакомится с ее деятельностью",
		"Составляем профиль должности и определяем необходимые сроки подбора",
		"Заключаем договор об оказании услуг",
		"Проводим поиск всеми способами по 20 источникам",
		"Отбираем кандидатов: проверяем их на соответствие должности, и корпоративной культуре, определяем мотивацию",
		"Проводим финальные собеседования и направляем кандидатов с нашим экспертным заключением",
		"Результат. Вы получаете профессинального сотрудника, который будет приносить Вам деньги и в котором Вы можете быть уверены"
	];
