//- Recruitment conditions data

-
	var conditions_list = [
		{
			title: "Оплата<br>за результат",
			descr: "Вы оплачиваете подбор только после выхода понравившегося кандидата на рабочее место. Если вы расстанетесь с ним в течение 90 дней, мы бесплатно предоставим замену"
		},
		{
			title: "Скидка за быстрый отбор",
			descr: "Если вам понравится кандидат из первой тройки соискателей, мы сократим стоимость услуг на 10%"
		},
		{
			title: "Бонусы за лояльность",
			descr: "Для постоянных клиентов предоставляем скидку - от 5 до 10%. Процент зависит от количества совместных проектов"
		},
		{
			title: "Прозрачные условия работы",
			descr: "Перед началом сотрудничества мы заключим договор, в котором зафиксируем обязательства сторон, гарантии и точную стоимость услуг"
		}
	];