//- Recruitment industry data

-
	var industry_list = [
		{
			icon: 'img_1',
			text: 'Секретариат / Административные служащие'
		},
		{
			icon: 'img_2',
			text: 'Бухгалтерия / Экономисты'
		},
		{
			icon: 'img_3',
			text: 'Банки / Финансы / Инвестиции'
		},
		{
			icon: 'img_4',
			text: 'Юридические специальности'
		},
		{
			icon: 'img_5',
			text: 'HR / Служба персонала / Тренинги'
		},
		{
			icon: 'img_6',
			text: 'Маркетинг / Реклама / PR'
		},
		{
			icon: 'img_2',
			text: 'Продажи / Торговля / Закупки'
		},
		{
			icon: 'img_5',
			text: 'Информационные технологии'
		},
		{
			icon: 'img_7',
			text: 'Промышленность / Производство / Инженеры'
		},
		{
			icon: 'img_8',
			text: 'Строительство / Недвижимость / Эксплуатация'
		},
		{
			icon: 'img_9',
			text: 'Логистика / Склад / ВЭД'
		},
		{
			icon: 'img_10',
			text: 'Медицина / Фармацевтика / Оборудование'
		},
		{
			icon: 'img_11',
			text: 'Консалтинг / Страхование / Стратегическое развитие'
		},
		{
			icon: 'img_12',
			text: 'Гостиницы / Рестораны / Кафе / Туризм'
		}
	];