//- Resume Main data

-
	var intro_items = [
		"У вас открыта вакансия, и нужно найти резюме соискателей в Москве или других регионах России? На нашем сайте представлены анкеты кандидатов из различных отраслей. Все они из закрытой базы резюме нашего агентства, составляющей 140 тыс. специалистов из различных отраслей. Вы можете отобрать подходящие резюме на сайте, чтобы сократить сроки закрытия вакансии и сфокусироваться на обсуждении претендентов."
	];

	var specialties = [
		{
			title: "Бухгалтер по учету ТМЦ",
			url: ""
		},
		{
			title: "Старший бухгалтер",
			url: ""
		},
		{
			title: "Бухгалтер на участок реализации",
			url: ""
		},
		{
			title: "Помощник бухгалтера",
			url: ""
		},
		{
			title: "Бухгалтер по учету ТМЦ",
			url: ""
		},
		{
			title: "Заместитель главного бухгалтера",
			url: ""
		},
		{
			title: "Бухгалтер на участок реализации",
			url: ""
		},
		{
			title: "Бухгалтер на участок реализации",
			url: ""
		},
		{
			title: "Бухгалтер на учаток основыне средства",
			url: ""
		},
		{
			title: "Бухгалтер на учаток основыне средства",
			url: ""
		},
		{
			title: "Бухгалтер-калькулятор",
			url: ""
		},
		{
			title: "Бухгалтер-калькулятор",
			url: ""
		}
	];


	var specialists = [
		{
			title: "Бухгалтер со знаем французского языка",
			url: "",
			salary: "50 000",
			exp: "11 лет",
			last_work_place: "07.2015 г. - 08.2017 г., ООО «Торговля»",
			last_work_position: "Помощник бухгалтера"
		},
		{
			title: "Бухгалтер",
			url: "",
			salary: "120 000",
			exp: "10 лет",
			last_work_place: "07.2015 г. - 08.2017 г., ЗАО Газпром",
			last_work_position: "Главный бухгалтер"
		},
		{
			title: "Бухгалтер",
			url: "",
			salary: "120 000",
			exp: "10 лет",
			last_work_place: "07.2015 г. - 08.2017 г., ЗАО Газпром",
			last_work_position: "Главный бухгалтер"
		},
		{
			title: "Бухгалтер со знаем французского языка",
			url: "",
			salary: "50 000",
			exp: "11 лет",
			last_work_place: "07.2015 г. - 08.2017 г., ООО «Торговля»",
			last_work_position: "Помощник бухгалтера"
		},
		{
			title: "Бухгалтер со знаем французского языка",
			url: "",
			salary: "50 000",
			exp: "11 лет",
			last_work_place: "07.2015 г. - 08.2017 г., ООО «Торговля»",
			last_work_position: "Помощник бухгалтера"
		},
		{
			title: "Бухгалтер",
			url: "",
			salary: "120 000",
			exp: "10 лет",
			last_work_place: "07.2015 г. - 08.2017 г., ЗАО Газпром",
			last_work_position: "Главный бухгалтер"
		},
		{
			title: "Бухгалтер",
			url: "",
			salary: "120 000",
			exp: "10 лет",
			last_work_place: "07.2015 г. - 08.2017 г., ЗАО Газпром",
			last_work_position: "Главный бухгалтер"
		},
		{
			title: "Бухгалтер со знаем французского языка",
			url: "",
			salary: "50 000",
			exp: "11 лет",
			last_work_place: "07.2015 г. - 08.2017 г., ООО «Торговля»",
			last_work_position: "Помощник бухгалтера"
		}
	];

	var resume_education = [
		{
			caption: "2005-2010",
			content: "Московский Государственный Университет Прикладной Биотехнологии, Холодильная техника и технология / Безопасность технологический процессов и производств."
		}
	];

	var resume_experience = [
		{
			caption: "2015-2017",
			company: "ООО «АЛАБУГА-ВОЛОКНО», Елабуга, umatex.com",
			position: "Исполнительный директор",
			duties: "Высокоавтоматизированное промышленное предприятие по производству углеродного волокна, персонал 120 человек. Управление производственно-хозяйственной и финансово-экономической деятельностью предприятия. Разработка и утверждение бюджетов предприятия. Формирование отчетности о результатах деятельности и исполнения бюджета."
		},
		{
			caption: "2017-2018",
			company: "Обособленное подразделение «Тольятти» ООО «НПГ ПОЛИПЛАСТИК»",
			position: "Руководитель обособленного подразделения",
			duties: "Промышленное предприятие по производству композиционных полимерных материалов на основе полипропилена и полиамида, персонал 220 человек. Управление производственно-хозяйственной и финансово-экономической деятельностью предприятия. Разработка и утверждение бюджетов предприятия. Формирование отчетности о результатах деятельности и исполнения бюджета."
		}
	];

	var resume_additional = [
		{
			caption: "О себе",
			value: "Умею общаться с людьми, не конфликтный человек. Доброжелательный и честный человек, адекватная ко всему, работаю хорошо."
		},
		{
			caption: "Работа с программами",
			value: "Windows, Excel, Word, Visio, PowerPoint, MS Project."
		}
	];