//- Recruitment services data

-
	var list = [
		"Классический рекрутмент",
		"Массовый подбор",
		"Региональный подбор",
		"Exetive search",
		"Юридический консалтинг",
		"Аутсорсинг публикаций и поиска резюме",
		"Исследования, обзоры заработных плат, отчеты по рынку труда"
	];