// В этом файле должны быть стили для БЭМ-блока hero-about, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.hero-about {

  $block-name:                &; // #{$block-name}__element

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  position: relative;

  &::after {
    content: '';
    display: block;
    background-color: #3B61A5;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .container {
    position: relative;
  }

  .breadcrumbs {
    text-align: left;
    position: absolute;
    top: 0;
    left: 15px;
    right: 0;
    z-index: 2;

    &:after {
      content: unset;
      display: none;
    }

    &__inner {
      color: #fff;
    }

    a {
      color: #fff;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
    padding-top: 49px;
    padding-bottom: 49px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    min-height: 382px;
    text-align: center;
  }

  &__title {
    text-transform: uppercase;

    h1 {
      margin: 0;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 28px;

    p {
      margin: 0 0 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: $screen-xl - 1) {
  .hero-about {
    &__text {
      font-size: 18px;
      line-height: 24px;
    }

    &__wrapper {
      min-height: unset;
      padding-top: 60px;
      padding-bottom: 54px;
    }

    &__text {
      margin-top: 15px;
    }
  }
}