// В этом файле должны быть стили для БЭМ-блока social, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social {

    $block-name: &; // #{$block-name}__

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    list-style: none;
    margin: 0;
    gap: 8px;

    &__link-wrap {
        margin: 0;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 100%;

        img {
            display: block;
            //transform: translate(-1px, 1px);
        }

        &:hover {
            color: $blue;
            opacity: 1;
        }
    }

    &__text {
        @include hide-text;
    }
}
