// stylelint-disable plugin/selector-bem-pattern

@mixin field-text {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    font-family: inherit;
    color: $black;
    -moz-appearance: textfield; // stylelint-disable-line
    appearance: textfield;

    box-shadow: none;
    outline: none;
    border: 1px solid #d1d1d1;
    border-radius: 0;
    background: white;
    padding: 10px 20px;
    height: 50px;
    font-size: 16px;


    &:focus {
        @include field-focus;
    }

    &[disabled],
    &[readonly] {
        cursor: not-allowed;
        background-color: #ccc;
    }

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration,
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
    }

    &[type='color'] {
        padding: 0;
    }

    &::placeholder {
        color: #8A9199;
        opacity: 1;
    }
}


@mixin field-error {
    .field-error__text {
        display: none;

        margin-top: 8px;
        position: relative;
        padding-left: 16px;
        font-size: 10px;
        line-height: 20px;
        color: #FE6C6C;

        &::before {
            content: '!';
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background: rgba(250, 160, 161, 0.3);
            margin-left: -16px;
            margin-right: 4px;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            color: #FE6C6C;
        }
    }

    &.field-error .field-error__text {
        display: block;
    }
    &.field-error &__input,
    &.field-error .choices__inner{
        background: #FEE3E3;
    }
}


@mixin field-help-text {
    display: block;
    padding-top: 0.4em;
    font-size: $font-size-sm;
    line-height: 1.2em;
    color: $white;

    &:empty { // stylelint-disable-line
        display: none;
    }
}


@mixin field-focus {
    outline: 0;
}


@mixin field-name {
    display: block;
    margin-bottom: 0.4em;
    font-size: 16px;
    line-height: $line-height;
}
