// В этом файле должны быть стили для БЭМ-блока blog-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.blog-card {
    $block-name: &; // #{$block-name}__element

    color: currentColor;
    text-decoration: none;

    &__image {
        display: block;
        margin-bottom: 34px;
    }

    &__title {
        font-size: 24px;
        font-weight: 400;
        line-height: 26.4px;
        letter-spacing: -0.25px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: -0.1px;
    }

    @media (max-width: 1000px) {
        &__image {
            margin-bottom: 24px;
        }

        &__title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 4px;
        }
    }
}
