// В этом файле должны быть стили для БЭМ-блока about, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.about {
    $block-name: &; // #{$block-name}__element

    &__content {
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.1px;
        margin-bottom: 39px;
    }

    &__persons {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 32px 16px;
    }

    @media (max-width: 1000px) {
        &__content {
            display: block;
        }

        &__persons {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    @media (max-width: 500px) {
        &__persons {
            grid-template-columns: minmax(0, 1fr);
        }
    }
}

.about-person {
    &__image {
        position: relative;
        margin-bottom: 16px;

        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__title {
        line-height: 110%;
        font-size: 24px;
        margin-bottom: 8px;
    }

    &__name {
        font-weight: 700;
        line-height: 140%;
        letter-spacing: -0.1px;
        margin-bottom: 2px;
    }

    &__text {
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.1px;
    }

    @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;

        &__title {
            order: -1;
            font-size: 20px;
            margin-bottom: 6px;
        }

        &__image {
            margin-bottom: 16px;
        }

        &__name {
            font-weight: 700;
        }
    }
}