// В этом файле должны быть стили для БЭМ-блока product-gallery, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.product-gallery {
    $block-name: &; // #{$block-name}__element

    &--mobile {
        display: none;
    }

    &--desktop {
        width: 100%;

        .product-gallery__slides {
            display: flex;
            flex-wrap: wrap;
            margin-left: -5px;
            margin-right: -5px;
            gap: unset;
            font-size: 0;
            line-height: 0;
        }

        .product-gallery__slide {
            width: 50%;
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 8px;
            flex-grow: 0;
        }

        .swiper-pagination {
            display: block;
        }

        .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
            bottom: 20px;
        }
    }

    &__slides {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px 9px;
    }

    // .swiper-pagination {
    //     display: none;
    // }

    &__image {
        display: block;

        &--360 {
            width: 100%;
            height: 100%;
            cursor: grab;
        }
    }

    &__slide {
        position: relative;
    }

    &__labels {
        display: flex;
        justify-content: space-between;
        position: absolute;
        //bottom: 0;
        //left: 0;
        //right: 0;
        //padding: 12px;
        color: #8A9199;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.4;
        gap: 15px;

        left: 50%;
        padding: 0;
        bottom: 8px;
        transform: translateX(-50%);
        right: auto;
    }

    &__label {
        background: #8A9199;
        border-radius: 10px 10px 0 0;
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        padding: 5px 9px 3px;
        color: #fff;
        letter-spacing: -0.10000000149011612px;

        &--men {
            margin-left: auto;
        }

        &--women {
            margin-right: auto;
        }
    }

    &__works {
        position: relative;
        display: block;
    }

    &__works-text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(26, 26, 26, 0.5);
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: -0.1px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: underline;
    }

    @media (max-width: 1439px) {
        &--desktop {
            .product-gallery__slide {
                width: 100%;
            }
        }
    }

    @media (max-width: 1000px) {
        width: 100%;
        margin-bottom: 24px;

        &--desktop {
            display: none;
        }

        &--mobile {
            display: block;
        }

        &__slides {
            display: flex;
            gap: 0;
        }

        &__image {
            width: auto;
            //height: 330px;
            margin: auto;
        }

        &__labels {
            top: 0;
            bottom: auto;
            width: max-content;
            max-width: 100%;
        }

        &__label {
            border-radius: 0 0 10px 10px;
        }

        .swiper-pagination {
            display: flex;
            bottom: 16px;
            justify-content: center;
        }

        .swiper-pagination-bullet {
            width: 7px;
            height: 7px;
            border: 1px solid #B2B2B2;
            background: transparent;
            opacity: 1;
            margin: 0 3px;
        }

        .swiper-pagination-bullet-active {
            background: #B2B2B2;
        }
    }
}

.product-inner-gallery {
    width: 100%;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 3px 6px;
}

.swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    opacity: 1;
    border: 1px solid #b2b2b2;
    background-color: transparent;
}

.swiper-pagination-bullet-active {
    background-color: #b2b2b2;
}

.product-gallery-nav {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 2;
    width: 124px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
    line-height: 0;
    padding-left: 24px;
    padding-right: 24px;

    .swiper-pagination {
        position: static;
        margin-bottom: -6px;
    }

    &__prev,
    &__next {
        position: absolute;
        bottom: 0;
        width: 8px;
        height: 15px;
        margin-top: -8px;
    }

    .product-gallery-nav-btn {
        display: block;

        svg {
            width: 8px;
            height: 15px;
            stroke: #b2b2b2;
        }
    }

    &__prev {
        left: 0;
    }

    &__next {
        right: 0;
    }
}