-
  var categories = [
    {
      name: "Силовой кабель",
      img: "category-img-1.png",
      id: "power-cable",
      linksCol1: [
        "NUM",
        "ВВГЭнг(А)-FRLS",
        "ВВГнг(А)-LS",
        "КГВВнг(А)",
        "КГТП",
        "ППГнг(А)-FRHF",
        "ПвПГнг(А)-FRHF",
      ],
      linksCol2: [
        "NUMнг(А)-LS",
        "ВВГЭнг(А)-LS",
        "ВВГнг(А)-LSLTx",
        "КГВВнг(А)-LS",
        "КГТП-ХЛ",
        "ППГнг(А)-FRHF-ХЛ",
        "ПвПГнг(А)-HF",
      ],
      linksCol3: [
        "ВБШвнг(А)-FRLS",
        "ВВГнг(А)-FRLS",
        "КГ",
        "КГВВэнг(А)",
        "ППГЭнг(А)-FRHF",
        "ППГнг(А)-HF",
      ],
      linksCol4: [
        "ВБШвнг(А)-LS",
        "ВВГнг(А)-FRLSLTx",
        "КГ-ХЛ",
        "КГВВэнг(А)-LS",
        "ППГЭнг(А)-HF",
        "ППГнг(А)-HF-ХЛ",
      ]
    },
    {
      name: "Контрольный кабель",
      img: "category-img-2.png",
      id: "control-cable",
      linksCol1: [
        "КВБбШвнг(А) -LS",
        "КВВГнг(А)-FRLS",
        "КППГнг(А)-FRHF",
      ],
      linksCol2: [
        "КВБбШвнг(А)-FRLS",
        "КВВГнг(А)-LS",
        "КППГнг(А)-HF",
      ],
      linksCol3: [
        "КВВГЭнг(А)-FRLS",
        "КППГЭнг(А)-FRHF",
      ],
      linksCol4: [
        "КВВГЭнг(А)-LS",
        "КППГЭнг(А)-HF",
      ]
    },
    {
      name: "Провод",
      img: "category-img-3.png",
      id: "wire",
      linksCol1: [
        "ПВС",
      ],
      linksCol2: [
        "ПуГВнг(А)--LS",
      ],
      linksCol3: [
        "ПуГВ",
      ],
      linksCol4: [
        "ПуГВнг(А)--LS"
      ]
    }
  ];