// В этом файле должны быть стили для БЭМ-блока catalog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.catalog {

  $block-name:                &; // #{$block-name}__element
}

.catalog-category {
  background-color: $blue;
  background-image: url("../img/category-bg-pattern.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  clip-path: polygon(0 0,calc(100% - 87px) 0,100% 80px,100% 100%,100% 100%,0 100%,0 100%,0 0);
  color: #fff;;
  padding: 51px 480px 42px 59px;
  margin-top: 40px;
  position: relative;
  overflow: hidden;

  &:first-child {
    margin-top: 0;
  }

  &__name {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 29px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;

    &-icon {
      font-size: 0;
      line-height: 0;
      margin-left: 13px;
      display: inline-block;
      vertical-align: top;
      margin-top: 6px;
    }

    &-text {
      display: block;
    }

    &:focus {
      color: #fff;
    }

    .circle-link {
      &:hover {
        background-color: $orange;
      }
    }
  }

  &__img {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50px;
    right: 244px;
  }

  .circle-link {
    width: 36px;
    height: 36px;
    line-height: 18px;
    padding: 9px;
    background-color: #fff;

    .icon {
      width: 18px;
      height: 18px;
      fill: $orange;
      transform: rotate(-90deg);
    }

    &:hover {
      background-color: #fff;

      .icon {
        fill: $orange;
      }
    }
  }
}

.category-nav {
  .row {
    margin-left: -20px;
    margin-right: -20px;
  }
  
  .col {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__item {
    margin-bottom: 12px;
  }

  &__link {
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
  }
}

@media (max-width: $screen-xl - 1) {
  .catalog-category {
    padding: 23px 45px 15px 25px;
    clip-path: polygon(0 0,calc(100% - 30px) 0,100% 25px,100% 100%,100% 100%,0 100%,0 100%,0 0);
    background-image: unset;
    margin-top: 20px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 3;
      background-color: $blue;
      opacity: 0.85;
    }

    &__name {
      font-size: 24px;
      line-height: 32px;
      position: relative;
      z-index: 4;
      margin-right: -25px;
      margin-bottom: 17px;

      &-icon {
        margin-left: 7px;
        margin-top: 5px;
      }
    }

    &__img {
      right: -27px;
      bottom: auto;
      top: 30px;
      z-index: 2;
    }

    .circle-link {
      width: 22px;
      height: 22px;
      line-height: 0;
      padding: 5px;
      
      .icon {
        width: 12px;
        height: 12px;
      }
    }
  } 

  .category-nav {
    position: relative;
    z-index: 4;

    .row {
      margin-left: -18px;
      margin-right: -17px;
      column-count: 2;
      column-gap: 0;
      display: block;
    }

    .col {
      padding-left: 18px;
      padding-right: 17px;
      max-width: 100%;
      flex: 0 0 100%;
      width: 100%;
    }

    &__item {
      margin-bottom: 8px;
    }

    &__link {
      font-size: 14px;
      line-height: 20px;
    }
  }
}