// В этом файле должны быть стили для БЭМ-блока field-group, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.field-group {

    $block-name: &; // #{$block-name}__element

    margin-bottom: 40px;
}
