-
  var posts = [
    {
      date: "11.10.2024",
      title: "Приглашение на 42-й Форум ЭТМ по электротехнике и инженерным системам!",
      intro: "Уважаемые коллеги! Кабельный завод \"Конкорд\" с радостью приглашает вас принять участие в 42-м Форуме ЭТМ",
      img: "news-img-1.jpg"
    },
    {
      date: "11.09.2024",
      title: "Поздравляем с Днем Рождения коллектив завода!",
      intro: "6 июня 2024 г. коллектив кабельного завода встретил знаменательное событие — Конкорду исполнилось 33 года!",
      img: "news-img-2.jpg"
    },
    {
      date: "29.08.2024",
      title: "Кабельный завод \"Конкорд\" прошел аккредитацию Минпромторга!",
      intro: "Кабельный завод Конкорд получил аккредитацию Минпромторга! ",
      img: "news-img-3.jpg"
    },
    {
      date: "29.08.2024",
      title: "Обновление визуального стиля \"Конкорд\"",
      intro: "Уважаемые клиенты, партнеры, дилеры нашей компании!",
      img: "news-img-4.jpg"
    },
    {
      date: "23.08.2024",
      title: "\"Конкорд\" примет участие в Форуме ЭТМ в Сколково",
      intro: "19 сентября 2024 г. кабельный завод Конкорд примет участие в крупнейшем  отраслевом мероприятии по инженерным системам — Форуме ЭТМ",
      img: "news-img-5.jpg"
    },
    {
      date: "29.08.2024",
      title: "38-й Форум инженерных систем ЭТМ прошел 18 мая в Санкт-Петербурге",
      intro: "18 мая Форум инженерных систем ЭТМ собрал 140 брендов и рассказал о лучших практиках",
      img: "news-img-6.jpg"
    }
  ];