// В этом файле должны быть стили для БЭМ-блока news-single, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.news-single {

  $block-name:                &; // #{$block-name}__element

  .breadcrumbs {
    margin-bottom: 20px;
  }
}


.hero-article {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  position: relative;

  &::after {
    content: '';
    display: block;
    background-color: #3B61A5;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &__wrapper {
    position: relative;
    z-index: 2;
    padding-top: 49px;
    padding-bottom: 49px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    padding-left: 140px;
    padding-right: 140px;
    min-height: 314px;
  }

  &__date {
    font-weight: 400;
    margin-bottom: 18px;
  }

  &__title {
    text-transform: uppercase;

    h1 {
      margin: 0;
    }
  }
}

.article {
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 54px;
  padding-bottom: 99px;
  background-color: #fff;

  font-size: 16px;
  line-height: 22px;

  p:first-child {
    font-size: 20px;
    line-height: 28px;
  }

  h2 {
    font-size: 30px;
    line-height: 1.2em;
    margin-top: 60px;
    margin-bottom: 21px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.other-news {
  padding-top: 87px;
  padding-bottom: 100px;

  .section-title {
    text-align: left;
    margin-bottom: 31px;
  }
  
  .news-listing-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    &__in {
      min-height: unset;
      width: 100%;
      flex-grow: 1;
      padding-top: 21px;
    }

    &__text {
      margin-top: 13px;
    }

    &__detail-link {
      padding-top: 37px;
    }
  }

  .swiper-slide {
    height: auto;
  }
}

@media (min-width: $screen-xl) {
  .other-news {
    .news-slider {
      .swiper-wrapper {
        align-items: stretch;
      }

      .swiper-slide {
        height: auto;
      }

      .news-listing-card {
        height: 100%;
      }
    }
  }
}

@media (max-width: $screen-xl - 1) {
  .hero-article {
    margin-left: -15px;
    margin-right: -15px;

    &__wrapper {
      padding: 37px 15px 37px;
      min-height: 282px;
    }

    &__date {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 5px;
    }

    &__title {
      h1 {
        font-size: 30px;
        line-height: 1.2em;
      }
    }
  }

  .article {
    padding: 38px 15px 30px;
    margin-left: -15px;
    margin-right: -15px;

    p {
      &:first-child {
        font-size: 18px;
        line-height: 26px;
      }
    }

    h2 {
      font-size: 26px;
      line-height: 32px;
      margin-top: 31px;
      margin-bottom: 17px;
    }
  }

  .other-news {
    padding-top: 53px;
    padding-bottom: 60px;

    .section-title {
      font-size: 30px;
      line-height: 1.2em;
      margin-bottom: 22px;
    }

    .news-listing-card {
      &__in {
        // min-height: 343px;
        width: 100%;
      }
    }
  }

  .news-single {
    &--policy {
      h1 {
        font-size: 30px;
        line-height: 1.2em;
      }
    }

    .article {
      h2 {
        font-size: 20px;
        line-height: 1.2em;
      }
    }
  }
}