//- Consult

.consult.blue-gray-theme
	.container
		.wrapper
			.consult__l
				.consult-content
					.consult-img
						img(src="src/img/icons/time.png" draggable="false" alt="")/
					.consult-title.h2 Сократите затраты#[br]на подбор финансового персонала.
					span.consult-subtitle Не теряйте деньги из-за отсутствия сотрудника
			.consult__r.text-center
				a.btn.btn-outline.btn-outline-transparent.btn-block.consult-link(href="javascript:void(0);") Получить консультацию