//- Employers base

.employers-base.section-with-border
	.section-content
		.container
			.row
				.employers-base__l
					img(src="upload/employers/base/img_l.png" draggable="false" alt="")/
					.employers-base__content.h4.
						Привлечение ресурсов агентства позволяет 
						службе персонала сократить время закрытия 
						#[b вакансии в 2 раза и выполнить план по закрытиям]
				.employers-base__r
					img(src="upload/employers/base/img_r.png" draggable="false" alt="")/