//- Funnel selection

.funnel-selection
	.container
		.funnel-selection__top.text-center
			.section-header
				.funnel-selection__title.h1 Эффективная воронка подбора
			img(src="upload/employers/funnel/icon.png" draggable="false" alt="")/
			.funnel-selection__num 140 000
			p.funnel-selection__descr Входящие резюме. База Данных
		.funnel-selection__bottom
			.funnel-selection__circle-outer
				.funnel-selection__circle
			.section-content
				.funnel-selection__bottom-in
					.funnel-selection__circle-outer
						.funnel-selection__circle
					.row
						.col-md-6
							.funnel-selection__bottom-img
								img(src="upload/employers/funnel/img.png" draggable="false" alt="")/
						.col-md-6
							.funnel-selection__bottom-content
								.funnel-selection__num 100
								p.funnel-selection__descr.
									Отбор входящих резюме.#[br]
									Релевантная выборка.