//- Industry section

.industry-section.text-center
	.container
		.section-content
			ul.industry-section-list.wrapper
				each item in industry_section_items
					li.industry-section-item
						.industry-section-item__circle
						.industry-section-item__wrapp.valign-wrapper
							span.industry-section-item__text #{item}
			.industry-section__subtitle.h2 Обращайтесь в кадровое агентство КАУС