//- Recruitment

.recruitment.blue-gray-theme
	.container
		.wrapper
			.recruitment__l
				.recruitment-content
					.recruitment-img
						img(src="src/img/icons/check-circle.png" draggable="false" alt="")/
					.recruitment-title.
						Сотрудничая с кадровым агентством,#[br] 
						вы сокращаете время на подбор 
						финансового персонала и исключаете 
						ошибки, связанные с оценкой кандидатов.
					span.recruitment-subtitle Не теряйте деньги из-за отсутствия сотрудника
			.recruitment__r.text-center
				a.btn.btn-outline.btn-outline-transparent.btn-block(href="javascript:void(0);") Заказать подбор