//- Recruitment block

.recruitment-block.blue-gray-theme
	.container
		.wrapper
			.recruitment-block__l
				.recruitment-block__title.h2 !{recruitment_title}
			.recruitment-block__r
				span.recruitment-block__descr.
					Если сотрудник не подойдет, мы бесплатно найдем
					Вам другого специалиста в качестве замены
				a.btn.btn-wide.btn-outline.btn-outline-transparent(href="javascript:void(0);") Подобрать специалиста