//- Section with header
.section-with-header
	.section-content
		.container
			.wrapper
				.section-with-header__l
					.section-with-header__title.section-header__title.annotation.
						Найдем проактивных 
						сотрудников для вашего 
						бизнеса!
				.section-with-header__r
					p.section-with-header__descr.
						12 лучших опытных консультантов нашего кадрового агентства раз и навсегда решат 
						Вашу проблему. Мы ценим своих клиентов и готовы всегда им помогать во всем!
					a.btn.btn-lg.btn-outline.btn-outline-transparent(href="javascript:void(0);") Получить консультацию