-
  var rightColLinks = [
    {
      title: "Наличие и распродажи",
      descr: "Актуальные, обновляемые ежедневно данные о наличии продукции",
      url: "documents-availability.html",
      icon: "docs-availability"
    },
    {
      title: "Сертификаты",
      descr: "Сертификаты на продукцию, ОКЛ и прочие",
      url: "documents-certificates.html",
      icon: "docs-certificates"
    },
    {
      title: "СОУТ",
      descr: "Специальная оценка условий труда",
      url: "documents-sout.html",
      icon: "docs-sout"
    }
  ];

  var mainLinks = [
    {
      name: "Каталог",
      meta: "PDF, 134.55 KB",
      url: "#"
    },
    {
      name: "Договор поставки",
      meta: "PDF, 134.55 KB",
      url: "#"
    }
  ];

  var availabilityLinks = [
    {
      name: "Товары в наличии <span>(iso-8859-1)</span>",
      meta: "XLS, 134 KB",
      url: "#"
    },
    {
      name: "Товары в наличии <span>(UTF-8)</span>",
      meta: "XLS, 134.55 KB",
      url: "#"
    }
  ];

  var saleLinks = [
    {
      name: "Распродажа (iso-8859-1)",
      meta: "XLS, 134 KB",
      url: "#"
    },
    {
      name: "Распродажа (UTF-8)",
      meta: "XLS, 134.55 KB",
      url: "#"
    }
  ];

  var soutLinksCol1 = [
    {
      name: "СОУТ 2023",
      meta: "PDF, 134 KB",
      url: "#"
    },
    {
      name: "СОУТ 2022",
      meta: "PDF, 134 KB",
      url: "#"
    },
    {
      name: "СОУТ 2021",
      meta: "PDF, 134 KB",
      url: "#"
    },
    {
      name: "СОУТ 2020",
      meta: "PDF, 134 KB",
      url: "#"
    }
  ];

  var soutLinksCol2 = [
    {
      name: "СОУТ 2019",
      meta: "PDF, 134 KB",
      url: "#"
    },
    {
      name: "СОУТ 2018",
      meta: "PDF, 134 KB",
      url: "#"
    },
    {
      name: "СОУТ 2017",
      meta: "PDF, 134 KB",
      url: "#"
    },
    {
      name: "СОУТ 2016",
      meta: "PDF, 134 KB",
      url: "#"
    }
  ];

  var certsList = [
    "ОКЛ совместно с МЕКА",
    "ОКЛ совместно с ЕКА",
    "ОКЛ совместно с DKC",
    "ОКЛ совместно с КМ-профиль",
    "ОКЛ совместно с Промрукав",
    "ОКЛ совместно с ЕКF",
    "ОКЛ совместно с Аврора",
    "ОКЛ совместно с OSTEC",
    "ОКЛ совместно с ОБО Беттерманн",
    "ОКЛ совместно с \"ТехноЛайт\""
  ]

  var certsListISO = [
    "ИСО"
  ];