// В этом файле должны быть стили для БЭМ-блока faq, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.faq {
    $block-name: &; // #{$block-name}__element

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
        gap: 0;
    }
}

.faq-item {
    border-bottom: 1px solid #1A1A1A;
    padding: 16px 0;

    &:first-child, &:nth-child(2) {
        border-top: 1px solid #1A1A1A;
    }

    &__title {
        line-height: 110%;
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 32px;
        letter-spacing: -0.25px;
    }

    &__text {
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.1px;

        :last-child {
            margin-bottom: 0;
        }
    }

    @media (max-width: 1000px) {
        &:nth-child(2) {
            border-top: 0;
        }

        &__title {
            font-size: 18px;
            line-height: 21px;
        }
    }
}


.faq-consult {
    margin: 64px 0 16px;

    &__title {
        font-size: 32px;
        line-height: 35.2px;
        letter-spacing: -0.25px;
        text-align: center;
        margin-bottom: 48px;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 16px;

        .btn {
            width: 362px;
            max-width: 100%;
        }
    }

    @media (max-width: 1000px) {
        margin: 32px 0 8px;

        &__title {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 24px;
        }

        &__buttons {
            flex-direction: column;
            align-items: center;
        }
    }
}