// В этом файле должны быть стили для БЭМ-блока catalog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.catalog {
    $block-name: &; // #{$block-name}__element

    &__mobile-heading {
        display: none;
    }

    &__header {
        position: relative;
        margin-bottom: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &.sticky {
            position: fixed;
            width: 1526px;
            max-width: 100%;
            box-sizing: border-box;
            left: 50%;
            transform: translateX(-50%);
            top: 72px;
            z-index: 20;
            background: white;
            padding: 28px 15px 32px;
            animation: showCatalogHeader;
            animation-duration: 0.4s;
            animation-fill-mode: both;

            @keyframes showCatalogHeader {
                0% {transform: translate3d(-50%,-100%,0)}
                to {transform: translate3d(-50%, 0, 0)}
            }

            .catalog-filter-button {
                margin: 0;
            }

            .catalog-filter {
                margin: 32px 0 0;
            }

            .catalog-results {
                max-width: calc(100% - 420px);
                position: absolute;
                //top: 54px;
                top: 28px;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;

                &__filters {
                    // display: none;
                }
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 40px 16px;
        margin-bottom: 128px;
    }

    &__description {
        padding: 64px 0 96px;
        background: #F9F9F9;
        margin-bottom: 96px;
    }

    &__description-container {
        gap: 16px;
        columns: 2;

        .lang-ru & {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;

            &.container {
                width: 1148px;
            }
        }
    }

    &__faq {
        width: 900px!important;
        background: #C1C1C1;
        color: #fff;
        padding: 64px 80px;
        margin: 96px 0;

        &.container {
            padding-left: 80px;
            padding-right: 80px;
        }
    }

    &__faq-title {
        font-family: Quasimoda;
        font-size: 36px;
        font-weight: 400;
        line-height: 25px;
        text-transform: uppercase;
        margin-bottom: 48px;
    }

    &__also {
        margin-bottom: 96px;
    }

    &__also-container {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        //columns: 4;
        gap: 16px;
        //display: flex;
        //flex-wrap: wrap;
        //justify-content: flex-start;
        //align-items: flex-start;
        width: 100%;
    }

    @media (max-width: 1000px) {
        &__mobile-heading {
            display: block;
            font-weight: 500;
            font-size: 34px;
            line-height: 100%;
            margin-bottom: 32px;
            text-transform: uppercase;
            letter-spacing: -0.1px;

            .lang-ru & {
                font-family: Quasimoda;
                font-size: 26px;
                font-weight: 400;
                line-height: 31px;
            }
        }

        &__header {
            margin-bottom: 16px;
            gap: 8px;
            display: grid;
            grid-template-columns: 1fr 1fr;

            .catalog-results {
                display: none;
            }

            &.sticky {
                top: 56px;
                padding: 16px 15px;
                width: 100%;

                .filter-opened & {
                    position: unset;
                    transform: none;
                    animation-fill-mode: unset;
                }
            }
        }

        &__list {
            grid-template-columns: repeat(2,minmax(0,1fr));
            gap: 24px 8px;
            margin-left: -7px;
            margin-right: -7px;
            margin-bottom: 70px;
        }

        &__description {
            margin-bottom: 64px;
            padding: 48px 0;
        }

        &__description-container {
            columns: 1;

            .lang-ru & {
                flex-direction: column;
            }
        }

        &__faq {
            margin: 80px 0;
        }

        &__faq-title {
            font-size: 26px;
            line-height: 31px;
            margin-bottom: 32px;
        }

        &__also {
            margin-bottom: 64px;
        }

        &__also-container {
            //columns: 1;
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
}

.catalog-results {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    max-width: 100%;
    text-align: center;
    margin-top: 32px;

    &__filters {
        display: contents;
    }

    &__count {
        display: inline-block;
        vertical-align: middle;
        flex: none;
    }

    &__count {
        position: relative;

        .catalog.loading &:after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 50%;
            margin-top: -9px;
            width: 15px;
            margin-left: 10px;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 1px solid currentColor;
            animation:
                l20-1 0.8s infinite linear alternate,
                l20-2 1.6s infinite linear;
        }
    }
}

@keyframes l20-1{
    0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
    12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
    25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
    50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
    75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
    100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
}

.catalog-filter.active + .catalog-results {
    margin-top: 0;
}

.catalog-results-filter {
    margin-right: 20px;
    letter-spacing: -0.1px;
    display: inline-flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 5px;

    &__remove {
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 3.5L3.5 10.5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.5 3.5L10.5 10.5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        width: 14px;
        height: 14px;
        display: inline-block;
        cursor: pointer;
    }
}

.catalog-banner-product {
    grid-column: span 2;
    position: relative;

    &__image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        color: white;
        text-align: center;
        width: 360px;
    }

    &__title {
        font-family: Quasimoda;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 9px;
    }

    &__text {
        font-size: 14px;
        line-height: 19.6px;
        margin-bottom: 31px;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-decoration: none;
        width: 260px;
        max-width: 100%;
        height: 40px;
        margin: 0 auto;
        border: 1px solid #fff;
        transition: .3s all;

        &:hover, &:focus {
            border-color: #000;
            background: #000;
            text-decoration: none;
            color: #fff;
        }
    }

    &--even &__content {
        left: auto;
        right: 20px;
    }

    @media (max-width: 1000px) {
        &__content {
            width: 175px;
        }

        &__title {
            font-size: 16px;
            line-height: 19.2px;
        }

        &__text {
            font-size: 10px;
            line-height: 14px;
            margin-bottom: 0;
        }

        &__button {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
        }
    }
}

.catalog-description-block {
    $block-name: &; // #{$block-name}__element

    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 110%;
        margin-bottom: 16px;
        text-transform: uppercase;
    }

    &:last-child &__title {
        margin-right: calc((min(1148px, 100vw) - min(1526px, 100vw)) / 2);
        padding-right: 15px;
    }

    &__content {
        columns: 2;
        gap: 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: -0.1px;
    }

    .lang-ru & {
        flex: 0 1 362px;

        &--wide {
            flex-grow: 2;

            #{$block-name}__content {
                columns: 2;
            }
        }

        &__content {
            columns: 1;
        }
    }

    @media (max-width: 1000px) {
        margin-bottom: 32px;

        &__title {
            font-size: 20px;
            line-height: 120%;
        }

        &__content {
            columns: 1;

            :last-child {
                margin-bottom: 0;
            }
        }

        .lang-ru & {
            min-width: unset;

            &--wide {
                #{$block-name}__content {
                    columns: 1;
                }
            }
        }
    }
}

.catalog-also-block {
    //width: 362px;

    &__image {
        margin-bottom: 32px;
        display: block;
    }

    &__title {
        font-weight: 400;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 110%;
        margin-bottom: 8px;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
    }

    @media (max-width: 1526px) {
        //width: calc(50% - 8px);
    }

    @media (max-width: 1000px) {
        width: 100%;
        margin-bottom: 48px;

        &:last-child {margin: 0;}

        &__image {
            margin-bottom: 16px;
        }

        &__title {
            font-size: 20px;
            line-height: 120%;
            margin-bottom: 6px;
        }
    }
}