//- Все примеси в этом файле должны начинаться c имени блока (system)

mixin system(text, mods)

    //- Принимает:
    //-   text    {string} - текст
    //-   mods    {string} - список модификаторов
    //- Вызов:
          +system('Текст', 'some-mod')

    -
        // список модификаторов
        var allMods = '';
        if (typeof (mods) !== 'undefined' && mods) {
            var modsList = mods.split(',');
            for (var i = 0; i < modsList.length; i++) {
                allMods = allMods + ' system--' + modsList[i].trim();
            }
        }

    .system(class=allMods)&attributes(attributes)
        .system__item
            .system__title 1C — CARAT — Вес в каратах
            p Часто, когда люди слышат термин «вес в каратах», они думают, что это относится к размеру бриллианта. На самом деле речь идет о весе бриллианта. Бриллиант весом в 1 карат равен 200 миллиграммам или 0,2 гр. В зависимости от формы бриллианта и способа его огранки, два бриллианта весом в 1 карат могут быть совершенно разными по размеру.

        .system__item
            .system__title Рекомендации по выбору каратности
            .row
                .col
                    ul
                        li Если для Вас важен большой вес в каратах, но вы работаете в рамках строгого бюджета, рассмотрите бриллиант с хорошей огранкой, чистотой SI1-SI2 и цветом I, J.
                .col
                    ul
                        li Старайтесь всегда покупать бриллианты с каратностью ниже целых и пол каратных величин. Например, вместо 1,0-каратного бриллианта рассмотрите возможность покупки весом 0,9 карата. Это сэкономит значительную сумму денег, и небольшая разница в размере никогда не будет заметна.

        .system__item
            .system__title 2С — COLOR — Цвет
            p Цвет бриллианта второй по важности фактор. Бриллианты бывают разных цветов, некоторые из них высоко ценятся (розовые, голубые, желтые, зеленые и даже красные). Однако, в белом бриллианте наличие желтого оттенка приведет к снижению цены на камень. Система цветовой градации бриллиантов варьируется от D (бесцветный) до Z (заметный коричневый оттенок).

        .system__item
            .system__title Рекомендации по выбору цвета
            ul
                li Наилучший выбор цена/качество - это цвет G и H. Бриллиант на глаз выглядит бесцветным, но при этом значительно дешевле, чем цвет D.
                img(src="img/colors.jpg")

        .system__item
            .system__title 3С — CLARITY — Чистота
            p Чистота оценивается по 6 категориям, некоторые из которых разделены, что в общей сложности составляет 11 конкретных оценок:
            .row
                .col
                    ul
                        li Безупречный (FL). Нет включений и пятен, видимых при 10-кратном увеличении
                        li Внутренне безупречный (IF). Нет видимых включений при 10-кратном увеличении
                        li Очень-очень слабые включения (VVS1 и VVS2). Включения настолько малы, что квалифицированному гемологу трудно их увидеть при 10-кратном увеличении.
                .col
                    ul
                        li Легкие включения (VS1 и VS2). Включения наблюдаются с усилием при 10-кратном увеличении, но могут быть охарактеризованы, как незначительные.
                        li Включения (SI1 и SI2). Включения заметны при 10-кратном увеличении.
                        li Видимые включения (I1 , I2 и I3). Включения очевидны при 10-кратном увеличении, что может повлиять на прозрачность и яркость.

        .system__item
            .system__title Рекомендации по выбору чистоты
            .row
                .col
                    ul
                        li Наша основная рекомендация состоит в том, чтобы бриллиант был чист на глаз
                .col
                    ul
                        li Наилучший выбор цена/качество – это чистота VS1 и VS2.
            img(src="img/clearness.jpg")

        .system__item
            .system__title 4С — CUT — Огранка
            p Красота бриллианта зависит скорее от огранки, чем от любого другого фактора. Огранка имеет три основных влияния на внешний вид: блеск (яркость, созданная сочетанием всех отражений белого света от внутренних граней бриллианта), огонь (рассеивание света в цвета видимого спектра) и мерцание (вспышки блеска, когда движется бриллиант или источник света). Существует пять классов качества огранки бриллиантов:
            .row
                .col
                    ul
                        li Плохой(Poor)/Сносный(Fair). Такие бриллианты имеют очень плохие пропорции и смотрятся очень скучно.  Большая часть света, попадающего в бриллиант, выходит со сторон или снизу, уменьшая воспринимаемый блеск. В результате чего почти не «играют».
                        li Хороший(Good). Бриллианты отражают  достаточное количество света.
                .col
                    ul
                        li Очень хороший(Very Good). Бриллианты отражают большую часть света, создавая превосходный блеск. При нормальном освещении выглядит очень похоже на Excellent, но может быть немного темнее в центре или по краям.
                        li Превосходный(Excellent). Максимальный огонь и блеск. Отражает почти весь входящий свет, создавая исключительную «игру» и блеск.

        .system__item
            .system__title Рекомендации по выбору огранки
            .row
                .col
                    ul
                        li Всегда обращайте внимание на качество огранки бриллианта.
                        li Наилучший выбор цена/качество это Good и Very Good.
                .col
                    ul
                        li Чтобы Вам не говорили, никогда не выбирайте бриллиант с огранкой Poor. Он будет всегда безжизненным и тусклым.
            img(src="img/shapes.png")