// В этом файле должны быть стили для БЭМ-блока field-checkbox, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.field-checkbox {

  $block-name: &; // #{$block-name}__element

  display: block;
  margin-bottom: $field-margin-vertical;
  text-align: left;

  &__title {
    @include field-name;
  }

  &__input-wrap {

    & + & {
      margin-top: $field-margin-vertical;
    }

    &--error {

      #{$block-name}__name-text,
      #{$block-name}__help-text {
        color: $color-danger;
      }
    }
  }

  &__name {
    display: inline-block;
    position: relative;
    font-weight: 400;
    line-height: $line-height;
  }

  &__name-text {
    font-size: 16px;
    line-height: 19px;
    position: relative;
    display: block;
    padding-bottom: 4px;
    padding-top: 7px;
    padding-left: 40px;

    a {
      color: hsla(78, 75%, 41%, 1);
      text-decoration: underline;

      &:hover, &:focus {
        color: hsla(78, 75%, 41%, 1);
        text-decoration: none;
      }
    }

    &:before {
      content: '';
      display: block;
      width: 25px;
      height: 25px;
      border: 2px solid #e7e7e9;
      border-radius: 4px;
      position: absolute;
      top: 4px;
      left: 2px;
    }

    &:after {
      content: '';
      display: none;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50.1 38'%3E%3Cpath fill='%230479e5' d='M47,0c-0.8,0-1.5,0.4-2.1,0.9L16.1,30.8L5.3,19.9c-1.1-1.2-3-1.4-4.2-0.3c-1.2,1.1-1.4,3-0.3,4.2 C0.8,24,0.9,24,1,24.1l13,13c1.2,1.2,3.1,1.2,4.2,0c0,0,0,0,0,0l31-32c1.2-1.2,1.1-3.1-0.1-4.2C48.7,0.3,47.9,0,47,0'/%3E%3C/svg%3E%0A");
      width: 15px;
      height: 11px;
      background-size: 100% 100%;
      position: absolute;
      top: 11px;
      left: 7px;
    }

    @at-root input:checked ~ &:after {
      display: block;
    }

    @at-root input:disabled ~ & {
      cursor: not-allowed;
    }
  }

  &__input {
    position: absolute;
    visibility: hidden;
    pointer-events: none;

    &:focus,
    &:active {
      @include field-focus;
    }

    // сокрытие инпута в случае использования своего чекбокса
    opacity: 0;
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }

  @media (max-width: $screen-md - 1) {
    margin-bottom: 18px;

    &__name-text {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
