// В этом файле должны быть стили для БЭМ-блока hero-image, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.hero-image {

  $block-name:                &; // #{$block-name}__element

  font-size: 0;
  line-height: 0;
  padding-bottom: 54px;
}

@media (max-width: $screen-xl - 1) {
  .hero-image {
    padding-bottom: 20px;
  }
}