<div class="promo-section">
	<div class="container">
		<div class="promo-top">
		<div class="promo-slider-outer">
			<div class="promo-slider">
				<VueSlickCarousel v-bind="settings">
					<div class="promo-slide" v-for="(slide, idx) in slides" :key="'service-slide-' + idx" v-bind:slide="slide">
						<div class="promo-slide__in">
						<div class="promo-slide__text">
							<div class="promo-slide__label">{{ slide.label }}</div>
							<div class="promo-slide__title h1" v-html="slide.title"></div>
							<div class="promo-slide__tags">{{ slide.tags }}</div>
						</div>
						<div class="promo-slide__image"><img src="/img/services-slider/delivery.png" alt="Курьерская доставка вашего груза"></div>
						</div>
					</div>
				</VueSlickCarousel>				
			</div>
			<!--div class="nav-arrows"><a class="nav-arrow prev" href="javascript:void(0);"></a><a class="nav-arrow next" href="javascript:void(0);"></a></div-->
		</div>
		<div class="promo-product-of-the-day">
			<Product :product="product_of_the_day"></Product>
		</div>
		</div>
		<div class="promo-cards">
		<div class="promo-cards__in">
			<div class="promo-card"><a class="promo-card__in" href="javascript:void(0);"><img src="/img/services-slider/promo1.jpg" alt=""></a></div>
			<div class="promo-card"><a class="promo-card__in" href="javascript:void(0);"><img src="/img/services-slider/promo2.jpg" alt=""></a></div>
			<div class="promo-card"><a class="promo-card__in" href="javascript:void(0);"><img src="/img/services-slider/promo3.jpg" alt=""></a></div>
			<div class="promo-card"><a class="promo-card__in" href="javascript:void(0);"><img src="/img/services-slider/promo4.jpg" alt=""></a></div>
		</div>
		</div>
	</div>
</div>