// В этом файле должны быть стили для БЭМ-блока product-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.product-card2 {
    $block-name: &; // #{$block-name}__element

    position: relative;
    min-height: 408px;

    &__slider {
        position: relative;
        margin-bottom: 12px;

        .swiper-pagination {
            display: none;
            bottom: 15px;

            .swiper-pagination-bullet {
                width: 8px;
                height: 8px;
                border: 1px solid #000;
                background: none;
                opacity: 1;
            }

            .swiper-pagination-bullet-active {
                background: #000;
            }
        }

        .swiper-button-prev, .swiper-button-next {
            display: none;
            position: absolute;
            bottom: 15px;
            top: unset;
            margin: 0;
            left: 18px;
            width: auto;
            height: auto;

            &:before, &:after {
                background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1L1 9L9 17' stroke='%231A1A1A' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                font-size: 0;
                width: 10px;
                height: 18px;
                display: block;
                background-size: 100% 100%;
            }
        }

        .swiper-button-next {
            left: unset;
            right: 18px;

            &:after {
                transform: scaleX(-1);
            }
        }
    }

    &__image {
        padding-top: 100%;

        img {
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        padding: 0 18px;
    }

    &__heading-title {
        &, &:hover, &:focus {
            color: #1a1a1a;
            text-decoration: none;
        }
    }

    &__heading-carat {
        display: none;
        margin: 0 5px;
    }

    &__info {
        display: none;
        flex-wrap: wrap;
        padding: 0 18px 32px;
        justify-content: space-between;
        margin-top: 16px;
        align-items: flex-end;
    }

    &__button {
        margin-top: 32px;
        width: 100%;
        flex: none;
    }

    &__props {
        .swiper-button-prev, .swiper-button-next {
            top: 50%;
            margin-top: -9px;
            width: 10px;
            height: 18px;

            &:after {
                width: 100%;
                height: 100%;
                font-size: 0;
                background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17.4688L9 9.46875L0.999999 1.46875' stroke='%231A1A1A' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-size: 100%;
            }
        }

        .swiper-button-prev {
            left: 0;
            transform: scaleX(-1);
        }

        .swiper-button-next {
            right: 0;
        }
    }

    &__prop {
        text-align: center;
    }

    &__likes {
        cursor: pointer;
        position: absolute;
        right: 17px;
        bottom: 21px;
        z-index: 1;
        display: none;

        svg {
            fill: none;
        }

        &--in {
            color: #1a1a1a;

            svg {
                fill: #1a1a1a;
            }
        }

        &:hover, &:focus {
            color: #1a1a1a;
        }

        &:hover {
            svg {
                fill: #1a1a1a;
            }
        }
    }

    &__colors {
        gap: 16px;
        position: absolute;
        bottom: 24px;
        left: 18px;
        z-index: 1;
        display: none;
    }

    &__color {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        cursor: pointer;

        &--white {
            background: #E7E9EB;
        }

        &--yellow {
            background: #D6AF5E;
        }

        &--pink {
            background: #DDAE81;
        }

        &--combined {
            background: transparent url("../img/product-card-color-combined.svg") no-repeat 0 0;
            background-size: contain;
        }
    }

    &:hover {
        /*padding-top: 112.5939226519337%;        */
    }

    &:hover &__inner {
        outline: 1px solid #1A1A1A;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
    }

    &:hover &__slider {
        .swiper-button-prev, .swiper-button-next {
            display: block;
        }
    }

    &:hover &__info {
        display: flex;
    }

    /*&:hover &__likes {
        display: block;
    }*/

    &:hover &__colors {
        display: flex;
    }

    @media (max-width: 1440px) {
        min-height: 390px;
    }

    @media (max-width: 1366px) {
        min-height: 264px;
    }

    @media (min-width: 1000px) and (max-width: 1500px) {
        &__heading-price {
            white-space: nowrap;
        }
    }

    @media (max-width: 1000px) {
        min-height: unset;

        &__slider {
            position: static;
            margin-bottom: 8px;

            .swiper-pagination {
                display: flex;
                justify-content: center;
                line-height: 0;
                height: 0;

                position: relative;
                bottom: 0px;
                margin-top: -18px;
                margin-bottom: 18px;

                .swiper-pagination-bullet {
                    width: 6px;
                    height: 6px;
                    border: 1px solid #8A9199;
                    margin: 0 3px;
                }

                .swiper-pagination-bullet-active {
                    background: #8A9199;
                }
            }

            &--mobile {
                display: block!important;
            }

            &--desktop {
                display: none!important;
            }
        }

        &__inner {
            padding-bottom: 34px;
        }

        &__heading {
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 12px;
        }

        &__heading-title {
            margin-bottom: 4px;
        }

        &__heading-carat:not(:empty) {
            display: inline;
        }

        &__heading-price {
            font-weight: 400;
        }

        &__info {
            display: none;
            //display: block;
        }

        &__props {
            display: none;
        }

        &__likes {
            display: flex;
            justify-content: center;
            bottom: 0;
            left: 50%;
            right: auto;
            transform: translateX(-50%);
        }

        &__button {
            /*display: none;*/
            display: block;
            margin-top: 0;
        }

        &:hover {
            padding-top: 0;
        }

        &:hover &__inner {
            outline: none;
            position: static;
        }

        &:hover &__slider .swiper-button-prev,
        &:hover &__slider .swiper-button-next,
        &:hover &__colors
        //&:hover &__info,
        {
            display: none;
        }

        &:hover &__info {
            display: none;
        }
    }
}
