// В этом файле должны быть стили для БЭМ-блока contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.contacts {

  $block-name:                &; // #{$block-name}__element
}

.contacts-main {
  padding-bottom: 100px;
}

.requisites {
  .section-title {
    text-align: left;
    margin-bottom: 28px;
  }
}

.requisites-table {
  .row {
    align-items: stretch;
  }
}

.requisites-card {
  height: 100%;
  background-color: #F5F5F5;
  padding: 29px 34px 18px;
  font-size: 16px;
  line-height: 22px;

  &__title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 0.5em;
  }
}

.requisites-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  border-bottom: 1px solid #e1e1e1;
  padding: 12px 0 11px;

  &__caption {
    color: #7E7E7E;
  }

  &__value {
    max-width: 226px;
    text-align: right;
  }

  &:last-child {
    border-bottom: none;
  }
}

.contacts-group-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 25px;

  &__icon {
    font-size: 0;
    line-height: 0;
    margin-right: 11px;
    height: 35px;
  }
}

.contacts-content {
  width: 100%;
  overflow: hidden;
  padding: 0 0 31px;

  &__in {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -30px;
  }
}

.contacts-group {
  width: 380px;
  margin: 0 15px 30px;
  padding: 34px 20px 28px 34px;
  background-color: #fff;
}

.contact-line {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 12px;

  &:first-child {
    margin-top: 0;
  }

  &__caption {
    color: #7E7E7E;
    margin-bottom: 1px;
  }

  &__value {
    a {
      color: $black;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        color: $orange-hover;
        text-decoration: none;
      }
    }
  }
}

.form-title {
  font-size: 40px;
  line-height: 56px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.form-intro {
  font-size: 20px;
  ;line-height: 28px;
  font-weight: 400;
}

@media (max-width: $screen-xl - 1) {
  .contacts-content {
    padding-top: 5px;
    padding-bottom: 30px;

    &__in {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: -15px;
    }
  }

  .contacts-group {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
    padding: 20px 20px 13px;
  } 

  .contacts-group-header {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;

    &__icon {
      height: 30px;
      margin-right: 9px;
    }
  }

  .icon--contacts-call {
    width: 27px;
    height: 26px;
  }
  
  .icon--contacts-sales-department {
    width: 27px;
    height: 26px;
  }

  .icon--contacts-location {
    width: 27px;
    height: 30px;
  }

  .contact-line {
    font-size: 16px;
    line-height: 24px;
    margin-top: 7px;

    &__caption {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 2px;
    }
  }

  .form-intro {
    font-size: 16px;
    line-height: 24px;
  }

  .contacts-main {
    padding-bottom: 35px;
  }
  
  .requisites {
    padding-top: 28px;
    padding-bottom: 35px;

    .section-title {
      margin-bottom: 7px;
      font-size: 30px;
      line-height: 1.2em;
    }
  }

  .requisites-table {
    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .col {
      padding-left: 0;
      padding-right: 0;
      padding-top: 15px;
    }
  }

  .requisites-card {
    padding: 23px 20px 13px;

    &__title {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 5px;
    }
  }

  .requisites-line {
    padding-top: 12px;
    padding-bottom: 11px;
  }
}