- 
  var company = [
    {
      caption: "ИНН",
      value: "6730005732"
    },
    {
      caption: "КПП",
      value: "673201001"
    },
    {
      caption: "ОКОНХ",
      value: "14172"
    },
    {
      caption: "ОКПО",
      value: "12350648"
    }
  ];

  var bank = [
    {
      caption: "Р/с",
      value: "40702810759310000132"
    },
    {
      caption: "К/с",
      value: "30101810000000000632"
    },
    {
      caption: "Банк",
      value: "Отделение №8609 Сбербанка России г. Смоленск"
    },
    {
      caption: "БИК",
      value: "046614632"
    }
  ];

  var railway = [
    {
      caption: "Ж/д станция",
      value: "Смоленск"
    },
    {
      caption: "Код станции",
      value: "170108"
    },
    {
      caption: "Код грузополучателя",
      value: "2606"
    }
  ];