// В этом файле должны быть стили для БЭМ-блока service-manufacturing, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.service-manufacturing {

  $block-name:                &; // #{$block-name}__element

  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 11px;
  }

  &__main {
    width: calc(100% - 589px);
    padding-top: 11px;
  }

  &__image {
    width: 589px;
    padding-left: 136px;
    font-size: 0;
    line-height: 0;
    flex-shrink: 0;
    position: relative;
  }

  &__intro {
    font-size: 30px;
    line-height: 34px;
    font-weight: 500;
    max-width: 575px;

    p {
      margin: 0 0 34px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 38px;
    max-width: 500px;

    p {
      margin: 0 0 24px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .section-heading {
    margin-right: -100px;
  }
}


.svc-manuf-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: transparent url('../img/service-manuf-bg.png') no-repeat 0 0;
  background-size: cover;
  height: 322px;
  width: 243px;
  padding: 35px 35px 29px 35px;
  color: #fff;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: $blue;
    opacity: 0.75;
  }

  &__icon {
    position: relative;
    z-index: 3;
    margin-bottom: auto;
  }

  &__title {
    font-size: 40px;
    line-height: 34px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
  }

  &__descr {
    position: relative;
    z-index: 3;
    font-size: 26px;
    line-height: 34px;
    font-weight: 400;
    margin-top: 5px;
  }
}

.svc-manuf-benefits {
  margin-top: 100px;

  &__list {
    margin: 0 -20px -40px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
  }

  &__item {
    width: 33.33%;
    padding: 0 20px 40px;
  }
}

.svc-manuf-benefit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  clip-path: polygon(0 0, calc(100% - 40px) 0%, 100% 44px, 100% 100%, 0 100%);
  padding: 35px 35px 29px;
  height: 100%;
  position: relative;

  &__icon {
    font-size: 0;
    line-height: 0;
    margin-bottom: auto;

    img {
      height: 65px;
      width: auto;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    padding-top: 21px;
  }

  &__descr {
    font-size: 16px;
    line-height: 22px;
  }

  &__hover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: $blue;
    color: #fff;
    padding: 35px 35px 29px;
    overflow: hidden;
    transition: opacity .25s ease;

    .svc-manuf-benefit__title {
      padding-top: 0;
    }
  }
  
  &__img {
    font-size: 0;
    line-height: 0;
    // opacity: 0.1;
    position: absolute;
    top: 0;
    right: -61px;

    img {
      height: 234px;
    }
  }

  &:hover {
    .svc-manuf-benefit__hover {
      opacity: 1;
    }
  }
}

@media (max-width: $screen-xl - 1) {
  .service-manufacturing {
    &__wrapper {
      display: block;
      padding-top: 0;
    }

    &__main {
      width: 100%;
      padding-top: 0;
    }

    &__image {
      width: 100%;
      max-width: 589px;
      padding-top: 40px;
    }

    &__intro {
      font-size: 24px;
      line-height: 1.2em;
    }

    .section-heading {
      margin-right: 0;
    }
  }

  .svc-manuf-label {
    width: 200px;
    height: 180px;
    padding: 15px 15px 9px 15px;

    &__icon {
      width: 50px;
      margin-bottom: 30px;
    }

    &__title {
      font-size: 30px;
      line-height: 1em;
    }

    &__descr {
      font-size: 22px;
      line-height: 30px;
    }
  }

  .svc-manuf-benefits {
    &__item {
      width: 100%;
    }
  }

  .svc-manuf-benefit {
    &__icon {
      img {
        height: 50px;
      }
    }

    &__title {
      font-size: 20px;
      line-height: 1.2em;
    }
  }
}