// В этом файле должны быть стили для БЭМ-блока blog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.blog {
    $block-name: &; // #{$block-name}__element

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 47px 16px;
        margin-bottom: 18px;
    }

    @media (max-width: 1000px) {
        &__grid {
            grid-template-columns: 1fr;
        }
    }
}