// В этом файле должны быть стили для БЭМ-блока icon, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.icon {
    $block-name: &; // #{$block-name}__element

    display: inline-block;
    vertical-align: middle;
}

