// В этом файле должны быть стили для БЭМ-блока news, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.news {

  $block-name:                &; // #{$block-name}__element

  // padding-top: 88px;
  // padding-bottom: 100px;

  .swiper-wrapper {
    align-items: stretch;
  }

  .swiper-slide {
    height: auto;
  }
}

.news-slider {
  &__in {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.news-listing {
  &__in {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -40px;
  }
}

.news-listing-card {
  padding: 0 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  height: 100%;
  box-sizing: border-box;

  &__image {
    font-size: 0;
    line-height: 0;
  }

  &__in {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px 30px 27px;
    min-height: 375px;
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    width: 100%;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $orange-hover;
      }
    }
  }

  &__text {
    margin-top: 12px;
    width: 100%;
  }

  &__publish-date {
    color: $gray-darkest;
    margin-bottom: 18px;
  }

  .link-with-arrow {
    font-weight: 600;
  }

  &__detail-link {
    padding-top: 24px;
    margin-top: auto;
  }
}

.news-listing .news-listing-card {
  padding-bottom: 40px;
  width: 33.33%;
  height: auto;
  display: flex;
  flex-direction: column;

  &__in {
    width: 100%;
    min-height: unset;
    height: auto;
    flex-grow: 1;
    padding-top: 21px;
    padding-bottom: 26px;
  }

  &__text {
    margin-top: 13px;
  }

  &__detail-link {
    padding-top: 38px;
  }
}

.load-more {
  text-align: center;
  margin-top: 40px;
}

@media (max-width: $screen-xl - 1) {
  .news-listing-card {
    width: 50%;

    &__in {
      padding: 18px 24px 19px;
      min-height: 340px;
    }

    &__title {
      font-size: 20px;
      line-height: 24px;
    }

    &__text {
      margin-top: 13px;
    }

    &__publish-date {
      font-size: 14px;
      margin-bottom: 14px;
    }
  }

  .news-slider {

    &__in {
      margin-left: -15px;
      margin-right: -15px;
    }

    .news-listing-card {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .news-listing {
    .news-listing-card {
      width: 50%;
    }
  }

  .load-more {
    margin-top: 0px;

    .btn {
      width: 100%;
      max-width: 480px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      justify-content: center;
    }
  }
}

@media (max-width: $screen-md - 1) {
  .news-listing {
    &__in {
      margin-bottom: -30px;
    }
    
    .news-listing-card {
      width: 100%;
      padding-bottom: 30px;

      &__in {
        padding-bottom: 19px;
      }
    }
  }
}

