-
  var news_items = [
    {
      title: "Поздравляем с Днем Рождения коллектив завода!",
      text: "6 июня 2024 г. коллектив кабельного завода встретил знаменательное событие — Конкорду исполнилось 33 года!",
      date: "29.08.2024"
    },
    {
      title: "Кабельный завод \"Конкорд\" прошел аккредитацию Минпромторга!",
      text: "Кабельный завод Конкорд получил аккредитацию Минпромторга! ",
      date: "29.08.2024"
    },
    {
      title: "Обновление визуального стиля \"Конкорд\"",
      text: "Уважаемые клиенты, партнеры, дилеры нашей компании!",
      date: "29.08.2024"
    },
    {
      title: "Поздравляем с Днем Рождения коллектив завода!",
      text: "6 июня 2024 г. коллектив кабельного завода встретил знаменательное событие — Конкорду исполнилось 33 года!",
      date: "29.08.2024"
    },
    {
      title: "Кабельный завод \"Конкорд\" прошел аккредитацию Минпромторга!",
      text: "Кабельный завод Конкорд получил аккредитацию Минпромторга! ",
      date: "29.08.2024"
    },
    {
      title: "Обновление визуального стиля \"Конкорд\"",
      text: "Уважаемые клиенты, партнеры, дилеры нашей компании!",
      date: "29.08.2024"
    }
  ];