-
  var vacancy_benefits = [
    {
      icon: "vacancies-benefit-icon-1.svg",
      text: "Производство и&nbsp;продажа кабеля с&nbsp;1991&nbsp;г. по&nbsp;России и&nbsp;странам СНГ"
    },
    {
      icon: "vacancies-benefit-icon-2.svg",
      text: "Полный технологический цикл производства кабельных изделий"
    },
    {
      icon: "vacancies-benefit-icon-3.svg",
      text: "Собственная отдельная лаборатория контроля качества продукции"
    },
    {
      icon: "vacancies-benefit-icon-4.svg",
      text: "Сотрудничество с&nbsp;ведущими электротехническими компаниями страны"
    },
    {
      icon: "vacancies-benefit-icon-5.svg",
      text: "Более 450 сотрудников в&nbsp;штате, более 70&nbsp;марок и&nbsp;3000 типоразмеров"
    }
  ];

  var vacancies_list = [
    {
      name: "Оператор экструдера",
      salary: "от 70 000 ₽",
      workSchedule: "Полный день"
    },
    {
      name: "Скрутчик кабеля",
      salary: "от 60 000 ₽",
      workSchedule: "Полный день"
    },
    {
      name: "Грузчик",
      salary: "от 50 000 ₽",
      workSchedule: "Полный день"
    },
    {
      name: "Электромонтер",
      salary: "от 60 000 ₽",
      workSchedule: "Полный день"
    },
    {
      name: "Разнорабочий на производство",
      salary: "от 60 000 ₽",
      workSchedule: "Полный день"
    },
    {
      name: "Опрессовщик кабеля",
      salary: "от 65 000 ₽",
      workSchedule: "Сменный"
    },
    {
      name: "Диспетчер службы безопасности/специалист службы безопасности",
      salary: "от 40 000 ₽",
      workSchedule: "Полный день"
    },
    {
      name: "Менеджер по сопровождению клиентов",
      salary: "от 60 000 ₽",
      workSchedule: "Полный день"
    }
  ];