// В этом файле должны быть стили для БЭМ-блока vacancies, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.vacancies {

  $block-name:                &; // #{$block-name}__element
}

.hero-vacancies {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  position: relative;

  /*&::after {
    content: '';
    display: block;
    // background-color: #3B61A5;
    background: linear-gradient(270deg, rgba(59, 97, 165, 1) 0%, #3B61A5 100%);
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }*/

  .breadcrumbs {
    text-align: left;
    
    &__inner {
      color: #fff;
    }

    a {
      color: #fff;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
  }

  .page-title {
    text-transform: uppercase;
    margin: 0 0 31px;

    h1 {
      margin: 0;
    }
  }
}

.vacancies-benefits {
  &__title {
    font-size: 30px;
    line-height: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 43px;
  }

  &__list {
    width: 100%;
    overflow: hidden;
  }
  
  &__list-inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }

  &__item {
    padding: 0 15px 40px 15px;
    width: 20%;
  }
}

.vacancies-benefit {
  &__icon {
    font-size: 0;
    line-height: 0;
    margin-bottom: 16px;
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }
}

.vacancies-content {
  padding-top: 100px;
}

.vacancies-listing {
  &__inner {
    margin-left: -11px;
    margin-right: -11px;
    margin-bottom: -23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  &__item {
    padding: 0 11px 23px;
    width: 50%;
  }
}

.vacancy-card {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #fff;
  clip-path: polygon(calc(100% - 45px) 0%, 100% 45px, 100% 100%, 0 100%, 0 0);
  color: $black;
  text-decoration: none;
  padding: 42px 100px 27px 33px;
  position: relative;
  transition: background-color .25s ease;

  &__name {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 25px;
    transition: color .25s ease;
  }

  &__icon {
    display: block;
    position: absolute;
    top: 39px;
    right: 35px;
    width: 36px;
    height: 36px;
    font-size: 0;
    line-height: 0;

    .circle-link {
      width: 36px;
      height: 36px;
      line-height: 0;
      padding: 9px;
    }
    

    .icon {
      width: 18px;
      height: 18px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__info {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -18px;
    margin-right: -17px;
    margin-bottom: -35px;
  }

  &:hover {
    color: $black;
    text-decoration: none;

    .vacancy-card {
      &__name {
        color: $orange-hover;
      }
    }

    .circle-link {
      background-color: $orange-hover;
    }
  }

  &:focus {
    color: $black;
  }
}

.vacancy-description {
  margin-left: 18px;
  margin-right: 17px;
  margin-bottom: 35px;

  &__caption {
    font-size: 16px;
    line-height: 22px;
    color: #7E7E7E;
    margin-bottom: 3px;
  }

  &__value {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }
}

@media (max-width: $screen-xl - 1) {
  .vacancies-benefits {
    padding-bottom: 56px;

    &__list-inner {
      margin-bottom: -26px;
    }

    &__item {
      width: 33.33%;
      padding-bottom: 26px;
    }

    &__title {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 23px;
    }
  }

  .vacancies-benefit {
    &__icon {
      margin-bottom: 10px;

      img {
        height: 46px;
      }
    }

    &__text {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .hero-vacancies {
    .page-title {
      margin-bottom: 16px;
    }

    .breadcrumbs {
      &::after {
        content: unset;
        display: none;
      }
    }
  }

  .vacancies-content {
    padding-top: 30px;
  }

  .vacancy-card {
    padding: 20px 55px 20px 20px;
    clip-path: polygon(calc(100% - 30px) 0%, 100% 23px, 100% 100%, 0 100%, 0 0);

    &__name {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 15px;
    }

    &__icon {
      width: 22px;
      height: 22px;
      top: 21px;
      right: 20px;

      .circle-link {
        width: 22px;
        height: 22px;
        padding: 6px 5px 6px 6px;
      }

      .icon {
        width: 11px;
        height: 11px;
      }
    }
  }

  .vacancy-description {
    &__caption {
      font-size: 14px;
      line-height: 18px;
    }

    &__value {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media (max-width: $screen-md - 1) {
  .vacancies-benefits {
    &__item {
      width: 50%;
    }
  }

  .vacancies-listing {
    &__inner {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: -15px;
    }

    &__item {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 15px;
    }
  }
}