// В этом файле должны быть стили для БЭМ-блока breadcrumbs, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.breadcrumbs {
  margin-bottom: 35px;

  &__inner {
    list-style: none;
    padding: 17px 0 0 0;
    font-size: 0;
    line-height: 0;    
    font-weight: 400;
    color: #7E7E7E;
  }

  a {
    color: #7E7E7E;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $orange-hover;
      text-decoration: none;
    }
  }

  &__item {
    display: inline-block;
    white-space: nowrap;
    font-size: 15px;
    line-height: 1.2em;

    &:not(:last-child):after {
      content: '/';
      display: inline-block;
      margin-left: 5px;
      margin-right: 4px;
    }
  }

  @media (max-width: $screen-xl - 1) {
    margin-bottom: 18px;

    &__inner {
      display: block;
      padding-top: 24px;
    }

    &__item {
      font-size: 12px;
      line-height: 14px;
    }
  }

  @media (max-width: $screen-md - 1) {
    position: relative;
    margin-right: -15px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 78px;
      background: linear-gradient(90deg, transparent, #f5f5f5);
      pointer-events: none;
    }

    &__inner {
      // margin-bottom: 19px;
      white-space: nowrap;
      overflow-x: auto;
      padding-right: 30px;
    }
  }
}

.inner-page {
  .breadcrumbs {
    padding-top: 3px;
  }
}