// В этом файле должны быть стили для БЭМ-блока accordion, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.accordion {
    $block-name: &; // #{$block-name}__element

    &__item {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #FFFFFF;

        &--collapsed {
            #{$block-name}__content {
                height: 0;
                padding-top: 0;
                padding-bottom: 0;
            }

            #{$block-name}__icon {
                transform: rotate(45deg);
            }
        }
    }

    &__title {
        position: relative;
        align-items: center;
        padding: 0;
        border-radius: 3px;

        user-select: none;
        cursor: pointer;

        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: -0.25px;

        .icon {
            display: inline-block;
            margin-right: 8px;
        }
    }

    &__title-text {
        display: flex;
        align-items: center;
    }

    &__title-helper {
        font-weight: 300;
        font-size: 12px;
        color: #9f9e9e;
        margin-top: 5px;
    }

    &__icon {
        position: absolute;
        right: 20px;
        top: 5px;
        margin: 0;
        width: 10px;
        height: 10px;

        image-rendering: -webkit-optimize-contrast;
        transform: rotate(270deg);
        transition: transform $transition-time;
        margin-left: auto;

        &::before {
            content: '';
            display: block;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L1 11' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 1L11 11' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-size: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        overflow: hidden;
        transition-property: height, padding;
        transition-duration: $transition-time;
        transition-timing-function: ease-out;
        height: auto;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        box-sizing: content-box;
        padding: 16px 0 0;

        & > :last-child {
            margin-bottom: 0;
        }
    }

    &__close {

        text-align: center;
        margin: 0 auto;
        display: block;
        width: fit-content;
    }

    @media (max-width: 1000px) {
        &__item {
            margin-bottom: 8px;
            padding-bottom: 8px;
        }

        &__title {
            font-size: 14px;
            line-height: 20px;
            padding-right: 20px;
        }

        &__icon {
            right: 6px;
        }
    }
}
