// В этом файле должны быть стили для БЭМ-блока main-menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.main-menu {
    $block-name: &; // #{$block-name}__element

    display: none;
    position: fixed;
    top: $header-height;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    z-index: 100;
    background: white;

    .menu-opened & {
        display: block;
    }

    &__image {
        position: fixed;
        top: $header-height;
        left: 0;
        bottom: 0;
        right: 50%;
        margin-right: 16px;
        background-color: transparent;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__inner {
        height: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        padding-bottom: 32px;
        padding-left: calc(50% + 8px);
    }

    &__search {
        display: flex;
        gap: 16px;
        margin-bottom: 56px;
    }

    &__search-input {
        margin: 0;
        flex: 1;

        .field-text__input {
            width: 100%;
            height: 41px;
            padding: 12px;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.2;
            border: 1px solid #1A1A1A;
        }
    }

    &__search-button {
        width: 127px;
        height: 41px;
        background: #1A1A1A;
        border-radius: 0;
        color: white;
        padding: 0;
        font-weight: 500;
        font-size: 14px;
        text-transform: none;
        border: none;

        &:hover, &:focus {
            background: #66A9CB;
            color: white;
        }
    }

    &__nav-wrap {
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr) 20%;
        gap: 41px 0px;
    }

    &__nav {
        flex: 1;

        &--wide {
            width: 100%;
            flex: auto;

            #{$block-name}__nav-list {
                columns: 2;
            }
        }

        &--catalog {
            grid-column-end: span 4;

            & > .main-menu__nav-list {
                display: grid;
                grid-template-columns: repeat(3, 1fr) 17%;
                gap: 0px;
            }

            .main-menu__nav-item {
                flex: 1;
            }

            .main-menu__nav-link + .main-menu__nav-list {
                margin-top: 8px;
            }
        }
    }

    &__nav-title {
        border-bottom: 1px solid #000000;
        padding-bottom: 14px;
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;
        margin-bottom: 12px;
    }

    &__nav-list {
        padding: 0;
        margin: 0;
        list-style: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
    }

    &__nav-item {
        margin-bottom: 0;
        padding-bottom: 8px;
    }

    &__nav-link {
        text-decoration: none;

        &:hover {
            color: $gray;
        }
    }

    &__info {
        margin-top: auto;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 64px 18px;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        margin-bottom: 32px;
    }

    &__buttons {
        display: flex;
        gap: 16px;
    }

    &__button {
        flex: 1;
        height: 41px;
        background: #1A1A1A;
        color: white;
        border-radius: 0;
        padding: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        text-transform: none;
        border: none;

        &:hover, &:focus {
            background: #66A9CB;
            color: white;
        }
    }

    & &__social {
        display: flex;
        gap: 19px;

        .social__link {
            width: 41px;
            height: 41px;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }

    @media (max-width: 1000px) {
        .menu-opened & {
            display: none;
        }

        top: 56px;

        &__image {
            display: none;
        }

        &__content {
            padding: 0;
        }

        &__search {
            padding-top: 24px;
            background: #ffffff;
            margin-bottom: 22px;
            position: sticky;
            top: 0;
        }

        &__search-input {
            height: 40px;

            .field-text__input {
                height: 40px;
            }
        }

        &__search-button {
            position: absolute;
            top: 24px;
            bottom: 0;
            right: 0;
            font-size: 0;
            width: 24px;
            height: 24px;
            margin: auto 8px;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%238A9199' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21.0004 20.9999L16.6504 16.6499' stroke='%238A9199' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-color: transparent;

            &:hover, &:focus {
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%238A9199' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21.0004 20.9999L16.6504 16.6499' stroke='%238A9199' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                background-color: transparent;
            }
        }

        &__nav-item {
            padding-bottom: 12px;
        }

        & &__social {
            display: flex;
            gap: 12px;
            margin-bottom: 24px;

            .social__link {
                width: 32px;
                height: 32px;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &__info {
            margin-bottom: 30px;
            gap: 16px 8px;
        }

        &__button {
            grid-column: 1 / 3;
        }

        &__contacts {
            display: block;
            grid-column: 1 / 3;
        }

        &__info-text, &__info-workhours, &__contacts {
            margin-top: 16px;
        }

        &__info-text {
            order: 3;
        }

        &__info-workhours {
            order: 4;
        }

        &__contacts {
            order: 9;
        }
    }
}
