//- Все примеси в этом файле должны начинаться c имени блока (vacancy-single)

mixin vacancy-single(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +vacancy-single('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' vacancy-single--' + modsList[i].trim();
      }
    }

  .vacancy-single.bg-gray(class=allMods)&attributes(attributes)
    block